<template>
  <div>
    <v-divider class="mb-3" />
    <div class="grey--text text--darken-2 font-weight-bold mb-3">
      <v-icon class="mt-1 float-right" size="20" @click="show = !show">
        {{ `mdi-chevron-${show ? 'up' : 'down'}` }}
      </v-icon>
      {{ title }}
    </div>
    <p v-if="loading" class="text-center my-6">
      <v-progress-circular color="primary" indeterminate />
    </p>
    <ul v-else v-show="!show" class="pa-0 ml-2">
      <li>
        <nuxt-link
          :to="{ name: $route.name }"
          class="grey--text text--darken-1"
        >
          {{ titleSection }}
        </nuxt-link>
      </li>
      <li v-for="(item, i) in items" :key="i">
        <nuxt-link
          :to="{ name: $route.name, params: { slug: item.slug }}"
          class="grey--text text--darken-1"
          :class="item.slug === $route.params.slug ? 'font-weight-bold' : ''"
        >
          {{ item.name }}
        </nuxt-link>
        <nuxt-link v-if="item.slug === $route.params.slug" :to="{ name: $route.name }">
          <v-icon class="float-right mt-1" small>
            mdi-close
          </v-icon>
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    index: {
      required: true
    }
  },

  data: vm => ({
    show: vm.index !== 1,
    loading: false
  }),

  async fetch () {
    await this.load()
  },

  computed: {
    titleSection () {
      if (this.title === 'Coches por categoría') { return 'Todas las categorías' } else if (this.title === 'Coches por combustible') { return 'Todos los combustibles' } else { return 'Todas las duraciones' }
    }
  },

  methods: {
    async load () {
      this.loading = true
      try {
        const response = await this.$axios.get(this.$options.resourceUrl, {
          params: {
            enabled: 1
          }
        })

        this.setItems(response.data['hydra:member'])
      } catch (e) {
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>
ul {
  list-style-type: none;
}
</style>
