<template>
  <v-combobox
    v-bind="$attrs"
    :value="value"
    :items="items"
    :search-input.sync="search"
    :loading="loading"
    :menu-props="{ closeOnClick: true, closeOnContentClick: true }"
    item-value="@id"
    item-text="name"
    cache-items
    hide-no-data
    hide-selected
    outlined
    clearable
    dense
    small-chips
    v-on="$listeners"
    @change="change($event)"
  />
</template>

<script>
import qs from 'qs'

export default {
  props: {
    value: {
      required: true
    }
  },

  data: () => ({
    items: [],
    search: '',
    loading: false
  }),

  watch: {
    async search (value) {
      this.loading = true

      try {
        const params = {
          name: value,
          'order[name]': 'asc'
        }

        const response = await this.$axios.get('/cnaes', {
          params,
          paramsSerializer: (params) => {
            return qs.stringify(params)
          }
        })

        this.items = response.data['hydra:member']
      } catch (e) {
        console.log(e)
      } finally {
        this.loading = false
      }
    }
  },

  methods: {
    change (event) {
      this.search = ''
      this.$emit('input', event)
    }
  }
}
</script>
