<template>
  <v-dialog v-model="dialog" max-width="600" persistent>
    <template slot="activator" slot-scope="{ attrs, on }">
      <v-btn
        :disabled="paymentType === null"
        class="text-none mt-3 font-weight-bold"
        color="secondary"
        x-large
        block
        depressed
        tile
        v-bind="attrs"
        v-on="on"
      >
        ¡VAMOS!
      </v-btn>
    </template>

    <v-card>
      <v-btn class="float-right mt-3 mr-4" icon small @click="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>

      <v-card-title class="mb-6 text-h6">
        ¿Encuentras lo que estás buscando?
      </v-card-title>

      <v-card-text>
        <hubspot-lead-form
          form-type="detail"
          :car-provider="paymentType.supplierName"
          :car-brand-name="paymentType.carBrand"
          :car-model="paymentType.carModel"
          :car-trimm="paymentType.carVersion"
          :car-color="paymentType.color"
          :car-kms="paymentType.annualKm"
          :car-months="paymentType.deadlines"
        >
          <!-- <v-btn
            v-if="paymentType && paymentType.supplierName === 'Leasys'"
            id="btn-quoting-form"
            color="primary"
            :x-large="$vuetify.breakpoint.lgAndUp"
            :block="$vuetify.breakpoint.lgAndUp"
            depressed
            @click="book"
          >
            Reserva Online
          </v-btn> -->
        </hubspot-lead-form>
        <!-- <v-form ref="form" @keyup.native.enter="submit">
          <v-container>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="$v.form.name.$model"
                  :error-messages="handleErrors($v.form.name)"
                  label="Nombre"
                  outlined
                  dense
                  @input="$v.form.name.$touch()"
                  @blur="$v.form.name.$touch()"
                />
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="$v.form.phoneNumber.$model"
                  :error-messages="handleErrors($v.form.phoneNumber)"
                  label="Teléfono"
                  outlined
                  dense
                  @input="$v.form.phoneNumber.$touch()"
                  @blur="$v.form.phoneNumber.$touch()"
                />
              </v-col>
              <v-col cols="12" md="12">
                <v-text-field
                  v-model="$v.form.email.$model"
                  :error-messages="handleErrors($v.form.email)"
                  label="Email"
                  outlined
                  dense
                  @input="$v.form.email.$touch()"
                  @blur="$v.form.email.$touch()"
                />
              </v-col>
              <v-col cols="12" md="12">
                <v-checkbox
                  v-model="$v.form.conditions.$model"
                  :error-messages="handleErrors($v.form.conditions)"
                  class="float-left"
                  @input="$v.form.conditions.$touch()"
                  @blur="$v.form.conditions.$touch()"
                />
                He leído y acepto los
                <nuxt-link :to="{ name: 'terminos-y-condiciones' }">
                  Términos y condiciones
                </nuxt-link>
                de uso y la
                <nuxt-link :to="{ name: 'politica-privacidad' }">
                  Política de privacidad
                </nuxt-link>
              </v-col>
            </v-row>
          </v-container>
        </v-form> -->
      </v-card-text>
      <!--
      <v-card-actions>
        <v-row>
          <v-col cols="6">
            <v-btn
              id="btn-quoting-form"
              v-if="paymentType && paymentType.supplierName === 'Leasys'"
              color="primary"
              :x-large="$vuetify.breakpoint.lgAndUp"
              :block="$vuetify.breakpoint.lgAndUp"
              depressed
              @click="book"
            >
              Reserva Online
            </v-btn>
          </v-col>
          <v-col cols="6" align="right">
            <v-btn
              id="btn-contact"
              color="secondary"
              :loading="submitting"
              :x-large="$vuetify.breakpoint.lgAndUp"
              :block="$vuetify.breakpoint.lgAndUp"
              depressed
              @click="submit"
            >
              Te llamamos
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions> -->
    </v-card>
  </v-dialog>
</template>

<script>
// import { maxLength, minLength, required } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'
// import vuelidate from '~/mixins/vuelidate'

export default {
  // mixins: vuelidate,

  props: {
    paymentType: {
      required: true,
      type: Object,
      default: () => ({})
    }
  },

  data: () => ({
    // form: {
    //   name: '',
    //   phoneNumber: '',
    //   email: '',
    //   conditions: false
    // },
    dialog: false,
    submitting: false
  }),

  // validations () {
  //   return {
  //     form: {
  //       name: {
  //         required
  //       },

  //       phoneNumber: {
  //         required,
  //         minLength: minLength(9),
  //         maxLength: maxLength(9)
  //       },

  //       email: {
  //         required
  //       },

  //       conditions: {
  //         required,
  //         valid: (value, vm) => value === true
  //       }
  //     }
  //   }
  // },

  methods: {
    ...mapActions({
      setSelectedCar: 'quotation/setSelectedCar',
      setFormContact: 'customer/setFormContact',
      setSearched: 'customer/setSearched'
    }),

    // async submit () {
    //   this.$v.form.$touch()
    //   if (this.$v.form.$pending || this.$v.form.$error) { return }

    //   this.submitting = true

    //   try {
    //     const response = await this.$axios.post('contact-call-yous', {
    //       name: this.form.name,
    //       phoneNumber: this.form.phoneNumber,
    //       email: this.form.email,
    //       paymentType: this.paymentType['@id']
    //     })

    //     if (this.paymentType.supplierName !== 'Leasys') {
    //       this.$router.push({ name: 'mas-datos', query: { lid: response.data['@id'] } })
    //     }
    //     this.$emit('submitted')
    //     this.close()
    //   } catch (e) {
    //     this.$toast.error(e.response.data['hydra:description'])
    //   } finally {
    //     this.submitting = false
    //   }
    // },

    book () {
      // this.$v.form.$touch()
      // if (this.$v.form.$pending || this.$v.form.$error) { return }

      // this.setSelectedCar(this.paymentType['@id'])
      // this.setFormContact(this.form)
      // this.setSearched(null)

      // try {
      //   await this.$axios.post('welcome-contacts', {
      //     firstName: this.form.name,
      //     phoneNumber: this.form.phoneNumber,
      //     email: this.form.email,
      //     paymentType: this.paymentType['@id']
      //   })
      // } catch (e) {
      //   this.$toast.error(e.response.data['hydra:description'])
      // } finally {
      //   this.submitting = false
      // }

      this.$router.push({ name: 'quotings-customer-id', params: { id: this.paymentType['@id'] } })
    },

    close () {
      this.dialog = false
      this.item = null
      // this.$refs.form.reset()
      // this.$v.$reset()
    }
  }
}
</script>
