<template>
  <div>
    <v-card v-if="!confirm" color="black" flat tile>
      <v-card-text class="white--text">
        <p class="text-center text-h6">
          Elige el renting del {{ car.model.brand.name }} {{ car.model.model }} a tu medida
        </p>
        <v-form>
          <v-row>
            <v-col cols="12" md="6">
              <v-select
                v-model="form.deadline"
                :items="deadlines"
                item-value="@id"
                item-text="name"
                placeholder="Meses"
                background-color="white"
                color="grey"
                return-object
                solo
                dense
                @change="onDeadlineChanged"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-select
                v-model="form.kilometer"
                :items="kilometers"
                placeholder="Km anual"
                background-color="white"
                color="grey"
                solo
                dense
                @change="onKilometerChanged"
              />
            </v-col>
            <v-col cols="12">
              <v-select
                v-model="form.color"
                :items="colors"
                item-value="@id"
                item-text="name"
                placeholder="Color"
                background-color="white"
                color="grey"
                return-object
                solo
                dense
              />
            </v-col>
          </v-row>
          <v-row v-if="paymentType">
            <v-col cols="12">
              <p class="float-right">
                <span class="secondary--text text-h4 font-weight-bold">
                  {{ `${paymentType.totalMonthlyFee}€` }}
                </span> / Mes<br>
                IVA incluido
              </p>
              <p class="text-h6 font-weight-bold">
                {{ `${car.model.brand.name} ${car.model.model}` }}
              </p>
              <p class="text-h5 mt-n4">
                {{ car.version }}
              </p>
              <p class="caption mt-n4">
                {{ form.color.name }}
              </p>
              <p class="caption mt-n4">
                {{ `${form.deadline} meses - ${form.kilometer} Km/año` }}
              </p>
            </v-col>
          </v-row>
          <car-call-dialog v-if="paymentType" :payment-type="paymentType" @submitted="confirm = true" />
        </v-form>
      </v-card-text>
    </v-card>
    <v-card v-else class="sticky text-center pa-6" color="black" flat>
      <v-card-text>
        <p class="my-6">
          <v-icon color="green lighten-1" size="60">
            mdi-check-circle-outline
          </v-icon>
        </p>
        <p class="white--text text-h6">
          ¡Gracias por contactar con nosotros! <br />
          Nos pondremos en contacto contigo muy pronto.
        </p>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    car: {
      required: true
    }
  },

  data: () => ({
    form: {
      deadline: null,
      kilometer: null,
      color: null
    },
    paymentTypes: [],
    loading: false,
    submitting: false,
    submitted: false,
    confirm: false
  }),

  computed: {
    deadlines () {
      const deadlines = []

      for (let i = 0; i < this.paymentTypes.length; i++) {
        const paymentType = this.paymentTypes[i]
        if (!deadlines.includes(paymentType.deadlines)) {
          deadlines.push(paymentType.deadlines)
        }
      }

      return deadlines
    },

    kilometers () {
      const kilometers = []

      for (let i = 0; i < this.paymentTypes.length; i++) {
        const paymentType = this.paymentTypes[i]
        if (this.form.deadline && paymentType.deadlines['@id'] === this.form.deadline['@id'] && !kilometers.includes(paymentType.annualKm)) {
          kilometers.push(paymentType.annualKm)
        }
      }

      return kilometers
    },

    colors () {
      const colors = []

      for (let i = 0; i < this.paymentTypes.length; i++) {
        const paymentType = this.paymentTypes[i]

        if (this.form.deadline && paymentType.deadlines === this.form.deadline && paymentType.annualKm === this.form.kilometer && !colors.includes(paymentType.color)) {
          colors.push(paymentType.color)
        }
      }

      return colors
    },

    cheapestPaymentType () {
      let cheapestPaymenType = null

      for (let i = 0; i < this.paymentTypes.length; i++) {
        const paymenType = this.paymentTypes[i]
        if (cheapestPaymenType === null || paymenType.totalMonthlyFee < cheapestPaymenType.totalMonthlyFee) {
          cheapestPaymenType = paymenType
        }
      }

      return cheapestPaymenType
    },

    paymentType () {
      let selectedPaymenType = null

      for (let i = 0; i < this.paymentTypes.length; i++) {
        const paymenType = this.paymentTypes[i]
        if (this.form.deadline && paymenType.deadlines === this.form.deadline && paymenType.annualKm === this.form.kilometer && this.form.color && paymenType.color === this.form.color) {
          selectedPaymenType = paymenType
        }
      }

      return selectedPaymenType
    }
  },

  async mounted () {
    await this.loadPaymentTypes()
    if (this.cheapestPaymentType) {
      this.form.deadline = this.cheapestPaymentType.deadlines
      this.form.kilometer = this.cheapestPaymentType.annualKm
      this.form.color = this.cheapestPaymentType.color
    }
  },

  methods: {
    async loadPaymentTypes () {
      this.loading = true
      try {
        const response = await this.$axios.get('payment-types', {
          params: {
            car: this.car.id,
            published: true
          }
        })

        this.paymentTypes = response.data['hydra:member']
      } catch (e) {
        this.$toast.error(e.response.data['hydra:description'])
      } finally {
        this.loading = false
      }
    },

    onDeadlineChanged () {
      this.form.kilometer = null
      this.form.color = null
    },

    onKilometerChanged () {
      this.form.color = null
    },

    async submit () {
      this.submitting = true

      try {
        await this.$axios.post('contacts', {
          name: this.form.name,
          phoneNumber: this.form.phoneNumber,
          message: this.form.message
        })

        this.submitted = true
      } catch (e) {
        this.$toast.error(e.response.data['hydra:description'])
      } finally {
        this.submitting = false
      }
    }
  }
}
</script>
