<template>
  <div>
    <section class="py-2">
      <v-container class="pb-0">
        <v-breadcrumbs :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" />
        <v-row>
          <v-col cols="12">
            <h1 class="mb-3 mt-6">
              {{ 'Renting' + (facet ? ` ${facet.name}` : ' particulares') }}
            </h1>
            <p>
              {{ headText }}
            </p>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <search-main-section taxonomy="individual">
      <template slot="title">
        <h2 class="subtitle-1 font-weight-bold mb-3">
          {{ 'Renting de ' + (facet ? ` ${facet.name}s para particulares` : ' coches para particulares') }}
        </h2>
      </template>
    </search-main-section>

    <section v-if="!facet" class="py-8" style="background-color: #F6F6F6;">
      <v-container>
        <v-row>
          <v-col cols="12">
            <v-img
              :src="require('~/assets/images/renting/personal.png?webp')"
              class="float-md-left mr-6 mb-6"
              :width="$vuetify.breakpoint.smAndDown ? 'auto' : 300"
              aspect-ratio="1"
              alt="renting particulares"
              title="renting particulares"/>
            <h3 class="text-h5 font-weight-bold mb-3">
              Ventajas del renting de coches para particulares
            </h3>
            <p>
              <strong>Elige tu coche perfecto, al mejor precio:</strong> cada día trabajamos para diseñar las mejores soluciones de renting del mercado, para que puedas estrenar coche al mejor precio.
            </p>
            <p>
              <strong>Di adiós al papeleo y a las esperas:</strong> todas nuestras solicitudes de renting de coches para particulares son gestionadas de forma 100% online y en unos minutos, nunca tendrás que rellenar ninguna documentación con nosotros, ni pisar un concesionario o soportar largas esperas.
            </p>
            <p>
              <strong>Conduce con todo incluido y sin pagar entrada:</strong> tu cuota mensual de renting es fija y transparente, e incluye seguro a todo riesgo sin franquicia, impuestos, mantenimiento, y entrega a domicilio gratuita. ¿Lo mejor de todo? Empiezas a pagar tu cuota mensual el mes después de haber recibido tu coche de renting.
            </p>
            <p>
              En Vamos estamos redefiniendo la movilidad para que tú <strong>sólo tengas que disfrutar de conducir</strong> tu vehículo. Tenemos como misión facilitarte la vida: despídete de esperar meses, de todo el papeleo, de pagar una entrada o de buscar seguro de coche. En Vamos tenemos nuestra propia tecnología para que tanto el proceso de elegir como el de recibir el coche se adapte a nosotros y a nuestras necesidades.
            </p>

            <h4 class="text-h6 font-weight-bold mb-3">
              Cómo funciona el renting para particulares
            </h4>
            <p>
              Se trata de <strong>un alquiler (a medio o largo plazo) que incluye todos los servicios y gastos</strong> a cambio de una cuota mensual. De esta manera, tú, como usuario, no serás el dueño del coche. Serás el inquilino de un bien durante un tiempo determinado.
            </p>
            <p>
              Vamos va un paso más allá. Simplificando la experiencia y reduciendo los tiempos al máximo entregando los coches en <strong>15 días hábiles.</strong> No hay sitio (ni tiempo) para la frustración en nuestro proceso: eliges, personalizas tu renting y reservas.
            </p>

            <h4 class="text-h6 font-weight-bold mb-3">
              Requisitos del renting para particulares
            </h4>
            <p>
              A diferencia de otras opciones, este tipo de renting <strong>puede ser contratado por cualquier persona</strong>. Y decimos “cualquier persona” porque no hace falta que tengas carnet de conducir. En Vamos, estos son los tres requisitos para el renting de particulares:
            </p>
            <ul class="mb-3">
              <li>
                Tener, como mínimo, <strong>18 años</strong>
              </li>
              <li>
                No estar en ningún fichero de <strong>morosidad</strong>
              </li>
              <li>
                Tener <strong>banca online</strong> y que ésta tenga más de un año de antigüedad
              </li>
            </ul>

            <h4 class="text-h6 font-weight-bold mb-3">
              Ventajas del renting para particulares
            </h4>
            <p>
              La principal ventaja del renting de coches para particulares está en la cuota mensual. La razón es simple: <strong>incluye todo menos el carburante.</strong>
            </p>
            <p>
              Tendrás <strong>seguro a todo riesgo y en el caso de Vamos, sin franquicia.</strong> O lo que es lo mismo: la máxima protección.
            </p>
            <ul class="mb-3">
              <li>
                <strong>Los impuestos</strong> (tanto el de Matriculación como el de Circulación sin olvidar, por ejemplo, el IVA) también están incluidos
              </li>
              <li>
                Nos encargamos, además, de la <strong>Inspección Técnica del Vehículo (ITV)</strong>, cuando sea necesario
              </li>
              <li>
                Por otro lado, tampoco tendrás que ocuparte <strong>del mantenimiento, de las revisiones o del cambio de neumáticos.</strong> Todo esto está incluido
              </li>
              <li>
                Si necesitas <strong>asistencia en carretera</strong>, no te preocupes. También incluye este servicio
              </li>
              <li>
                Y, además, podrás recurrir a la <strong>gestión de las multas</strong> si te ponen una
              </li>
            </ul>
            <p>
              A estas ventajas, hay que añadir que en Vamos, <strong>todo el proceso es online, no se necesita entrada o aval y podrás estrenar coche cada pocos años</strong> teniendo a tu disposición los últimos modelos del mercado.
            </p>
          </v-col>
        </v-row>
        <v-row class="mb-16">
          <v-col
            v-for="(item, i) in items"
            :key="i"
            cols="6"
            md="2"
            offset="0"
            :offset-md="i % 5 === 0 ? 1 : 0"
            align="center"
          >
            <v-card color="transparent" flat tile>
              <v-card-text>
                <img :src="require(`~/assets/icons/facet/${i + 1}.svg`)" :alt="item.title" :title="item.title" height="40">
                <p class="font-weight-bold text-body-1 black--text mt-6">
                  {{ item.title }}
                </p>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section class="py-10 white--text" style="background-color: #1d1c1b;">
      <v-container>
        <v-row class="text-center">
          <v-col cols="12" md="6" offset-md="3">
            <h3 class="text-h4 font-weight-bold">
              ¿Eres autónomo o empresa y necesitas un renting?
            </h3>
            <p class="mt-6">
              En Vamos también tenemos opciones para que puedas deducirte el IVA, desgravarte el IRPF y mucho más
            </p>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="4" offset-md="2">
            <v-btn
              :to="{ name: 'renting-coches-autonomos-slug' }"
              class="text-none text-caption"
              block
              outlined
              depressed
              dark
              large
            >
              Ver renting de coches para autónomos
            </v-btn>
          </v-col>
          <v-col cols="12" md="4">
            <v-btn
              :to="{ name: 'renting-coches-empresas-slug' }"
              class="text-none text-caption"
              block
              outlined
              depressed
              dark
              large
            >
              Ver renting de coches para empresas
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    items: [
      {
        title: 'Asistencia en carretera'
      }, {
        title: 'Cambio de neumáticos'
      }, {
        title: 'Mantenimiento y revisiones'
      }, {
        title: 'Impuestos incluidos'
      }, {
        title: 'Seguro a todo riesgo sin franquicia'
      }
    ]
  }),

  head () {
    if (!this.facet) {
      return {
        title: '▷ Renting Particulares《Ofertas Diciembre》| Sin entrada',
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: '✌️ ¡Descuentos hasta final de año! Las mejores ofertas de renting de coches para particulares. ✅ Sin Entrada ✅ Todo Incluido.'
          }
        ],
        link: [
          {
            hid: 'canonical',
            name: 'canonical',
            content: 'https://www.vamos.es/renting-coches-particulares'
          }
        ]
      }
    }

    const data = {
      title: this.facet.metaTitle ? this.facet.metaTitle : this.facet.name,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.facet.metaDescription ? this.facet.metaDescription : this.facet.name
        }
      ],
      link: []
    }

    if (this.facet.metaRobots) {
      data.meta.push({
        hid: 'robots',
        name: 'robots',
        content: this.facet.metaRobots
      })
    }

    if (this.facet.urlCanonical) {
      data.link.push({
        hid: 'canonical',
        rel: 'canonical',
        content: this.facet.urlCanonical
      })
    }

    return data
  },

  computed: {
    ...mapGetters({
      facet: 'search/facet'
    }),
    breadcrumbsItems () {
      const items = [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: 'Particulares',
          disabled: !this.facet,
          href: '/renting-coches-particulares'
        }
      ]

      if (this.facet) {
        items.push({
          text: this.facet ? this.facet.name : null,
          disabled: true,
          href: `/renting-coches-particulares/${this.facet ? this.facet.slug : null}`
        })
      }
      return items
    },

    headText () {
      if (!this.facet) {
        return 'Elige vehículo entre nuestras ofertas de renting para particulares. Selecciona los meses y kilómetros para calcular tu cuota mensual. Todo incluido y sin entrada.'
      }

      switch (this.facet.slug) {
        case 'berlina':
          return '¿Eres particular y buscas una berlina? Compara precios entre nuestras berlinas de renting para particulares y escoge la que mejor se adapte a tus necesidades.'
        case 'compacto':
          return 'El renting de compactos es uno de los segmentos más utilizado para particulares. El tamaño justo para ser un coche polivalente con un precio contenido.'
        default:
          return ''
      }
    }
  }
}
</script>
