<template>
  <div>
    <shared-ui-loading :visible="loading" />
    <quotation-documentation-form v-if="quotation" :event="'success'" :quotation="quotation" :item-id="quotation.paymentType['@id']"/>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  data: () => ({
    quotation: null,
    loading: false
  }),

  computed: {
    ...mapGetters({
      selectedCar: 'quotation/selectedCar'
    })
  },

  async mounted () {
    this.loading = true
    this.uuid = this.$route.params.uuid
    try {
      const response = await this.$axios.get('/quotations/' + this.uuid)
      this.quotation = response.data
    } catch (error) {
    } finally {
      this.loading = false
    }
  }
}
</script>
