<template>
  <div>
    <section class="py-2">
      <v-container class="pb-0">
        <v-breadcrumbs :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" />
        <v-row>
          <v-col cols="12">
            <h1 class="mb-3 mt-6">
              {{ 'Renting' + (facet ? ` ${facet.name}` : ' empresas') }}
            </h1>
            <p>
              {{ headText }}
            </p>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <search-main-section taxonomy="business">
      <template slot="title">
        <h2 class="subtitle-1 font-weight-bold mb-3">
          {{ 'Renting de ' + (facet ? ` ${facet.name}s para empresas` : ' coches para empresas') }}
        </h2>
      </template>
    </search-main-section>

    <section v-if="!facet" class="py-8" style="background-color: #F6F6F6;">
      <v-container>
        <v-row>
          <v-col cols="12">
            <v-img
              :src="require('~/assets/images/renting/business.png?webp')"
              class="float-md-left mr-6 mb-6"
              :width="$vuetify.breakpoint.smAndDown ? 'auto' : 300"
              aspect-ratio="1"
              alt="renting empresas"
              title="renting empresas"/>
            <h3 class="text-h5 font-weight-bold mb-3">
              Ventajas del renting de coches para empresas
            </h3>
            <p>
              <strong>Rápido:</strong> tu tiempo es oro, por ello queremos que lo dediques a lo realmente importante: tu negocio. Apuesta por ganar eficiencia en la gestión de los vehículos de tu empresa, diciendo adiós a largas esperas, interminables papeleos y dolores de cabeza.
            </p>
            <p>
              <strong>Inteligente:</strong> saca el máximo partido a tus recursos. Desgrava la totalidad de las cuotas mensuales de tu renting de empresa y deduce hasta el 100% del IVA.
            </p>
            <p>
              <strong>A la medida de tu empresa:</strong> para Vamos tu empresa es una gran empresa, y tú eres el jefe. Por ello queremos que diseñes la cuota que mejor se adapte a las necesidades de tu negocio y que la cambies cuando varíen tus circunstancias.
            </p>
            <p>
              Este tipo de renting es una solución por la que apuestan numerosos negocios por varias razones: no solo tiene una cuota que incluye todo menos la gasolina o el diésel, también te da la oportunidad de <strong>renovar la flota cada poco tiempo</strong> y, además, cuenta con ventajas financieras y fiscales.
            </p>

            <h4 class="text-h6 font-weight-bold mb-3 mt-16">
              Cómo funciona el renting para empresas
            </h4>
            <p>
              El renting de empresas de Vamos es la forma más rápida y sencilla de dotar a tu negocio de la mejor flota de coches con un alquiler a medio o largo plazo. No importa si eres una gran empresa o una pyme, en Vamos podrás disfrutar de los últimos modelos del mercado gracias a una cuota que lo incluye todo menos el carburante. Y es que nuestros vehículos te aseguran movilidad, libertad y <strong>múltiples ventajas: económicas, fiscales y operativas.</strong>
            </p>

            <h4 class="text-h6 font-weight-bold mb-3">
              Requisitos del renting para empresas
            </h4>
            <p>
              A la hora de contratar un renting de coches para tu empresa, en Vamos te pediremos <strong>algunos documentos</strong> para comprobar que tu negocio marcha viento en popa y que no vas a tener ningún inconveniente durante el tiempo que dure el contrato. Toma nota:
            </p>
            <ul class="mb-3">
              <li>
                <strong>CIF</strong> de la empresa
              </li>
              <li>
                <strong>DNI</strong> del apoderado/s
              </li>
              <li>
                <strong>Cuentas internas:</strong> balance y pérdidas y beneficios (el documento más actualizado posible)
              </li>
              <li>
                El último <strong>Impuesto de Sociedades</strong> (Modelo 200)
              </li>
              <li>
                Resumen del <strong>IVA</strong> del año anterior (Modelo 390) con el CSV (Código Seguro de Verificación)
              </li>
              <li>
                Trimestres del <strong>IVA</strong> del año en curso
              </li>
              <li>
                Recibo bancario donde conste el <strong>IBAN</strong> y el titular
              </li>
            </ul>
            <p>
              Además, en algunos casos, para formalizar el contrato, <strong>te podemos pedir:</strong>
            </p>
            <ul class="mb-3">
              <li>
                <strong>Documento 347:</strong> declaración anual informativa de operaciones
              </li>
              <li>
                <strong>Acta de Titularidad Real</strong> de la empresa: si vas a querer cuatro (o más) vehículos
              </li>
              <li>
                <strong>Escritura de constitución</strong> de la empresa: si la empresa lleva menos de seis meses constituida
              </li>
              <li>
                <strong>Escritura de poder para arrendar bienes muebles:</strong> si el firmante no es administrador o consejero delegado
              </li>
            </ul>

            <h4 class="text-h6 font-weight-bold mb-3">
              Ventajas del renting para empresas
            </h4>
            <p>
              En el plano fiscal, las ventajas que el renting de vehículos de empresa ofrece son muy interesantes por todos los beneficios que implica. Además, <strong>estas deducciones se aplican inmediatamente</strong> porque el renting se considera como un gasto:
            </p>
            <ul class="mb-3">
              <li>
                <strong>IRPF e Impuesto de Sociedades:</strong> puedes desgravarte totalmente las cuotas en la Declaración de la Renta y en el Impuesto de Sociedades
              </li>
              <li>
                <strong>IVA soportado:</strong> te permitirá deducirte el 50% del IVA soportado en tu cuota mensual cuando disfrutes del coche tanto para tu empresa como para tu uso personal. Si acreditas que el vehículo lo empleas exclusivamente para tu empresa, podrás deducirte el 100%
              </li>
            </ul>
            <p>
              En el <strong>plano financiero</strong>, este tipo de renting es una opción más que recomendable por varias razones:
            </p>
            <ul class="mb-3">
              <li>
                No tendrás que solicitar <strong>financiación</strong> porque en Vamos no necesitas dar una entrada
              </li>
              <li>
                El <strong>coste total de propiedad</strong> baja porque no tendrás que ocuparte de todos los gastos que implica tener un coche en propiedad: seguro de coche, impuestos, mantenimiento, averías, cambio de neumáticos, etc
              </li>
              <li>
                El <strong>retorno de la inversión</strong> también mejora porque al no tener que pagar el vehículo, podrás dedicar más recursos económicos a tu negocio
              </li>
            </ul>
          </v-col>
        </v-row>
        <v-row class="mb-16">
          <v-col
            v-for="(item, i) in items"
            :key="i"
            cols="6"
            md="2"
            offset="0"
            :offset-md="i % 5 === 0 ? 1 : 0"
            align="center"
          >
            <v-card color="transparent" flat tile>
              <v-card-text>
                <img :src="require(`~/assets/icons/facet/${i + 1}.svg`)" :alt="item.title" :title="item.title" height="40">
                <p class="font-weight-bold text-body-1 black--text mt-6">
                  {{ item.title }}
                </p>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section class="py-10 white--text" style="background-color: #1d1c1b;">
      <v-container>
        <v-row class="text-center">
          <v-col cols="12" md="6" offset-md="3">
            <h3 class="text-h4 font-weight-bold">
              ¿Eres particular o autónomo y necesitas un renting?
            </h3>
            <p class="mt-6">
              En Vamos también tenemos opciones para que puedas deducirte el IVA, desgravarte el IRPF y mucho más
            </p>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="4" offset-md="2">
            <v-btn
              :to="{ name: 'renting-coches-particulares-slug' }"
              class="text-none text-caption"
              block
              outlined
              depressed
              dark
              large
            >
              Ver renting de coches para particulares
            </v-btn>
          </v-col>
          <v-col cols="12" md="4">
            <v-btn
              :to="{ name: 'renting-coches-autonomos-slug' }"
              class="text-none text-caption"
              block
              outlined
              depressed
              dark
              large
            >
              Ver renting de coches para autónomos
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    items: [
      {
        title: 'Asistencia en carretera'
      }, {
        title: 'Cambio de neumáticos'
      }, {
        title: 'Mantenimiento y revisiones'
      }, {
        title: 'Impuestos incluidos'
      }, {
        title: 'Seguro a todo riesgo sin franquicia'
      }
    ]
  }),
  head () {
    if (!this.facet) {
      return {
        title: '▷ Renting Empresas《Ofertas Diciembre》| Sin entrada',
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: '✌️ ¡Descuentos hasta final de año! Ofertas de renting de coches para empresas. ✅ Sin Entrada ✅ ¡Renueva la flota al mejor precio!'
          }
        ],
        link: [
          {
            hid: 'canonical',
            name: 'canonical',
            content: 'https://www.vamos.es/renting-coches-empresas'
          }
        ]
      }
    }

    const data = {
      title: this.facet.metaTitle ? this.facet.metaTitle : this.facet.name,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.facet.metaDescription ? this.facet.metaDescription : this.facet.name
        }
      ],
      link: []
    }

    if (this.facet.metaRobots) {
      data.meta.push({
        hid: 'robots',
        name: 'robots',
        content: this.facet.metaRobots
      })
    }

    if (this.facet.urlCanonical) {
      data.link.push({
        hid: 'canonical',
        rel: 'canonical',
        content: this.facet.urlCanonical
      })
    }

    return data
  },

  computed: {
    ...mapGetters({
      facet: 'search/facet'
    }),

    breadcrumbsItems () {
      const items = [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: 'Empresas',
          disabled: !this.facet,
          href: '/renting-coches-empresas'
        }
      ]

      if (this.facet) {
        items.push({
          text: this.facet ? this.facet.name : null,
          disabled: true,
          href: `/renting-coches-empresas/${this.facet ? this.facet.slug : null}`
        })
      }
      return items
    },

    headText () {
      if (!this.facet) {
        return 'Escoge coche o vehículo comercial entre las ofertas de renting para empresas. El precio de la cuota ya incluye IVA. Seguro a todo riesgo y sin entrada.'
      }

      switch (this.facet.slug) {
        case 'berlina':
          return '¿Estás buscando una berlina para tu negocio? Encuentra el coche que necesitas entre nuestro listado de renting de berlinas para empresas. Todo incluido y sin entrada.'
        default:
          return ''
      }
    }
  }
}
</script>
