<template>
  <section class="wrapper mt-8 pb-16">
    <v-container>
      <v-breadcrumbs :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" v-show="$vuetify.breakpoint.lgAndUp"/>
      <v-card v-if="headArticle && headArticle.cover" :to="{ name: 'noticias-coches-slug', params: { slug: headArticle.slug }}" ticlass="mb-12" flat tile>
        <v-img
          :src="headArticle.cover.thumbnails.medium"
          :alt="headArticle.cover.webAlt ? headArticle.cover.webAlt : headArticle.title"
          :title="headArticle.cover.webTitle ? headArticle.cover.webTitle : headArticle.title"
          height="300"
          aspect-ratio="1"
        >
          <v-sheet color="black" width="100%" height="100%" style="position: absolute; opacity: 0.5;" />
          <v-sheet color="transparent" width="100%" height="100%" style="position: absolute; z-index: 2;">
            <p class="mt-10 ml-10 white--text">
              {{ $moment(headArticle.publishedAt).format('LL') }}
            </p>
            <p :class="$vuetify.breakpoint.mdAndUp ? 'mt-10 ml-10 text-h3 font-weight-bold white--text' :'mt-10 ml-10 text-h6 font-weight-bold white--text'" @click="router(headArticle.slug)">
              {{ headArticle.title }}
            </p>
            <!-- <p class="mt-10 ml-10 mr-10 body-2 white--text">
              {{ headArticle.caption }}
            </p> -->
          </v-sheet>
        </v-img>
      </v-card>
      <v-row class="mb-6 mt-6">
        <v-col cols="12">
          <h2 class="text-h3 text-center font-weight-bold">
            Blog Universo Vamos
          </h2>
        </v-col>
      </v-row>
      <v-row v-if="articles.length === 0" class="text-center">
        <v-col cols="12">
          <v-progress-circular indeterminate />
        </v-col>
      </v-row>
      <v-row v-else>
        <v-col cols="12" md="9">
          <v-row>
            <v-col v-for="(article, i) in articles" :key="i" cols="12" md="4">
              <v-card :to="{ name: 'noticias-coches-slug', params: { slug: article.slug }}" tile height="100%">
                <v-img
                  v-if="article.cover"
                  :src="article.cover.thumbnails.medium"
                  :alt="article.cover.webAlt ? article.cover.webAlt : article.title"
                  :title="article.cover.webTitle ? article.cover.webTitle : article.title"
                  height="160"
                />
                <v-card-text>
                  <p class="text-caption text--secondary">
                    <v-icon small left>
                      mdi-clock-time-five-outline
                    </v-icon>
                    <span class="mr-3">
                      {{ $moment(article.publishedAt).format('LL') }}
                    </span>
                    <span>
                      {{ `Tiempo de lectura ${article.estimatedReadingTime}´` }}
                    </span>
                  </p>
                  <p class="text-body-2 black--text font-weight-black">
                    {{ article.title }}
                  </p>
                  <!-- <p class="black--text">
                    {{ article.caption }}
                  </p> -->
                  <p>
                    <nuxt-link :to="{ name: 'noticias-coches-slug', params: { slug: article.slug }}" class="secondary--text">
                      Continuar leyendo
                    </nuxt-link>
                  </p>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col cols="6" align="center">
              <v-btn
                :to="{ name: 'noticias-coches-page-id', params: { id: $route.params.page ? $route.params.page : 1 + parseInt(1) } }"
                class="text-none py-8"
                color="primary"
                block
                x-large
                depressed
                tile
                outlined
              >
                Cargar mas post
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="3">
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            placeholder="Búsqueda rápida..."
            outlined
            dense
            rounded
            @keypress.enter="searchByTitle"
            @click:append="searchByTitle"
          />
          <blog-category-section />
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  amp: true,
  data: () => ({
    articles: [],
    headArticle: null,
    search: '',
    loading: false
  }),

  head () {
    return {
      title: '▷ Noticias de Coches: reviews, lanzamientos y consejos',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Blog especializado en automoción y noticias de coches. En el hablamos de todo lo que acontece en el mundo del motor, lanzamientos, novedades, renting, leasing y venta de coches.'
        }
      ],
      link: [
        {
          hid: 'canonical',
          name: 'canonical',
          content: 'https://www.vamos.es/noticias-coches'
        }
      ]
    }
  },

  computed: {
    breadcrumbsItems () {
      const items = [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: 'Blog',
          disabled: true,
          href: '/noticias-coches'
        }
      ]

      if (this.$route.params.slug) {
        items.push({
          text: this.$route.params.slug,
          disabled: true,
          href: `/categorias-${this.$route.params.slug}`
        })
      }

      return items
    }
  },

  watch: {
    $route: {
      handler () {
        this.load()
      },
      deep: true
    }
  },

  async mounted () {
    await this.load()
  },

  methods: {
    async load () {
      this.loading = true
      try {
        const response = await this.$axios.get('articles', {
          params: {
            page: 1,
            itemsPerPage: 7,
            title: this.$route.query.search ? this.$route.query.search : null,
            'publishedAt[before]': this.$moment().format('YYYY-MM-DDTHH:mm'),
            'category.slug': this.$route.params.slug ? this.$route.params.slug : null
          }
        })
        this.articles = response.data['hydra:member']
        this.headArticle = this.articles[0]
        this.articles.splice(0, 1)
      } catch (e) {
      } finally {
        this.loading = false
      }
    },

    async searchByTitle () {
      this.loading = true
      try {
        const response = await this.$axios.get('articles', {
          params: {
            title: this.search
          }
        })
        this.articles = response.data['hydra:member']
        this.headArticle = this.articles[0]
        this.articles.splice(0, 1)
      } catch (e) {
      } finally {
        this.loading = false
      }
    },

    router (articleSlug) {
      this.$router.push({
        name: 'noticias-coches-slug',
        params: { slug: articleSlug }
      })
    }
  }
}
</script>
