<template>
  <section>
    <h3 class="mb-8 text-center">
      Categorías
    </h3>
    <shared-ui-proxy-container :loading="loading">
      <v-btn
        v-for="category in categories"
        :key="category.id"
        :to="{ name: 'categorias-slug', params: { slug: category.slug } }"
        outlined
        small
        class="custom-transform-class text-none mr-3 mb-3"
        color="gray"
        exact
      >
        {{ category.name }}
      </v-btn>
    </shared-ui-proxy-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    categories: [],
    loading: false
  }),

  async mounted () {
    await this.load()
  },

  methods: {
    async load () {
      this.loading = true

      try {
        const response = await this.$axios.get('article-categories')
        this.categories = response.data['hydra:member']
      } catch (e) {
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
