<template>
  <quotation-contract-form
    :item-id="selectedCar"
    :signaturit="$route.params.signaturit"
  />
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  layout: 'quoting',
  computed: {
    ...mapGetters({
      selectedCar: 'quotation/selectedCar'
    })
  }
}
</script>
