<template>
  <section>
    <v-container class="mb-6 mt-10" v-if="quotation">
      <v-row>
        <v-col cols="12" md="8">
          <h3 class="text-h4 font-weight-bold" >
            ¡Enhorabuena {{ quotation.customer.firstName }}!, hemos tramitado tu solicitud correctamente."

            <v-divider class="my-6" />
          </h3>
        </v-col>
      </v-row>
      <v-container justify="center">
        <v-card v-if="quotation" elevation="6">
          <v-container>
            <v-row>
              <v-col cols="12" md="6">
                <v-img
                  v-if="quotation.paymentType.image"
                  width="100%"
                  height="auto"
                  :src="quotation.paymentType.image.thumbnails.medium"
                ></v-img>
              </v-col>
              <v-col cols="12" md="6">
                <v-row>
                  <v-col cols="12" lg="7">
                    <p class="text-h4 font-weight-bold" >
                      {{ quotation.paymentType.carBrand }} {{ quotation.paymentType.carModel }}
                    </p>
                    <p class="headline">
                      {{ quotation.paymentType.carVersion }}
                    </p>
                    <p class="caption">
                      <v-icon> mdi-speedometer</v-icon> {{ quotation.paymentType.annualKm }} Km |
                      <v-icon> mdi-calendar-month</v-icon> {{ quotation.paymentType.deadlines.name }} meses |
                      {{ quotation.paymentType.color.name }}
                    </p>
                  </v-col>
                  <v-col cols="12" lg="5" align-self="start">
                    <p class="display-1 font-weight-medium">
                      {{ quotation.paymentType.totalMonthlyFee }}€/Mes
                    </p>
                    <span class="caption" v-text="'IVA Incluido'" />
                  </v-col>
                </v-row>
                <v-divider class="mt-4 py-6"></v-divider>
                <v-row>
                  <v-col cols="2" align="center">
                    <img :src="require(`~/assets/icons/car-insurance/1.svg`)" width="32"><br/><span class="caption" v-text="'Sin entrada'" />
                  </v-col>
                  <v-col cols="2" align="center">
                    <img :src="require(`~/assets/icons/car-insurance/2.svg`)" width="32"/><br/><span class="caption" v-text="'Seguro a todo riesgo'" />
                  </v-col>
                  <v-col cols="3" align="center">
                    <img :src="require(`~/assets/icons/car-insurance/3.svg`)" width="32"/><br/><span class="caption" v-text="'Mantenimiento y revisiones'" />
                  </v-col>
                  <v-col cols="3" align="center">
                    <img :src="require(`~/assets/icons/car-insurance/4.svg`)" width="32"/><br/><span class="caption" v-text="'Asistencia en carretera'" />
                  </v-col>
                  <v-col cols="2" align="center">
                    <img :src="require(`~/assets/icons/car-insurance/5.svg`)" width="32"/><br/><span class="caption" v-text="'Impuestos incluidos'" />
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
        <v-row class="mt-4">
          <v-col cols="12" md="8">
            <p class="body-1 font-weight-light" >
              Tu coche nuevo ha sido enviado a matricular y {{ quotation.paymentType.carBrand }} se encargará de todo, te lo entregaran en la dirección que solicitaste.
            </p>
          </v-col>
        </v-row>
        <v-card class="mt-4" elevation="6">
          <v-container>
            <v-row >
              <v-spacer/>
              <v-col cols="8" align="center">
                <p class="text-h4 font-weight-bold text-center" >
                  Agradecemos tu opinión ¿Cómo ha sido tu experiencia en el proceso de compra?
                </p>
                <div class="text-center mt-6 mb-6">
                  <v-btn color="primary" tile href="https://es.trustpilot.com/review/vamos.es" target="_blank">Dejar una valoración</v-btn>
                </div>
              </v-col>
              <v-spacer/>
            </v-row>
          </v-container>
        </v-card>
        <v-card class="mt-4 pa-4" style="background-color: #eeeeee;">
          <v-container>
            <v-row >
              <v-col cols="6" align="start">
                <p class="text-h5 font-weight-bold" >
                  Más detalles de tu oferta
                </p>
                <p class="body-1 font-weight-bold" >
                  Dirección dónde se entregará el coche:
                </p>
                <p class="body-2 font-weight-light" >
                    {{ quotation.deliveryDataStreet }}<br/>
                    {{ quotation.deliveryDataPostalCode }}. {{ quotation.deliveryDataCity }}. {{ quotation.deliveryDataProvince }}<br/>
                </p>
                <p class="body-1 font-weight-bold" >
                  ¿En cuánto tiempo y cómo recibirás la entrega?:
                </p>
                <p class="body-2 font-weight-light" >
                  15 o 20 días hábiles aproximadamente. {{ quotation.paymentType.carBrand }} se pondrá en contacto contigo para que recibas el vehículo en el día y a la hora que más te convenga.
                </p>
                <p class="body-1 font-weight-bold" >
                  ¿Y si hay algún retraso o incidencia?:
                </p>
                <p class="body-2 font-weight-light" >
                  A partir de ahora, para agilizar cualquier tipo de gestión respecto a tu vehículo, te recomendamos que contactes directamente con {{ quotation.paymentType.carBrand }}, que tendrá toda la información que necesitas.
                </p>
              </v-col>
              <v-col cols="6" >
                <v-card v-if="quotation">
                  <v-container>
                    <p class="body-2 font-weight-light" >
                      A partir de ahora, para agilizar cualquier tipo de gestión respecto a tu vehículo, te recomendamos que contactes directamente con {{ quotation.carBrandName }}, que tendrá toda la información que necesitas.
                    </p>
                    <div class="text-center mt-6 mb-6">
                      <v-btn outlined color="primary" tile>910 781 751</v-btn>
                    </div>
                  </v-container>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-container>
    </v-container>
    <shared-ui-loading :visible="loading" />
  </section>
</template>

<script>

export default {
  props: {
    uuid: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      dialog: true,
      loading: false,
      quotation: null
    }
  },

  async created () {
    this.loading = true
    try {
      const response = await this.$axios.get('/quotations/' + this.uuid)
      this.quotation = response.data
    } catch (error) {
    } finally {
      this.loading = false
    }
  }
}
</script>
