@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk-SemiBold.otf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/SpaceGrotesk-Bold.otf') format('truetype');
}
