<template>
  <v-dialog v-model="dialog" max-width="500" persistent>
    <template slot="activator" slot-scope="{ attrs, on }">
      <slot name="landing-button" :on="on">
        <v-btn
          v-if="$vuetify.breakpoint.lgAndUp"
          id="landing-btn-form"
          class="text-none mt-3 mb-4"
          color="secondary"
          block
          depressed
          tile
          v-bind="attrs"
          v-on="on"
        >
          Quiero más información
        </v-btn>
      </slot>
    </template>
    <v-card v-if="!submitted" class="sticky" color="black" flat tile>
      <v-btn class="float-right mt-3 mr-4 white--text" icon small @click="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-card-title class="mb-6 text-h6 white--text text-center">
        Estás de suerte, este modelo suele estar <br> agotado. Rellena el formulario y consigue tu oferta de Black Friday.
      </v-card-title>
      <v-card-text class="white--text">
        <hubspot-lead-form
          form-type="landing"
          background="black"
          call-to-action="Quiero la oferta"
          :car-brand-name="car.brand"
          :car-model="car.name"
          :car-trimm="car.version"
          :car-fuel="car.fueltype"
          :car-color="car.color"
          :car-kms="car.km"
          :car-months="car.deadlines"
        />
        <!-- <v-form ref="form" @keyup.native.enter="submit">
          <v-text-field
            v-model="$v.form.name.$model"
            :error-messages="handleErrors($v.form.name)"
            label="Nombre * "
            background-color="white"
            color="grey"
            solo
            dense
            @input="$v.form.name.$touch()"
            @blur="$v.form.name.$touch()"
          />
          <v-text-field
            v-model="$v.form.phoneNumber.$model"
            :error-messages="handleErrors($v.form.phoneNumber)"
            label="Teléfono * "
            background-color="white"
            color="grey"
            solo
            dense
            @input="$v.form.phoneNumber.$touch()"
            @blur="$v.form.phoneNumber.$touch()"
          />
          <v-text-field
            v-model="$v.form.email.$model"
            :error-messages="handleErrors($v.form.email)"
            label="Email * "
            background-color="white"
            color="grey"
            solo
            dense
            @input="$v.form.email.$touch()"
            @blur="$v.form.email.$touch()"
          />
          <v-checkbox
            v-model="$v.form.conditions.$model"
            :error-messages="handleErrors($v.form.conditions)"
            class="float-left"
            dark
            @input="$v.form.conditions.$touch()"
            @blur="$v.form.conditions.$touch()"
          />
          He leído y acepto los
          <nuxt-link :to="{ name: 'index' }" class="white--text text-decoration-underline">
            Términos y condiciones
          </nuxt-link> de uso y la
          <nuxt-link :to="{ name: 'index' }" class="white--text text-decoration-underline">
            Política de privacidad
          </nuxt-link>
          <v-btn
            id="landing-btn-form"
            :loading="submitting"
            class="text-none mt-3"
            color="secondary"
            block
            depressed
            tile
            @click="submit"
          >
            Quiero la oferta
          </v-btn>
        </v-form> -->
      </v-card-text>
    </v-card>
    <!-- <v-card v-else class="sticky text-center" color="black" tile>
      <v-btn class="float-right mt-3 mr-4 white--text" icon small @click="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-card-text>
        <p class="my-6">
          <v-icon color="green lighten-1" size="60">
            mdi-check-circle-outline
          </v-icon>
        </p>
        <p class="white--text text-h6">
          ¡Gracias por contactar con nosotros! <br />
          Nos pondremos en contacto contigo muy pronto.
        </p>
      </v-card-text>
    </v-card> -->
  </v-dialog>
</template>

<script>
// import { required, email, minLength, maxLength } from 'vuelidate/lib/validators'

export default {
  props: {
    landing: {
      required: false,
      default: null
    },

    car: {
      type: Object,
      default: () => ({})
    }
  },

  data: () => ({
    // form: {
    //   name: '',
    //   phoneNumber: '',
    //   email: '',
    //   conditions: false
    // },
    dialog: false,
    submitting: false,
    submitted: false
  }),

  // validations () {
  //   return {
  //     form: {
  //       name: {
  //         required
  //       },
  //       phoneNumber: {
  //         required,
  //         minLength: minLength(9),
  //         maxLength: maxLength(9)
  //       },
  //       email: {
  //         required,
  //         email
  //       },
  //       conditions: {
  //         required,
  //         valid: (value, vm) => value === true
  //       }
  //     }
  //   }
  // },

  methods: {
    // async submit () {
    //   this.$v.form.$touch()
    //   if (this.$v.form.$pending || this.$v.form.$error) { return }
    //   this.submitting = true

    //   try {
    //     await this.$axios.post('landing-contacts', {
    //       name: this.form.name,
    //       phoneNumber: this.form.phoneNumber,
    //       email: this.form.email,
    //       landing: '/landings/8d8a079d-895b-4e12-b761-12fbf217024d'
    //     })

    //     this.submitted = true
    //   } catch (e) {
    //     this.$toast.error(e.response.data['hydra:description'])
    //   } finally {
    //     this.submitting = false
    //   }
    // },

    close () {
      this.dialog = false
      this.submitted = false
    }
  }
}
</script>
