<template>
  <v-card v-if="!submitted" class="sticky" color="black" flat tile>
    <v-card-text class="white--text">
      <slot name="landing-main-form-text">
        <p class="text-center font-weight-bold text-h6">
          Introduce tus datos y buscaremos el coche perfecto para ti
        </p>
      </slot>
      <hubspot-lead-form
        form-type="landing"
        distribution="column"
        background="black"
        call-to-action="Te llamamos"
        :car-brand-name="landing.car.model.brand.name"
        :car-model="landing.car.model.model"
        :car-trimm="landing.car.version"
        :car-fuel="landing.car.fuelType.name"
        :car-color="landing.car.defaultPaymentType.color"
        :car-kms="landing.car.defaultPaymentType.annualKm"
        :car-months="landing.car.defaultPaymentType.deadlines"
      />
      <!-- <v-form ref="form" @keyup.native.enter="submit">
        <v-text-field
          v-model="$v.form.name.$model"
          :error-messages="handleErrors($v.form.name)"
          label="Nombre * "
          background-color="white"
          color="grey"
          solo
          dense
          @input="$v.form.name.$touch()"
          @blur="$v.form.name.$touch()"
        />
        <v-text-field
          v-model="$v.form.phoneNumber.$model"
          :error-messages="handleErrors($v.form.phoneNumber)"
          label="Teléfono * "
          background-color="white"
          color="grey"
          solo
          dense
          @input="$v.form.phoneNumber.$touch()"
          @blur="$v.form.phoneNumber.$touch()"
        />
        <v-text-field
          v-model="$v.form.email.$model"
          :error-messages="handleErrors($v.form.email)"
          label="Email * "
          background-color="white"
          color="grey"
          solo
          dense
          @input="$v.form.email.$touch()"
          @blur="$v.form.email.$touch()"
        />
        <v-checkbox
          v-model="$v.form.conditions.$model"
          :error-messages="handleErrors($v.form.conditions)"
          class="float-left"
          dark
          @input="$v.form.conditions.$touch()"
          @blur="$v.form.conditions.$touch()"
        />
          He leído y acepto los
          <nuxt-link :to="{ name: 'index' }" class="white--text text-decoration-underline">
            Términos y condiciones
          </nuxt-link> de uso y la
          <nuxt-link :to="{ name: 'index' }" class="white--text text-decoration-underline">
            Política de privacidad
          </nuxt-link>
          <v-btn
            id="landing-btn-form"
            :loading="submitting"
            class="text-none mt-3"
            color="secondary"
            color="secondary"
            block
            depressed
            tile
            @click="submit"
          >
            <slot name="landing-main-form-button">
              Te llamamos
            </slot>
          </v-btn>
      </v-form> -->
    </v-card-text>
  </v-card>
  <!-- <v-card v-else class="sticky text-center" color="black" tile>
    <v-card-text>
      <p class="my-6">
        <v-icon color="green lighten-1" size="60">
          mdi-check-circle-outline
        </v-icon>
      </p>
      <p class="white--text text-h6">
        ¡Gracias por contactar con nosotros! <br />
        Nos pondremos en contacto contigo muy pronto.
      </p>
    </v-card-text>
  </v-card> -->
</template>

<script>
// import { required, email, minLength, maxLength } from 'vuelidate/lib/validators'

export default {
  props: {
    landing: {
      required: false,
      default: null
    }
  },

  data: () => ({
    // form: {
    //   name: '',
    //   phoneNumber: '',
    //   email: '',
    //   conditions: false
    // },
    // submitting: false,
    submitted: false
  })

  // validations () {
  //   return {
  //     form: {
  //       name: {
  //         required
  //       },
  //       phoneNumber: {
  //         required,
  //         minLength: minLength(9),
  //         maxLength: maxLength(9)
  //       },
  //       email: {
  //         required,
  //         email
  //       },
  //       conditions: {
  //         required,
  //         valid: (value, vm) => value === true
  //       }
  //     }
  //   }
  // },

  // methods: {
  //   async submit () {
  //     this.$v.form.$touch()
  //     if (this.$v.form.$pending || this.$v.form.$error) { return }
  //     this.submitting = true

  //     try {
  //       await this.$axios.post('landing-contacts', {
  //         name: this.form.name,
  //         phoneNumber: this.form.phoneNumber,
  //         email: this.form.email,
  //         landing: this.landing['@id']
  //       })

  //       this.submitted = true
  //     } catch (e) {
  //       this.$toast.error(e.response.data['hydra:description'])
  //     } finally {
  //       this.submitting = false
  //     }
  //   }
  // }
}
</script>
