<template>
  <v-row
    justify="center"
  >
    <v-btn
      class="mb-0 bottom-mobile"
      bottom
      tile
      fab
      fixed
      block
      x-large
      color="secondary"
      @click="dialog=true">
      Pedir informacion
    </v-btn>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card color="black" tile>
        <v-toolbar
          dark
          color="primary"
        >
          <v-spacer></v-spacer>
          <v-btn class="float-right mt-3 mr-4" icon small @click="close">
            <v-icon color="white">mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <landing-call-form :landing="landing"/>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
export default {
  props: {
    landing: {
      required: true
    }
  },

  data () {
    return {
      dialog: false
    }
  },

  methods: {
    close () {
      this.dialog = false
    }
  }
}
</script>
<style>
.bottom-mobile {
  bottom: 0 !important;
}
</style>
