<template>
  <section class="my-12">
    <v-container>
      <v-row class="mb-6">
        <v-col cols="12" align="center">
          <h2 class="text-h3 font-weight-bold">
            Todo incluido, en una simple cuota mensual
          </h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="5">
          <v-row>
            <v-col v-for="(item, i) in items" :key="i" cols="6" class="text-h5 font-weight-bold">
              <v-card align="center" color="transparent" flat tile>
                <v-card-text>
                  <img
                    :src="require(`~/assets/icons/landing/${i + 1}.svg`)"
                    :alt="item.title"
                    :title="item.title"
                  />
                  <p class="text-h5 black--text font-weight-bold">
                    {{ item.title }}
                  </p>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="7">
          <v-lazy height="100%">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-wvARdnH0a0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"/>
          </v-lazy>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        title: 'Sin Entrada'
      }, {
        title: 'Mantenimiento'
      }, {
        title: 'Seguro a todo riesgo'
      }, {
        title: 'Asistencia en carretera'
      }, {
        title: 'Impuestos'
      }, {
        title: 'Entrega gratuita'
      }
    ]
  }),

  created () {

  }
}
</script>
