<template>
  <v-dialog v-model="dialog" max-width="500" persistent>
    <template slot="activator" slot-scope="{ attrs, on }">
      <slot name="landing-button" :on="on">
        <v-btn
          v-if="$vuetify.breakpoint.lgAndUp"
          id="landing-btn-form"
          class="text-none mt-3 mb-4"
          color="secondary"
          block
          depressed
          tile
          v-bind="attrs"
          v-on="on"
        >
          Quiero más información
        </v-btn>
      </slot>
    </template>
    <v-card v-if="!submitted" class="sticky" color="black" flat tile>
      <v-btn class="float-right mt-3 mr-4 white--text" icon small @click="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-card-title class="mb-6 text-h6 white--text text-center">
        {{ text }}
      </v-card-title>
      <v-card-text class="white--text">
        <hubspot-lead-form
          form-type="landing"
          background="black"
          call-to-action="Quiero la oferta"
          :car-brand-name="car.brand"
          :car-model="car.name"
          :car-trimm="car.version"
          :car-fuel="car.fueltype"
          :car-color="car.color"
          :car-kms="car.km"
          :car-months="car.deadlines"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    landing: {
      required: false,
      default: null
    },

    textHeader: {
      required: false,
      default: false
    },

    car: {
      type: Object,
      default: () => ({})
    }
  },

  data: () => ({
    dialog: false,
    submitting: false,
    submitted: false
  }),

  computed: {
    text () {
      if (this.textHeader) { return 'Introduce tus datos y encuentra tu renting al mejor precio.' } else { return 'Estás de suerte, este modelo suele estar agotado. Rellena el formulario y consigue tu oferta de renting.' }
    }
  },

  methods: {
    close () {
      this.dialog = false
      this.submitted = false
    }
  }
}
</script>
