<template>
  <section id="link-more" class="wrapper mt-16 pt-4 pb-16">
    <v-container>
      <v-row class="mb-6">
        <v-col cols="12" align="center">
          <h2 class="text-h3 font-weight-bold">
            Otros coches que pueden interesarte
          </h2>
        </v-col>
      </v-row>
      <v-row class="mb-16" v-show="$vuetify.breakpoint.lgAndUp">
        <v-col v-if="loading" class="text-center" cols="12">
          <v-progress-circular indeterminate />
        </v-col>
        <template v-else>
          <v-col v-for="(car, i) in cars" :key="i" cols="12" md="4" class="grow">
            <v-card flat tile :class="$vuetify.breakpoint.mdAndDown ? 'ma-2' : ''" :width="$vuetify.breakpoint.lgAndUp ? 360 : 'auto'">
              <v-card-text>
                <v-img
                  v-if="car.associatedCar.image"
                  :src="car.associatedCar.image.thumbnails.medium"
                  :alt="car.associatedCar.image.webAlt ? car.associatedCar.image.webAlt : car.associatedCar.model.model"
                  :title="car.associatedCar.image.webTitle ? car.associatedCar.image.webTitle : car.associatedCar.model.model"
                  aspect-ratio="1"
                  max-height="250"
                  class="mb-4"
                />
                <p class="text-h5 black--text font-weight-black text-truncate">
                  {{ car.associatedCar.model.brand.name }} {{ car.associatedCar.model.model }}
                </p>
                <p class="text-body-1 mt-n4 text--disabled text-truncate">
                  {{ car.associatedCar.version }}
                </p>
                <p v-if="car.associatedCar.defaultPaymentType" class="text-body-2 black--text mt-n3 mb-6">
                  <span>
                    <v-icon small>
                      mdi-speedometer
                    </v-icon>
                    {{ car.associatedCar.defaultPaymentType.annualKm + ' Km anuales' }} |
                  </span>
                  <span>
                    <v-icon small>
                      mdi-clock-time-three-outline
                    </v-icon>
                    {{ car.associatedCar.defaultPaymentType.deadlines + ' meses' }} |
                  </span>
                  <span>
                    {{ car.associatedCar.fuelType.name }}
                  </span>
                </p>
                <span v-if="car.associatedCar.defaultPaymentType" class="text-h5 secondary--text text-center text-decoration-line-through" style="position: absolute; bottom: 40px; left: 30px;">
                  {{ car.associatedCar.defaultPaymentType.totalMonthlyFeeOld }}
                </span>
                <p v-if="car.associatedCar.defaultPaymentType" class="text-h5 secondary--text text-center font-weight-bold">
                  {{ car.associatedCar.defaultPaymentType.totalMonthlyFee + '€/mes' }}
                </p>
                <p class="text-h6 text--disabled text-center mt-n4">
                  IVA incluido
                </p>
                <v-divider class="my-6"/>
                <ul>
                  <li v-for="(mainAccessory, i) in car.associatedCar.mainAccessories" :key="i">
                    <p class="text-body-2 black--text mb-2">
                      {{ mainAccessory.name }}
                    </p>
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
        </template>
      </v-row>
      <v-slide-group v-show="$vuetify.breakpoint.mdAndDown">
        <v-slide-item
          v-for="(car, i) in cars"
          :key="i"
          class="mx-4"
        >
          <shared-ui-car-card :car="car.associatedCar" />
        </v-slide-item>
      </v-slide-group>
    </v-container>
  </section>
</template>

<script>
export default {
  props: {
    landing: {
      required: true
    }
  },

  data: () => ({
    cars: [],
    loading: false
  }),

  async fetch () {
    await this.loadCars()
  },

  methods: {
    async loadCars () {
      this.loading = true

      try {
        const response = await this.$axios.get('landing-car-associations', {
          params: {
            landing: this.landing.id
          }
        })
        this.cars = response.data['hydra:member']
      } catch (e) {
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
