<template>
  <section class="mt-16 pt-4 pb-16">
    <v-container>
      <v-row class="mb-6">
        <v-col cols="12" align="center">
          <h2 class="text-h4 font-weight-bold">
            Renting y mucho más
          </h2>
        </v-col>
      </v-row>
      <v-row class="mb-16">
        <v-col v-if="loading" class="text-center" cols="12">
          <v-progress-circular indeterminate />
        </v-col>
        <template v-else>
          <v-col
            v-for="(article, i) in articles"
            v-show="$vuetify.breakpoint.lgAndUp"
            :key="i"
            cols="12"
            md="4">
            <v-card :to="{ name: 'noticias-coches-slug', params: { slug: article.slug }}" tile height="100%">
              <v-img
                v-if="article.cover"
                :src="article.cover.thumbnails.medium"
                :alt="article.cover.webAlt ? article.cover.webAlt : article.title"
                :title="article.cover.webTitle ? article.cover.webTitle : article.title"
                height="160"
              />
              <v-card-text>
                <p class="text-caption text--secondary">
                  <v-icon small left>
                    mdi-clock-time-five-outline
                  </v-icon>
                  <span class="mr-3">
                    {{ $moment(article.publishedAt).format('LL') }}
                  </span>
                  <span>
                    {{ `Tiempo de lectura ${article.estimatedReadingTime}´` }}
                  </span>
                </p>
                <p class="text-h6 black--text font-weight-black">
                  {{ article.title }}
                </p>
                <!-- <p class="black--text">
                  {{ article.caption }}
                </p> -->
              </v-card-text>
            </v-card>
          </v-col>
          <v-slide-group  v-show="$vuetify.breakpoint.mdAndDown">
            <v-slide-item
              v-for="(article, i) in articles"
              :key="i"
              class="mx-0"
            >
              <v-lazy>
                <v-card
                  :to="{ name: 'noticias-coches-slug', params: { slug: article.slug }}"
                  tile
                  :width="$vuetify.breakpoint.mdAndDown ? 300: 'auto'"
                  min-height="450"
                  class="ma-2">
                  <v-img
                    v-if="article.cover"
                    :src="article.cover.thumbnails.medium"
                    :alt="article.cover.webAlt ? article.cover.webAlt : article.title"
                    :title="article.cover.webTitle ? article.cover.webTitle : article.title"
                    height="160"
                  />
                  <v-card-text>
                    <p class="text-caption text--secondary">
                      <v-icon small left>
                        mdi-clock-time-five-outline
                      </v-icon>
                      <span class="mr-3">
                        {{ $moment(article.publishedAt).format('LL') }}
                      </span>
                      <span>
                        {{ `Tiempo de lectura ${article.estimatedReadingTime}´` }}
                      </span>
                    </p>
                    <p class="text-h5 black--text font-weight-black">
                      {{ article.title }}
                    </p>
                    <!-- <p class="black--text">
                      {{ article.caption }}
                    </p> -->
                  </v-card-text>
                </v-card>
              </v-lazy>
            </v-slide-item>
          </v-slide-group>
        </template>
      </v-row>
      <v-row>
        <v-col cols="8" offset="2" md="4" offset-md="4" align="center">
          <v-btn
            :to="{ name: 'noticias-coches' }"
            class="text-none py-8"
            color="primary"
            block
            outlined
            x-large
            depressed
            tile
          >
            Seguir leyendo
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    articles: [],
    loading: false
  }),

  mounted () {
    this.load()
  },

  methods: {
    async load () {
      this.loading = true
      try {
        const response = await this.$axios.get('articles', {
          params: {
            page: 1,
            itemsPerPage: 3,
            'publishedAt[before]': this.$moment().format('YYYY-MM-DD')
          }
        })
        this.articles = response.data['hydra:member']
      } catch (e) {
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
