<template>
  <section class="py-16">
    <v-container>
      <v-row class="mb-10">
        <v-col cols="12" align="center">
          <h2 class="text-h4 font-weight-bold">
            Descubre nuestras marcas
          </h2>
        </v-col>
      </v-row>
      <v-row class="mb-16">
        <v-col v-if="loading" class="text-center" cols="12">
          <v-progress-circular indeterminate />
        </v-col>
        <template v-else>
          <v-col
            v-for="(brand, index) in brands"
            :key="index"
            cols="4"
            md="2"
            class="mt-6"
            align="center"
          >
            <nuxt-link :to="{ name: 'brand', params: { brand: 'renting-' + brand.slug } }">
              <v-lazy>
                <v-img
                  :src="brand.logo.thumbnails.small"
                  :lazy-src="brand.logo.thumbnails.small"
                  :alt="brand.logo.webAlt ? 'Renting '+brand.logo.webAlt : 'Renting '+brand.name"
                  :title="brand.logo.title ? 'Renting '+brand.logo.title : 'Renting '+brand.name"
                  class="mb-3"
                  height="80"
                  contain
                  style="cursor: pointer;"
                />
              </v-lazy>

              Renting {{ brand.name }}
            </nuxt-link>
          </v-col>
        </template>
      </v-row>
      <v-row>
        <v-col cols="8" offset="2" md="4" offset-md="4" align="center">
          <v-btn
            :to="{ name: 'todos-los-coches-slug' }"
            class="text-none py-8"
            color="secondary"
            block
            x-large
            depressed
            tile
          >
            Ver todos los coches
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    brands: [],
    loading: false
  }),

  async fetch () {
    await this.load()
  },

  methods: {
    async load () {
      this.loading = true

      try {
        const response = await this.$axios.get('car-brands', {
          params: {
            'exists[logo]': true
          }
        })

        this.brands = response.data['hydra:member']
      } catch (e) {
        this.$toast.error(e)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
