<template>
  <v-container class="pa-0">
    <v-img
      :src="cover.src"
      :srcSet="cover.srcSet"
      class="align-end white--text"
      :height="$vuetify.breakpoint.mdAndUp ? 430 : 310"
      align="end"
      alt="renting de coches"
      title="renting de coches"
    >
      <v-row :class="$vuetify.breakpoint.mdAndDown ? 'mb-4 mr-0' : 'mb-12 mr-6'">
        <v-col cols="12">
          <h2 class="text-h4 text-md-h3 mb-10 mb-md-10 font-weight-black" :style="$vuetify.breakpoint.mdAndUp ? 'line-height: 70px;' : ''">
            La nueva forma <br />
            de tener coche
          </h2>
          <h1 class="text-h5 text-md-h5 mb-0"> Renting de Coches.</h1>
          <p class="text-h6 text-md-h5 mb-2 mb-md-8">
            Rápido y a tu medida.
          </p>
          <v-btn
            :to="{ name: 'todos-los-coches-slug' }"
            :width="$vuetify.breakpoint.mdAndUp ? 430 : 280"
            :height="$vuetify.breakpoint.mdAndUp ? 70 : 50"
            class="text-none mb-0"
            color="secondary"
            depressed
            tile
            dark
          >
            Ver todos los coches
          </v-btn>
        </v-col>
      </v-row>
    </v-img>
  </v-container>
</template>

<script>
const cover = require('~/assets/images/home/cover-3.jpg?resize&sizes[]=1000&sizes[]=1300&format=webp')

export default {
  data: () => ({
    cover
  })
}
</script>
