<template>
  <v-lazy>
    <section class="wrapper py-16">
      <v-container class="py-16">
        <v-row class="mb-6">
          <v-col cols="12" align="center">
            <h2 class="text-h4 text-md-h1 font-weight-black white--text">
              #UnCocheUnArbol
            </h2>
            <p class="text-h5 text-h4 mt-8 mt-md-16 white--text">
              Cuidamos de ti, cuidamos del medio ambiente.
            </p>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="8" offset="2" md="4" offset-md="4" align="center">
            <v-btn
              :to="{ name: 'medio-ambiente' }"
              class="text-none py-4 py-md-4"
              color="secondary"
              block
              x-large
              depressed
              tile
            >
              Saber más
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </section>
  </v-lazy>
</template>

<style scoped>
.wrapper {
  background: url('~assets/images/home/environmental/background.png?webp') no-repeat;
  background-size: cover;
}
</style>
