<template>
  <section v-show="$vuetify.breakpoint.xlOnly" class="mt-16 pt-4 pb-16 custom-margin-bottom">
    <v-container fluid>
      <v-row>
        <v-col cols="3">
          <v-lazy>
            <v-img
              :src="require(`~/assets/images/home/feature/${item.image}?webp`)"
              aspect-ratio="1"
              width="auto"
              height="600"
              alt="renting vamos"
              title="renting vamos"
            />
          </v-lazy>
        </v-col>
        <v-col cols="7">
          <v-container>
            <v-row class="mb-6">
              <v-col cols="12">
                <h2 class="text-h3 font-weight-bold">
                  ¿Por qué elegir<br>
                  el renting de Vamos?
                </h2>
                <p class="mt-10">
                  {{ item.description }}
                </p>
              </v-col>
            </v-row>
            <v-item-group v-model="selected" :mandatory="selected !== null">
              <v-row class="mb-16">
                <v-col v-for="(item, i) in items" :key="i" cols="4">
                  <v-item v-slot="{ active, toggle }">
                    <v-hover v-slot="{ hover }">
                      <v-card :color="active || hover ? 'primary' : ''" class="pa-3" tile @click="toggle">
                        <v-list-item two-line>
                          <v-list-item-avatar size="30">
                            <img
                              :src="require(`~/assets/icons/feature/${i + 1}.svg?inline`)"
                              height="30"
                            />
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-title :class="active || hover ? 'white--text' : 'black--text'" class="text-body-1 font-weight-bold">
                              {{ item.title }}
                            </v-list-item-title>
                            <v-list-item-subtitle :class="active || hover ? 'white--text' : 'black--text'" class="text-body-1 mt-3">
                              {{ item.subtitle }}
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-hover>
                  </v-item>
                </v-col>
              </v-row>
            </v-item-group>
            <v-row>
              <v-col cols="6" align="center">
                <v-btn
                  :to="{ name: 'todos-los-coches-slug' }"
                  class="text-none py-8"
                  color="secondary"
                  block
                  x-large
                  depressed
                  tile
                >
                  Ver coches
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        title: 'Coches nuevos',
        subtitle: 'Elige tu coche perfecto',
        image: 'image1.png',
        description: 'Te ofrecemos la forma más inteligente de estrenar tu próximo coche, sin necesidad de comprarlo.'
      }, {
        title: 'Precios transparentes',
        subtitle: 'Con IVA incluido',
        image: 'image2.png',
        description: 'Sin letra pequeña, ni sorpresas. Todos los precios que te mostramos son reales, transparentes e incluyen impuestos, para que puedas hacer tus cuentas con total tranquilidad.'
      }, {
        title: 'Sin entrada',
        subtitle: 'Ni fianzas',
        image: 'image3.png',
        description: 'Olvídate de hacer grandes desembolsos para estrenar coche. Reserva tu renting con Vamos y comienza a pagar tu cuota mensual fija un mes después de haberlo recibido.'
      }, {
        title: 'Entrega gratuita',
        subtitle: 'Sin dolores de cabeza',
        image: 'image4.png',
        description: 'Reserva tu coche hoy y recíbelo en la puerta de tu casa o en tu concesionario más cercano.'
      }, {
        title: '100% Online',
        subtitle: 'Cero papeleo',
        image: 'image5.png',
        description: 'Olvídate de enviar nóminas, rentas y de interminables esperas. Reserva hoy tu coche de renting en unos minutos y sin moverte del sofá.'
      }, {
        title: 'Todo incluido',
        subtitle: 'Paga sólo la gasolina',
        image: 'image6.png',
        description: 'Tu cuota mensual incluye todo para que tener coche sea fácil, sólo tendrás que preocuparte por el combustible.'
      }
    ],
    selected: null
  }),

  computed: {
    item () {
      return this.selected === null ? this.items[0] : this.items[this.selected]
    }
  }
}
</script>
<style>
.custom-margin-bottom {
  margin-bottom: 120px !important;
}
</style>
