<template>
  <section class="wrapper py-8">
    <v-container>
      <v-row class="mb-6">
        <v-col cols="12">
          <h2 class="text-h4 font-weight-bold">
            ¿Cómo funciona el renting de coches de Vamos?
          </h2>
        </v-col>
      </v-row>
      <v-row class="mb-16">
        <v-col v-for="(item, i) in items" :key="i" cols="12" md="4" align="center">
          <v-card :class="$vuetify.breakpoint.mdAndDown ? 'text-center' : 'text-center mx-12'" height="440" align="center"  tile>
            <v-img
              :src="images[i].src"
              :srcSet="images[i].srcSet"
              :alt="item.alt"
              :title="item.webTitle"
              class="mb-3"
              height="205"
            />

            <v-card-text class="text-h6 black--text font-weight-black ">
              {{ item.title }}
            </v-card-text>

            <v-card-text class="text-body-1 black--text">
              {{ item.text }}
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="8" offset="2" md="4" offset-md="4" align="center">
          <v-btn
            :to="{ name: 'todos-los-coches-slug' }"
            class="text-none py-8"
            color="primary"
            block
            outlined
            x-large
            depressed
            tile
          >
            ¿Alguna duda más?
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
const images = [
  require('~/assets/images/home/help/image1.png?resize&sizes[]=300&sizes[]=600&sizes[]=1000&format=webp'),
  require('~/assets/images/home/help/image2.png?resize&sizes[]=300&sizes[]=600&sizes[]=1000&format=webp'),
  require('~/assets/images/home/help/image3.png?resize&sizes[]=300&sizes[]=600&sizes[]=1000&format=webp')
]

export default {
  data: () => ({
    items: [
      {
        title: 'Elige tu coche',
        alt: 'renting de coche',
        webTitle: 'renting de coche',
        text: 'Selecciona el vehículo de renting que mejor se adapte a tus circunstancias.'
      }, {
        title: 'Resérvalo Online',
        alt: 'renting digital',
        webTitle: 'renting digital',
        text: 'En minutos y 100% digital, no tendrás que gestionar ningún papeleo.'
      }, {
        title: 'Recíbelo Gratis',
        alt: 'renting con servicio de entrega',
        webTitle: 'renting con servicio de entrega',
        text: 'Te llevamos tu coche a la puerta de tu casa o a tu concesionario más cercano.'
      }
    ],
    images
  })
}
</script>

<style scoped>
.wrapper {
  background-color: #F6F6F6;
}
</style>
