<template>
  <section class="mt-16 pt-4 pb-16">
    <v-container>
      <v-row class="mb-6">
        <v-col
          cols="12"
          md="4"
          lg="4"
          order-md="first"
          order-lg="first"
          order="last">
          <h2 :class="$vuetify.breakpoint.lgAndUp ? 'text-h3 font-weight-bold' : 'text-h6 font-weight-bold'">
            Seguro a todo riesgo, sin franquicia
          </h2>
          <p class="mt-5 text-h5 font-weight-bold">
            Y además:
          </p>
          <v-row>
            <v-col cols="6">
              <v-card
                align="center"
                color="transparent"
                flat
                tile>
                <v-card-text>
                  <img
                    :src="require(`~/assets/icons/insurance/1.svg`)"
                    :alt="items[0].title"
                    :title="items[0].title"
                    height="40"
                    width="40"
                  />
                  <p class="black--text">
                    {{ items[0].title }}
                  </p>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="6">
              <v-card
                align="center"
                color="transparent"
                flat
                tile>
                <v-card-text>
                  <img
                    :src="require(`~/assets/icons/insurance/2.svg`)"
                    :alt="items[1].title"
                    :title="items[1].title"
                    height="40"
                    width="40"
                  />
                  <p class="black--text">
                    {{ items[1].title }}
                  </p>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-card
                align="center"
                color="transparent"
                flat
                tile>
                <v-card-text>
                  <img
                    :src="require(`~/assets/icons/insurance/3.svg`)"
                    :alt="items[2].title"
                    :title="items[2].title"
                    height="40"
                    width="40"
                  />
                  <p class="black--text">
                    {{ items[2].title }}
                  </p>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="6">
              <v-card
                align="center"
                color="transparent"
                flat
                tile>
                <v-card-text>
                  <img
                    :src="require(`~/assets/icons/insurance/4.svg`)"
                    :alt="items[3].title"
                    :title="items[3].title"
                    height="40"
                    width="40"
                  />
                  <p class="black--text">
                    {{ items[3].title }}
                  </p>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col
          cols="12"
          md="8"
          lg="8"
          order-md="last"
          order-lg="last"
          order="first">
          <v-lazy height="100%">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-wvARdnH0a0" />
          </v-lazy>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="8" offset="2" md="4" offset-md="4" align="center">
          <v-btn
            :to="{ name: 'todos-los-coches-slug' }"
            class="text-none py-8"
            color="primary"
            block
            outlined
            x-large
            depressed
            tile
          >
            Ver coches
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        title: 'Asistencia en carretera'
      }, {
        title: 'Cambio de neumáticos'
      }, {
        title: 'Impuestos incluidos'
      }, {
        title: 'Revisiones y averías'
      }
    ]
  })
}
</script>
