<template>
  <section class="wrapper py-16">
    <v-container>
      <v-row class="mb-10">
        <v-col cols="12" align="center">
          <h2 class="text-h4 text--disabled font-weight-bold">
            “Vamos, una ‘startup’ española con un proceso de contratación 100% digital”
            <br /> – El Mundo.
          </h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-for="i in 4"
          :key="i"
          cols="12"
          md="3"
          class="mt-6"
          align="center"
        >
          <v-hover v-slot="{ hover }">
            <v-img
              :src="$vuetify.breakpoint.smAndDown || hover ? require(`~/assets/images/home/press/logo${i}.png?webp`) : require(`~/assets/images/home/press/logo${i}-hover.png?webp`)"
              height="40"
              contain
              style="cursor: pointer;"
            />
          </v-hover>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<style scoped>
.wrapper {
  background-color: #F6F6F6;
}
</style>
