<template>
  <client-only>
    <section class="wrapper py-12">
      <v-container fluid>
        <v-row class="mb-12">
          <v-col cols="12" align="center">
            <h2 class="text-h4 font-weight-bold">
              ¿Qué dicen de nosotros?
            </h2>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <trustbox template-id="53aa8912dec7e10d38f59f36" style-height="140px" style-width="100%" theme="light" stars="4,5" />
          </v-col>
        </v-row>
      </v-container>
    </section>
  </client-only>
</template>

<style scoped>
.wrapper {
  background-color: #F6F6F6;
}
</style>
