<template>
  <section class="mt-16 pt-4 pb-16">
    <v-container>
      <v-row class="mb-6">
        <v-col cols="12" align="center">
          <h2 class="text-h4 font-weight-bold">
            Nuestra selección de coches de renting
          </h2>
        </v-col>
      </v-row>
      <v-row class="mb-16"  justify="center">
        <v-col v-if="loading" class="text-center" cols="12">
          <v-progress-circular indeterminate />
        </v-col>
        <template v-else>
          <v-col
            v-show="$vuetify.breakpoint.lgAndUp"
            v-for="(car, i) in cars"
            :key="i"
            cols="12"
            md="3"
            class="mr-6">
            <shared-ui-car-card :car="car" />
          </v-col>
          <v-slide-group v-show="$vuetify.breakpoint.mdAndDown">
            <v-slide-item
              v-for="(car, i) in cars"
              :key="i"
              class="mx-4"
            >
              <shared-ui-car-card :car="car" />
            </v-slide-item>
          </v-slide-group>
        </template>
      </v-row>
      <v-row>
        <v-col cols="8" offset="2" md="4" offset-md="4" align="center">
          <v-btn
            :to="{ name: 'todos-los-coches-slug' }"
            class="text-none py-8"
            color="secondary"
            block
            x-large
            depressed
            tile
          >
            Encuentra tu coche
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    cars: [],
    loading: false,
    model: null
  }),

  mounted () {
    this.load()
  },

  methods: {
    async load () {
      this.loading = true
      try {
        const response = await this.$axios.get('cars', {
          params: {
            page: 1,
            itemsPerPage: 3,
            showInHome: true
          }
        })

        this.cars = response.data['hydra:member']
      } catch (e) {
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
