<template>
  <section class="wrapper mt-8 pb-16">
    <v-container v-if="!$isAMP">
      <v-breadcrumbs v-show="$vuetify.breakpoint.lgAndUp" :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" />
      <v-row class="mb-6 mt-6">
        <v-col cols="12">
          <h1 class="text-h4 text-center font-weight-bold">
            {{ article.title }}
            <v-divider class="my-6" inset />
          </h1>
          <v-container class="text-caption text-center">
            <v-icon small left>
              mdi-clock-time-five-outline
            </v-icon>
            <span class="font-weight-bold mr-6">
              {{ $moment(article.publishedAt).format('LL') }}
            </span>
            <span>
              {{ `Tiempo de lectura ${article.estimatedReadingTime}´` }}
            </span>
          </v-container>
        </v-col>
      </v-row>
      <v-row class="mb-6">
        <v-col cols="12" md="9">
          <article>
            <v-container>
              <v-img v-if="article.cover" :src="article.cover.thumbnails.medium" class="mt-5 mb-10" height="250" aspect-ratio="1" />
              <div v-html="article.content" />
            </v-container>
          </article>
          <v-row>
            <v-col cols="12" class="text-center mt-6">
              <p class="headline">
                Compartir
              </p>
            </v-col>
          </v-row>
          <v-row class="mt-0">
            <v-col cols="12" class="text-center">
              <a :href="'http://www.facebook.com/sharer/sharer.php?http://www.vamos.es'+ $route.fullPath" class="white--text mr-6" target="_blank">
                <v-icon size="50">
                  mdi-facebook
                </v-icon>
              </a>
              <a :href="'https://twitter.com/intent/tweet/?text='+ article.title + '&url=https://www.vamos.es'+ $route.fullPath" class="white--text mr-6" target="_blank">
                <v-icon size="50">
                  mdi-twitter
                </v-icon>
              </a>
              <a :href="'http://www.linkedin.com/shareArticle?mini=true&url=https://www.vamos.es'+$route.fullPath" class="white--text mr-6" target="_blank">
                <v-icon size="50">
                  mdi-linkedin
                </v-icon>
              </a>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="3">
          <v-carousel
            cycle
            height="460"
            hide-delimiter-background
          >
            <v-carousel-item v-for="(car,i) in cars" :key="i">
              <shared-ui-car-card :car="car" />
            </v-carousel-item>
          </v-carousel>
        </v-col>
      </v-row>
      <v-row v-if="associatedArticles.length">
        <v-col cols="12">
          <h3 class="text-h4 font-weight-bold text-center">
            Artículos relacionados
          </h3>
        </v-col>
        <v-col v-for="(associatedArticle, i) in associatedArticles" :key="i" cols="12" md="4">
          <v-card :to="{ name: 'noticias-coches-slug', params: { slug: associatedArticle.slug }}" tile>
            <v-img
              v-if="associatedArticle.cover"
              :src="associatedArticle.cover.thumbnails.medium"
              :alt="associatedArticle.cover.webAlt ? associatedArticle.cover.webAlt : associatedArticle.title"
              :title="associatedArticle.cover.webTitle ? associatedArticle.cover.webTitle : associatedArticle.title"
              height="160"
            />
            <v-card-text>
              <p class="text-body-2 black--text font-weight-black">
                {{ associatedArticle.title }}
              </p>
              <!-- <p class="black--text">
                {{ associatedArticle.caption }}
              </p> -->
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <div v-else style="margin-top: 100px;">
      <div style="margin: 0 auto; width: 100%;">
        <h1 style="font-size: 32px; line-height: 44px; padding: 20px;">
          <strong>{{ article.title }}</strong>
        </h1>
      </div>
      <div style="width: 100%; height: auto; display: inline-block;">
        <amp-img
          v-if="article.cover"
          :src="article.cover.thumbnails.medium"
          width="375"
          height="200"
          layout="responsive"
          :alt="article.cover.webAlt"
          :title="article.cover.webTitle" />
      </div>
      <div style="margin-top: 40px; clear: both; width: 100%; display: inline-block;">
        <div style="margin: 0 auto; width: 100%;">
          <div style="display: inline-block; width: 100%;">
            <div style="width: 100%;">
              <div style="font-size: 18px; line-height: 1.7; word-break: break-word;">
                <div style="margin: 30px 30px 30px 30px;" v-html="article.content" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 100%; margin-top: 20px;">
        <div style="margin-top: 20px">
          <ul style="list-style-type: none; padding: 20px;">
            <h3 style="font-size: 12px; text-transform: uppercase; font-weight: 400; color: #666;"> Entrada relacionada</h3>
            <li v-for="(associatedArticle, i) in associatedArticles" :key="i">
              <amp-img v-if="associatedArticle.cover" :src="associatedArticle.cover.thumbnails.medium" layout="responsive" width="220" height="110"></amp-img>
              <div style="margin-top: 10px; font-size: 20px; line-height: 1.4; font-weight: 600;">
                <v-btn style="text-decoration: none; color: #333;" :href="`https://www.vamos.es/amp/noticias-coches/${associatedArticle.slug}`"> {{ associatedArticle.title}}</v-btn>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  amp: 'hybrid',
  ampLayout: 'amp',
  data: () => ({
    article: {
      estimatedReadingTime: null,
      publishedAt: null,
      content: null,
      title: null,
      metaTitle: null,
      metaDescription: null
    },
    cars: [],
    associatedArticles: []
  }),

  async asyncData ({ $axios, error, params }) {
    const response = await $axios.get('articles', {
      params: {
        slug: params.slug,
        itemsPerPage: 1
      }
    })

    if (response.data['hydra:member'].length === 0) {
      error({ statusCode: 404, message: 'Article does not exist' })
    }

    const article = response.data['hydra:member'][0]

    return { article }
  },

  async fetch () {
    await this.loadCars()
    await this.loadAssociatedArticles(this.article)
  },

  head () {
    if (!this.article) {
      return {}
    }

    const data = {
      title: this.article.metaTitle ? this.article.metaTitle : '',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.article.metaDescription ? this.article.metaDescription : ''
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary'
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: this.article.urlCanonical ? this.article.urlCanonical : ''
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: this.article.metaTitle ? this.article.metaTitle : ''
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: this.article.metaDescription ? this.article.metaDescription : ''
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: this.article.cover ? this.article.cover.thumbnails.medium : ''
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.article.metaTitle ? this.article.metaTitle : ''
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: this.article.urlCanonical ? this.article.urlCanonical : ''
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.article.metaDescription ? this.article.metaDescription : ''
        },
        {
          hid: 'og:image',
          name: 'og:image',
          content: this.article.cover ? this.article.cover.thumbnails.medium : ''
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'article'
        }
      ],
      link: []
    }

    if (this.article.metaRobots) {
      data.meta.push({
        hid: 'robots',
        name: 'robots',
        content: this.article.metaRobots
      })
    }

    if (this.article.urlCanonical) {
      data.link.push({
        hid: 'canonical',
        rel: 'canonical',
        href: this.article.urlCanonical
      })
    }

    return data
  },
  computed: {
    breadcrumbsItems () {
      return [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: 'Blog',
          disabled: false,
          href: '/noticias-coches'
        }, {
          text: this.article.title,
          disabled: true,
          href: `/noticias-coches/${this.article.slug}`
        }
      ]
    }
  },

  methods: {
    async loadAssociatedArticles (article) {
      this.associatedArticles = []

      try {
        const response = await this.$axios.get('article-associations', {
          params: {
            article: article.id,
            'publishedAt[before]': this.$moment().format('YYYY-MM-DDTHH:mm'),
            itemsPerPage: 4,
            page: 1
          }
        })

        const articles = response.data['hydra:member']
        for (let i = 0; i < articles.length; i++) {
          const article = articles[i]
          if (article['@id'] !== this.article['@id'] && this.associatedArticles.length < 3) {
            this.associatedArticles.push(article.associatedArticle)
          }
        }
      } catch (e) {
      }
    },

    async loadCars () {
      try {
        const response = await this.$axios.get('cars', {
          params: {
            page: 1,
            itemsPerPage: 3,
            showInHome: true
          }
        })

        this.cars = response.data['hydra:member']
      } catch (e) {
      }
    }
  }
}
</script>
<style>
.wp-block-image img{
  max-width: 100% !important;
  height: auto !important;
}
</style>
