<template>
  <v-overlay
    v-if="$vuetify.breakpoint.mdAndDown"
    class="align-start text-center"
    color="white"
    opacity="1"
    :value="appBarMenu"
  >
    <v-app-bar
      height="55"
      color="white"
      fixed
      elevation="0"
    >
      <v-toolbar-title>
        <logo />
      </v-toolbar-title>
      <v-spacer />
      <v-btn color="black" icon x-large @click="setAppBarMenu(false)">
        <v-icon>
          mdi-close
        </v-icon>
      </v-btn>
    </v-app-bar>
    <nav class="mt-16 pt-16">
      <nuxt-link :to="{ name: 'todos-los-coches-slug' }" class="text-h6 font-weight-black d-block mb-8">
        Todos los coches
      </nuxt-link>
      <nuxt-link :to="{ name: 'renting-coches-particulares-slug' }" class="text-h6 font-weight-black d-block mb-8">
        Particulares
      </nuxt-link>
      <nuxt-link :to="{ name: 'renting-coches-autonomos-slug' }" class="text-h6 font-weight-black d-block mb-8">
        Autónomos
      </nuxt-link>
      <nuxt-link :to="{ name: 'renting-coches-empresas-slug' }" class="text-h6 font-weight-black d-block mb-8">
        Empresas
      </nuxt-link>
      <nuxt-link :to="{ name: 'como-funciona-vamos' }" class="text-h6 d-block mb-8">
        ¿Cómo funciona?
      </nuxt-link>
      <nuxt-link :to="{ name: 'quienes-somos' }" class="text-h6 d-block mb-8">
        ¿Quiénes somos?
      </nuxt-link>
      <nuxt-link :to="{ name: 'noticias-coches' }" class="text-h6 d-block mb-8">
        Blog Universo Vamos
      </nuxt-link>
      <v-btn
        href="tel:+34910781751"
        class="text-body-2 text-none px-16"
        color="primary"
        x-large
        depressed
        outlined
        tile
      >
        91 078 17 51
      </v-btn>
    </nav>
  </v-overlay>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Logo from './Logo'

export default {
  components: { Logo },
  computed: {
    ...mapGetters({
      appBarMenu: 'layout/appBarMenu'
    })
  },

  watch: {
    $route () {
      this.setAppBarMenu(false)
    }
  },

  methods: {
    ...mapActions({
      setAppBarMenu: 'layout/setAppBarMenu'
    })
  }
}
</script>
