<template>
  <v-app-bar
    v-if="$vuetify.breakpoint.mdAndUp"
    height="100"
    color="white"
    elevate-on-scroll
    fixed
  >
    <v-container :class="$vuetify.breakpoint.lgAndUp ? 'px-16' : 'px-6'" :fluid="$vuetify.breakpoint.lgAndDown">
      <v-layout row align-center>
        <v-toolbar-title>
          <logo />
        </v-toolbar-title>

        <v-spacer />

        <nav>
          <nuxt-link :to="{ name: 'todos-los-coches-slug' }" class="mr-4">
            Todos los coches
          </nuxt-link>

          <nuxt-link :to="{ name: 'renting-coches-particulares-slug' }" class="mr-4">
            Particulares
          </nuxt-link>

          <nuxt-link :to="{ name: 'renting-coches-autonomos-slug' }" class="mr-4">
            Autónomos
          </nuxt-link>

          <nuxt-link :to="{ name: 'renting-coches-empresas-slug' }" class="mr-4">
            Empresas
          </nuxt-link>

          <nuxt-link :to="{ name: 'como-funciona-vamos' }" class="mr-4">
            ¿Cómo funciona?
          </nuxt-link>
        </nav>

        <v-btn
          href="tel:+34910781751"
          class="text-body-1 font-weight-bold text-none px-6"
          color="primary"
          depressed
          tile
          dark
        >
          91 078 17 51
        </v-btn>
      </v-layout>
    </v-container>
  </v-app-bar>

  <v-app-bar
    v-else
    height="55"
    color="white"
    fixed
  >
    <v-toolbar-title>
      <logo />
    </v-toolbar-title>

    <v-spacer />

    <v-btn
      href="tel:+34910781751"
      class="text-caption font-weight-bold text-none px-8 px-sm-16 mr-3"
      color="primary"
      depressed
      tile
      dark
    >
      91 078 17 51
    </v-btn>

    <v-app-bar-nav-icon class="primary--text" @click="setAppBarMenu(true)" />
  </v-app-bar>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions({
      setAppBarMenu: 'layout/setAppBarMenu'
    })
  }
}
</script>

<style scoped>
a:hover {
  color: var(--v-secondary-base);
}

.nuxt-link-active {
 font-weight: bold;
}
</style>
