<template>
  <v-app-bar
    height="100"
    color="white"
    elevate-on-scroll
    fixed
  >
    <v-container :class="$vuetify.breakpoint.lgAndUp ? 'px-7' : 'px-6'" :fluid="$vuetify.breakpoint.lgAndDown">
      <v-layout row align-center>
        <v-toolbar-title>
          <v-img
            :src="require('~/assets/images/layout/logo.svg?inline')"
            width="126"
            height="25"
            aspect-ratio="1"
            alt="Vamos | Renting de coches"
            contain
          />
        </v-toolbar-title>
        <v-spacer />
        <v-btn
          href="tel:+34910781504"
          class="text-body-1 font-weight-bold text-none px-6"
          color="primary"
          depressed
          tile
          dark
        >
          910 781 504
        </v-btn>
      </v-layout>
    </v-container>
  </v-app-bar>
</template>

<script>

export default {

}
</script>

<style scoped>
a:hover {
  color: var(--v-secondary-base);
}

.nuxt-link-active {
  font-weight: bold;
}
</style>
