<template>
  <v-footer :class="$vuetify.breakpoint.smAndDown ? 'text-center' : ''" class="py-16" color="primary" dark>
    <v-container>
      <v-row class="mt-8" align="center">
        <v-col cols="12" md="3">
          <span class="text-body-1 font-weight-black">
            © {{ new Date().getFullYear() }} Vamos ®
          </span>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>
