<template>
  <v-footer :class="$vuetify.breakpoint.smAndDown ? 'text-center' : ''" class="py-16" color="primary" dark>
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <h3 class="text-h4 font-weight-bold mb-12">
            <small>Sobre nosotros</small>
          </h3>
          <nuxt-link :to="{ name: 'quienes-somos' }" class="white--text text-h6 d-block mb-6">
            ¿Quiénes somos?
          </nuxt-link>
          <nuxt-link :to="{ name: 'noticias-coches' }" class="white--text text-h6 d-block mb-6">
            Blog Universo Vamos
          </nuxt-link>
          <nuxt-link :to="{ name: 'medio-ambiente' }" class="white--text text-h6 d-block mb-6">
            #UnCocheUnArbol
          </nuxt-link>
          <nuxt-link :to="{ name: 'prensa' }" class="white--text text-h6 d-block mb-6">
            Prensa
          </nuxt-link>
          <a href="https://vms.vamos.es" target="_blank" class="white--text text-h6 d-block mb-6">
            Vamos Mobility Services
          </a>
        </v-col>
        <v-col cols="12" md="4">
          <h3 class="text-h4 font-weight-bold mb-12">
            <small>Tipos de renting</small>
          </h3>
          <nuxt-link :to="{ name: 'todos-los-coches-slug' }" class="white--text text-h6 d-block mb-6">
            Todos los coches
          </nuxt-link>
          <nuxt-link :to="{ name: 'renting-coches-particulares-slug' }" class="white--text text-h6 d-block mb-6">
            Renting para particulares
          </nuxt-link>
          <nuxt-link :to="{ name: 'renting-coches-autonomos-slug' }" class="white--text text-h6 d-block mb-6">
            Renting para autónomos
          </nuxt-link>
          <nuxt-link :to="{ name: 'renting-coches-empresas-slug' }" class="white--text text-h6 d-block mb-6">
            Renting para empresas
          </nuxt-link>
        </v-col>
        <v-col cols="12" md="4">
          <h3 class="text-h4 font-weight-bold mb-12">
            <small>Ayuda</small>
          </h3>
          <nuxt-link :to="{ name: 'como-funciona-vamos' }" class="white--text text-h6 d-block mb-6">
            ¿Cómo funciona?
          </nuxt-link>
          <nuxt-link :to="{ name: 'preguntas-frecuentes' }" class="white--text text-h6 d-block mb-6">
            Preguntas frecuentes
          </nuxt-link>
        </v-col>
      </v-row>

      <client-only>
        <v-row>
          <v-col cols="12">
            <trustbox template-id="5419b732fbfb950b10de65e5" style-height="24px" style-width="100%" theme="dark" />
          </v-col>
        </v-row>
      </client-only>

      <v-row class="mt-8" align="center">
        <v-col cols="12" md="3">
          <span class="text-body-1 font-weight-black">
            © {{ new Date().getFullYear() }} Vamos ®
          </span>
        </v-col>
        <v-col cols="12" md="6" class="text-caption">
          <nuxt-link :to="{ name: 'terminos-y-condiciones' }" class="white--text">
            Términos y condiciones de uso
          </nuxt-link>
          <span class="mx-1 mx-md-3">
            |
          </span>
          <nuxt-link :to="{ name: 'politica-privacidad' }" class="white--text">
            Política de privacidad
          </nuxt-link>
          <span class="mx-1 mx-md-3">
            |
          </span>
          <nuxt-link :to="{ name: 'uso-de-cookies' }" class="white--text">
            Uso de cookies
          </nuxt-link>
        </v-col>
        <v-col :align="$vuetify.breakpoint.mdAndUp ? 'right' : ''" cols="12" md="3">
          <a href="https://www.facebook.com/Vamos-439307093532348/" class="white--text mr-6" target="_blank">
            <v-icon dark>
              mdi-facebook
            </v-icon>
          </a>
          <a href="https://twitter.com/Vamos_es/" class="white--text mr-6" target="_blank">
            <v-icon dark>
              mdi-twitter
            </v-icon>
          </a>
          <a href="https://www.instagram.com/vamos.es/" class="white--text mr-6" target="_blank">
            <v-icon dark>
              mdi-instagram
            </v-icon>
          </a>
          <a href="https://es.linkedin.com/company/vamos-motor-company" class="white--text" target="_blank">
            <v-icon dark>
              mdi-linkedin
            </v-icon>
          </a>
        </v-col>
      </v-row>
    </v-container>
    <cookie-law class="cookie-box">
      <div slot-scope="props" style="width: 100%;">
        <v-btn class="float-right" color="black" icon x-small @click="props.close">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <p class="caption mb-2">
          Al hacer clic en “Aceptar todas las cookies”, usted acepta que las cookies se guarden en su dispositivo para mejorar la navegación del sitio, analizar el uso del mismo, y colaborar con nuestros estudios para marketing.
        </p>
        <v-btn
          class="skew"
          :block="$vuetify.breakpoint.mdAndDown"
          outlined
          color="secondary"
          right
          @click="props.accept"
          small
        >
          <span>Aceptar todas las cookies</span>
        </v-btn>
      </div>
    </cookie-law>
  </v-footer>
</template>

<style lang="scss">
.cookie-box {
  width: 100%;
  max-width: 400px;
  bottom: 10px;
  left: 10px;

  @media only screen and (max-width: 960px) {
    max-width: 100%;
    bottom: 0;
    left: 0;
  }
}
</style>
