<template>
  <nuxt-link :to="{ name: 'index' }">
    <img
      :src="require('~/assets/images/layout/logo.svg')"
      width="126"
      height="25"
      aspect-ratio="1"
      alt="Vamos | Renting de coches"
      contain
    >
  </nuxt-link>
</template>
