<template>
  <v-btn
    v-if="$vuetify.breakpoint.mdAndDown"
    href="https://wa.me/34644073465"
    target="_blank"
    color="#4dc247"
    fab
    small
    fixed
    bottom
    right
    dark
  >
    <v-icon>
      mdi-whatsapp
    </v-icon>
  </v-btn>
</template>
