<template>
  <v-card v-if="!submitted" class="sticky" color="black" flat tile>
    <v-card-text class="white--text">
      <p class="text-center font-weight-bold text-h6">
        ¿No encuentras lo que estás buscando?
      </p>
      <p class="text-center">
        Introduce tus datos y buscaremos el coche perfecto para ti
      </p>
      <hubspot-lead-form
        form-type="brand"
        background="black"
        :car-brand-name="brand.name"
      />
      <!-- <v-form ref="form" @keyup.native.enter="submit">
        <v-text-field
          v-model="$v.form.firstName.$model"
          :error-messages="handleErrors($v.form.firstName)"
          label="Nombre"
          background-color="white"
          color="grey"
          solo
          dense
          @input="$v.form.firstName.$touch()"
          @blur="$v.form.firstName.$touch()"
        />
        <v-text-field
          v-model="$v.form.phoneNumber.$model"
          :error-messages="handleErrors($v.form.phoneNumber)"
          label="Teléfono"
          background-color="white"
          color="grey"
          solo
          dense
          @input="$v.form.phoneNumber.$touch()"
          @blur="$v.form.phoneNumber.$touch()"
        />
        <v-textarea
          v-model="$v.form.message.$model"
          :error-messages="handleErrors($v.form.message)"
          label="¿Qué estás buscando?"
          background-color="white"
          color="grey"
          solo
          dense
          @input="$v.form.message.$touch()"
          @blur="$v.form.message.$touch()"
        />
        <v-checkbox
          v-model="$v.form.conditions.$model"
          :error-messages="handleErrors($v.form.conditions)"
          class="float-left"
          dark
          @input="$v.form.conditions.$touch()"
          @blur="$v.form.conditions.$touch()"
        />
          He leído y acepto los <nuxt-link :to="{ name: 'index' }" class="white--text">
          Términos y condiciones
        </nuxt-link> de uso y la <nuxt-link :to="{ name: 'index' }" class="white--text">
          Política de privacidad
        </nuxt-link>
        <v-btn
          id="btn-contact"
          :loading="submitting"
          class="text-none mt-3"
          color="secondary"
          block
          depressed
          tile
          @click="submit"
        >
          Te llamamos
        </v-btn>
      </v-form> -->
    </v-card-text>
  </v-card>
  <!-- <v-card v-else class="sticky text-center" color="black" tile>
    <v-card-text>
      <p class="my-6">
        <v-icon color="green lighten-1" size="60">
          mdi-check-circle-outline
        </v-icon>
      </p>
      <p class="white--text text-h6">
        ¡Gracias por contactar con nosotros! <br />
        Nos pondremos en contacto contigo muy pronto.
      </p>
    </v-card-text>
  </v-card> -->
</template>

<script>
// import { required } from 'vuelidate/lib/validators'

export default {
  props: {
    brand: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    // form: {
    //   firstName: '',
    //   phoneNumber: '',
    //   message: '',
    //   conditions: false
    // },
    // submitting: false,
    submitted: false
  })

  // validations () {
  //   return {
  //     form: {
  //       firstName: {
  //         required
  //       },
  //       phoneNumber: {
  //         required
  //       },
  //       message: {
  //         required
  //       },
  //       conditions: {
  //         required,
  //         valid: (value, vm) => value === true
  //       }
  //     }
  //   }
  // },

  // methods: {
  //   async submit () {
  //     this.$v.form.$touch()
  //     if (this.$v.form.$pending || this.$v.form.$error) { return }
  //     this.submitting = true

  //     try {
  //       await this.$axios.post('contacts', {
  //         firstName: this.form.firstName,
  //         phoneNumber: this.form.phoneNumber,
  //         message: this.form.message
  //       })

  //       this.submitted = true
  //     } catch (e) {
  //       this.$toast.error(e.response.data['hydra:description'])
  //     } finally {
  //       this.submitting = false
  //     }
  //   }
  // }
}
</script>
