<template>
  <v-dialog
    v-model="dialog"
    persistent
    transition="dialog-bottom-transition"
    max-width="600"
  >
    <v-card>
      <v-toolbar
        color="secondary"
        dark
      />
      <v-card-title :class="$vuetify.breakpoint.lgAndUp ? 'text-h3 pa-12 justify-center' : 'text-h4 pa-12 justify-center'">
        ¡Enhorabuena!
      </v-card-title>
        <v-container>
          <v-row
            no-gutters
          >
            <v-col
              align="center"
            >
              <v-icon
                color="green"
                :size="$vuetify.breakpoint.lgAndUp ? 140 : 100"
              >
                mdi-check-circle
              </v-icon>
            </v-col>
          </v-row>
        </v-container>
        <v-card-text class="title justify-center">Tu perfil ha sido aprobado para realizar la contratación del renting con una garantía.</v-card-text>
      <v-card-actions class="justify-center">
        <v-spacer />
        <v-btn
          color="secondary"
          class="white--text"
          @click="handler"
          block
        >
          Completar proceso
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  props: {
    quotation: {
      required: true
    }
  },

  data: () => ({
    dialog: false
  }),

  created () {
    this.dialog = true
  },

  computed: {
    ...mapGetters({
      selectedCar: 'quotation/selectedCar'
    })
  },

  methods: {
    async handler () {
      await this.$router.push({
        name: 'quotings-documentation-id',
        params: { id: this.selectedCar, quotation: this.quotation }
      })
    }
  }
}

</script>
