<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      persistent
      transition="dialog-bottom-transition"
      max-width="700"
    >
      <v-card>
        <v-toolbar
          color="secondary"
          dark
        />
        <v-card-title :class="$vuetify.breakpoint.lgAndUp ? 'text-h5 pa-12 justify-center' : 'text-h4 pa-12 justify-center'">
          Lo sentimos , tu perfil no ha sido aprobado.
        </v-card-title>
        <v-container>
          <v-row
            no-gutters
          >
            <v-col
              align="center"
            >
              <v-icon
                color="red"
                x-large
              >
                mdi-emoticon-sad-outline
              </v-icon>
            </v-col>
          </v-row>
        </v-container>
        <v-card-text>
          A pesar de que tu perfil no haya sido aprobado para realizar la contratación del renting de tu vehículo, ¡no te preocupes!
          Siempre tenemos alternativas para realizar la contratación. Llámanos al siguiente número y te las contamos:
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-alert
            icon="mdi-phone-dial"
            color="secondary"
          >
            910 781 751
          </v-alert>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

export default {
  data: () => ({
    dialog: false
  }),

  created () {
    this.dialog = true
  }
}

</script>
