<template>
  <v-container>
    <v-breadcrumbs v-if="brand" :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" v-show="$vuetify.breakpoint.lgAndUp"/>
    <v-row>
      <v-col cols="12">
        <v-img
          v-if="brandCoverImage"
          :src="brandCoverImage.thumbnails.medium"
          :alt="brandCoverImage.webAlt ? brandCoverImage.webAlt : brand.title"
          :title="brandCoverImage.webTitle ? brandCoverImage.webTitle : brand.title"
          class="align-end"
          height="400"
          style="filter: grayscale(100%);"
        >
          <v-sheet color="black" height="160" style="position: absolute; bottom: 0; right: 0; left: 0; opacity: 0.5; z-index: 1;" />
          <v-sheet class="py-6 px-10" color="transparent" height="160" style="position: absolute; bottom: 0; right: 0; left: 0; z-index: 10;">
            <h1 class="text-h3 white--text font-weight-bold">
              Renting {{ brand.name }}
            </h1>
            <p class="white--text mt-4">
              Busca entre nuestros modelos las mejores ofertas de los coches {{ brand.name }}
            </p>
          </v-sheet>
        </v-img>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-if="loading" class="text-center" cols="12">
        <v-progress-circular indeterminate />
      </v-col>
      <v-col v-else cols="12" md="8">
        <v-row class="mb-16">
          <v-col v-for="(car, i) in cars" :key="i" cols="12" md="6">
            <shared-ui-car-card :car="car" />
          </v-col>
        </v-row>
        <v-row class="mb-16">
          <v-col v-for="(car, i) in outOfStockCars" :key="i" cols="12" md="3">
            <v-card :to="getLink(car)" class="text-center pa-3">
              <v-card disabled flat>
                <v-chip class="mb-2" color="silver" small>
                  ¡Agotado!
                </v-chip>
                <v-img
                  v-if="car.image"
                  :src="car.image.thumbnails.medium"
                  :alt="car.image.webAlt ? car.image.webAlt : car.model.model"
                  :title="car.image.webTitle ? car.image.webTitle : car.model.model"
                  height="80"
                  aspect-ratio="1"
                  contain
                />
                <p class="text-caption black--text font-weight-black text-truncate mb-0 mt-2">
                  {{ car.model.brand.name }} {{ car.model.model }}
                </p>
                <p class="text-caption black--text font-weight-black text-truncate">
                  {{ car.version }}
                </p>
              </v-card>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <div v-html="brandWebDescription" />
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="4">
        <brand-call-form :brand="brand" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    brand: null,
    brandCoverImage: null,
    brandWebDescription: null,
    cars: [],
    outOfStockCars: [],
    loading: false
  }),

  async asyncData ({ $axios, error, params }) {
    if (!params.brand.startsWith('renting-')) {
      return error({ statusCode: 404, message: 'Brand does not exist' })
    }

    const slug = params.brand.replace('renting-', '')

    const response = await $axios.get('car-brands', {
      params: {
        slug
      }
    })

    if (response.data['hydra:member'].length === 0) {
      return error({ statusCode: 404, message: 'Brand does not exist' })
    }

    const brand = response.data['hydra:member'][0]

    const brandResponse = await $axios.get(brand['@id'])
    const brandCoverImage = brandResponse.data.cover
    const brandWebDescription = brandResponse.data.webDescription

    return { brand, brandCoverImage, brandWebDescription }
  },

  async fetch () {
    await this.loadCars()
    await this.loadOutOfStockCars()
  },

  head () {
    if (!this.brand) {
      return {}
    }

    const data = {
      title: this.brand.metaTitle ? this.brand.metaTitle : this.brand.name,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.brand.metaDescription ? this.brand.metaDescription : this.brand.name
        }
      ],
      link: []
    }

    if (this.brand.metaRobots) {
      data.meta.push({
        hid: 'robots',
        name: 'robots',
        content: this.brand.metaRobots
      })
    }

    if (this.brand.urlCanonical) {
      data.link.push({
        hid: 'canonical',
        rel: 'canonical',
        content: this.brand.urlCanonical
      })
    }

    return data
  },

  computed: {
    breadcrumbsItems () {
      return [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: this.brand.name,
          disabled: true
        }
      ]
    }
  },

  methods: {
    async loadCars () {
      try {
        const response = await this.$axios.get('cars', {
          params: {
            'stocks.quantity[gt]': 0,
            'model.brand': this.brand.id,
            showInBrand: true
          }
        })

        this.cars = response.data[['hydra:member']]
      } catch (e) {
        this.$toast.error(e.response.data['hydra:description'])
      }
    },

    async loadOutOfStockCars () {
      try {
        const response = await this.$axios.get('cars', {
          params: {
            'stocks.quantity[lte]': 0,
            'model.brand': this.brand.id,
            showInBrand: true
          }
        })

        this.outOfStockCars = response.data[['hydra:member']]
      } catch (e) {
        this.$toast.error(e.response.data['hydra:description'])
      }
    },

    getLink (car) {
      return {
        name: 'brand-model-version',
        params: {
          brand: 'renting-' + car.model.brand.slug,
          model: car.model.slug,
          version: car.slug
        }
      }
    }
  }
}
</script>

<style scoped>
.sticky {
  top: 120px;
  position: sticky;
}
</style>
