<template>
  <v-select
    v-bind="$attrs"
    :value="accessoriesFilter"
    :items="accessories"
    :menu-props="{ closeOnClick: true, closeOnContentClick: true }"
    item-value="@id"
    item-text="name"
    placeholder="Seleccionar"
    return-object
    hide-no-data
    outlined
    clearable
    dense
    v-on="$listeners"
    @change="setAccessoriesFilter($event)"
  />
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      accessoriesFilter: 'search/accessoriesFilter',
      accessories: 'search/accessories'
    })
  },

  methods: {
    ...mapActions({
      setAccessoriesFilter: 'search/setAccessoriesFilter'
    })
  }
}
</script>
