<template>
  <v-select
    v-bind="$attrs"
    :value="brandFilter"
    :items="brands"
    :menu-props="{ closeOnClick: true, closeOnContentClick: true }"
    item-value="@id"
    item-text="name"
    placeholder="Seleccionar"
    return-object
    hide-no-data
    outlined
    clearable
    dense
    v-on="$listeners"
    @change="setBrandFilter($event)"
  />
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      brandFilter: 'search/brandFilter',
      brands: 'search/brands'
    })
  },

  methods: {
    ...mapActions({
      setBrandFilter: 'search/setBrandFilter'
    })
  }
}
</script>
