<template>
  <v-row class="mb-3">
    <v-col v-for="(item, i) in colors" :key="i" cols="2">
      <v-card
        :color="item.code"
        width="20"
        height="20"
        tile
        @click="setColorFilter(item)"
      />
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      colors: 'search/colors'
    })
  },

  methods: {
    ...mapActions({
      setColorFilter: 'search/setColorFilter'
    })
  }
}
</script>
