<template>
  <v-select
    v-bind="$attrs"
    :value="priceFilter"
    :items="[ { value: [0, 249], text: 'Menos de 250 €' }, { value: [250, 300], text: '250 - 300 €' }, { value: [300, 400], text: '300 - 400 €' }, { value: [400, 10000], text: 'Más de 400 €' }]"
    item-value="value"
    item-text="text"
    label="Seleccionar"
    return-object
    hide-no-data
    outlined
    clearable
    dense
    v-on="$listeners"
    @change="setPriceFilter($event)"
  />
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      priceFilter: 'search/priceFilter'
    })
  },

  methods: {
    ...mapActions({
      setPriceFilter: 'search/setPriceFilter'
    })
  }
}
</script>
