<template>
  <v-select
    :value="transmissionFilter"
    :items="transmissions"
    item-value="value"
    item-text="text"
    placeholder="Seleccionar"
    return-object
    outlined
    dense
    @change="setTransmissionFilter($event)"
    clearable
  />
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      transmissionFilter: 'search/transmissionFilter',
      transmissions: 'search/transmissions'
    })
  },

  methods: {
    ...mapActions({
      setTransmissionFilter: 'search/setTransmissionFilter'
    })
  }
}
</script>
