<template>
  <div>
    <v-container>
      <v-breadcrumbs v-show="$vuetify.breakpoint.lgAndUp" :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" />
      <v-row>
        <v-col cols="12" md="8">
          <v-carousel
            class="mb-6"
            height="auto"
            hide-delimiters
            hide-delimiter-background
            cycle
          >
            <v-carousel-item v-for="(image, i) in images" :key="i">
              <v-img :src="image.thumbnails.medium" :alt="image.webAlt ? image.webAlt : car.version" :title="image.webTitle ? image.webTitle : car.version" />
            </v-carousel-item>
            <v-sheet v-show="$vuetify.breakpoint.lgAndUp" class="py-6 px-10" color="transparent" height="120" style="position: absolute; bottom: 0; right: 0; left: 0; z-index: 10;">
              <v-row class="d-none d-lg-block d-md-block">
                <v-col cols="6">
                  <h1 class="text-h5 white--text font-weight-bold">
                    Renting {{ car.model.brand.name }}  {{ car.model.model }}
                  </h1>
                  <p class="white--text">
                    {{ car.version }}
                  </p>
                </v-col>
                <v-spacer />
                <v-col cols="4">
                  <p class="text-h4 white--text font-weight-bold">
                    {{ car.defaultPaymentType.totalMonthlyFee }} €/mes
                  </p>
                </v-col>
              </v-row>
            </v-sheet>
          </v-carousel>
          <v-row v-if="!stock">
            <v-col cols="12" class="text-center">
              <h2 class="text-h5 font-weight-bold mb-6">
                Lo sentimos, este coche no está disponible en estos momentos. Puedes echar un vistazo a estos otros
              </h2>
            </v-col>
            <v-col cols="8" offset="2" md="4" offset-md="4" align="center">
              <v-btn
                :to="{ name: 'todos-los-coches-slug' }"
                class="text-none py-8"
                color="primary"
                block
                outlined
                x-large
                depressed
                tile
              >
                Ver coches
              </v-btn>
            </v-col>
          </v-row>
          <v-row class="mb-16">
            <v-col cols="12">
              <h3 class="text-h5 font-weight-bold mb-6">
                Características
              </h3>
              <v-row align="center">
                <v-col cols="6" md="4">
                  <img src="~assets/icons/car/1.svg" width="32" class="float-left mr-6" alt="Carrocería">
                  <div>
                    <strong class="d-block">Carrocería</strong>
                    <span>{{ car.model.type.name }}</span>
                  </div>
                </v-col>
                <v-col cols="6" md="4">
                  <img src="~assets/icons/car/2.svg" width="32" class="float-left mr-6" alt="Transmisión">
                  <div>
                    <strong class="d-block">Transmisión</strong>
                    <span>{{ car.transmission }}</span>
                  </div>
                </v-col>
                <v-col cols="6" md="4">
                  <img src="~assets/icons/car/3.svg" width="32" class="float-left mr-6" alt="Potencia">
                  <div>
                    <strong class="d-block">Potencia</strong>
                    <span>{{ car.power }}CV</span>
                  </div>
                </v-col>
                <v-col cols="6" md="4">
                  <img src="~assets/icons/car/4.svg" width="32" class="float-left mr-6" alt="Combustible">
                  <div>
                    <strong class="d-block">Combustible</strong>
                    <span>{{ car.fuelType.name }}</span>
                  </div>
                </v-col>
                <v-col cols="6" md="4">
                  <img src="~assets/icons/car/5.svg" width="32" class="float-left mr-6" alt="Color">
                  <div>
                    <strong class="d-block">Color</strong>
                    <span>{{ car.colors.length === 1 ? car.colors[0].name : 'Varios Colores' }}</span>
                  </div>
                </v-col>
                <v-col cols="6" md="4">
                  <img src="~assets/icons/car/6.svg" width="32" class="float-left mr-6" alt="Llantas">
                  <div>
                    <strong class="d-block">Llantas</strong>
                    <span>{{ car.tireType.name }}</span>
                  </div>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-card width="100%">
                <v-tabs
                  class="carInfoTabs"
                  grow
                >
                  <v-tab class="text-none">
                    Equipamiento destacado
                  </v-tab>
                  <v-tab class="text-none">
                    ¿Dudas sobre esta oferta?
                  </v-tab>

                  <v-tab-item>
                    <v-card flat>
                      <v-card-text>
                        <v-row>
                          <v-col cols="12" md="6" lg="6">
                            <ul>
                              <li v-for="(accessory, i) in car.accessories.slice(0, (car.accessories.length / 2) + 1)" :key="i">
                                {{ accessory.name }}
                              </li>
                            </ul>
                          </v-col>
                          <v-col cols="12" md="6" lg="6">
                            <ul>
                              <li v-for="(accessory, i) in car.accessories.slice((car.accessories.length / 2) + 1)" :key="i">
                                {{ accessory.name }}
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <v-card flat>
                      <v-card-text>
                        <p v-html="car.supplierDescription ? car.supplierDescription.replaceAll('[car_name]', car.model.brand.name + ' ' + car.model.model + ' ' + car.version) : null" />
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="4">
          <car-quoting-form v-if="stock" v-show="$vuetify.breakpoint.mdAndUp" :car="car" />
          <car-out-stock-form v-else v-show="$vuetify.breakpoint.mdAndUp" />
        </v-col>
      </v-row>
    </v-container>
    <section class="py-10" style="background-color: #F6F6F6;">
      <v-container>
        <v-row>
          <v-col cols="12" md="8">
            <v-row>
              <v-col cols="12" md="7">
                <p class="text-h6 font-weight-bold mb-10">
                  Estrena coche sin pagar entrada, ni moverte de casa.
                </p>
                <p class="mb-10">
                  Tu cuota mensual fija incluye todo, menos la gasolina.
                </p>
                <v-img :src="require('~/assets/images/renting/personal.png?webp')" height="200" aspect-ratio="1" />
              </v-col>
              <v-col cols="12" md="5">
                <v-card v-for="(value, i) in values" :key="i" class="mb-3">
                  <v-list>
                    <v-list-item>
                      <img :src="require(`~/assets/icons/car-insurance/${i+1}.svg`)" width="32" class="float-left mt-n1 mr-6">
                      <v-list-item-content>
                        <v-list-item-title>
                          {{ value.title }}
                        </v-list-item-title>
                        <v-list-item-subtitle>
                          {{ value.subtitle }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <section class="py-10">
      <v-container>
        <v-row>
          <v-col cols="12" md="8">
            <h3 class="text-h6 mb-6">
              Otros coches que pueden interesarte
            </h3>
            <v-row v-show="$vuetify.breakpoint.lgAndUp">
              <v-col v-if="loadingCars === true" class="text-center" cols="12">
                <v-progress-circular indeterminate />
              </v-col>
              <v-col v-for="(car, i) in associatedCars" v-else :key="i" cols="12">
                <v-card :to="link(car.associatedCar)" class="mb-3" :height="$vuetify.breakpoint.mdAndUp ? 200 : 300">
                  <v-row class="align-center">
                    <v-col cols="6" lg="3">
                      <v-img
                        v-if="car.associatedCar.image"
                        :src="car.associatedCar.image.thumbnails.medium"
                        :alt="car.associatedCar.image.webAlt ? car.associatedCar.image.webAlt : car.associatedCar.model.model"
                        :title="car.associatedCar.image.webTitle ? car.associatedCar.image.webTitle : car.associatedCar.model.model"
                        height="180"
                        aspect-ratio="1"
                        contain
                      />
                    </v-col>
                    <v-col cols="6">
                      <div v-show="$vuetify.breakpoint.mdAndDown" class="mb-6" style="height: 30px">
                        <v-chip v-if="!car.associatedCar.webOfferDescription" class="rounded-0 rounded-l-xl px-6 font-weight-bold text-caption float-right">
                          {{ car.associatedCar.webOfferDescription }}
                        </v-chip>
                      </div>
                      <p :class="$vuetify.breakpoint.mdAndUp ? 'text-h5 black--text font-weight-black' : 'subtitle-2 black--text font-weight-black'">
                        {{ car.associatedCar.model.brand.name }} {{ car.associatedCar.model.model }}
                      </p>
                      <p class="text-body-1 mt-n3 text--disabled">
                        {{ car.associatedCar.version }}
                      </p>
                      <p v-if="car.associatedCar.defaultPaymentType" class="text-caption black--text">
                        <span :class="$vuetify.breakpoint.lgAndUp ? 'mr-6' : ''">
                          <v-icon left :size="$vuetify.breakpoint.mdAndUp ? 30 : 15">
                            mdi-speedometer
                          </v-icon>
                          {{ car.associatedCar.defaultPaymentType.annualKm }} Km anuales
                        </span>
                        <span>
                          <v-icon left :size="$vuetify.breakpoint.mdAndUp ? 30 : 15">
                            mdi-clock-time-three-outline
                          </v-icon>
                          {{ car.associatedCar.defaultPaymentType.deadlines }} meses
                        </span>
                      </p>
                      <p v-if="car.associatedCar.defaultPaymentType" v-show="$vuetify.breakpoint.mdAndDown" class="secondary--text">
                        <span class="mr-3">
                          {{ car.associatedCar.defaultPaymentType.oldTotalMonthlyFee }}
                        </span>
                        <span class="text-h6 font-weight-bold">
                          {{ car.associatedCar.defaultPaymentType.totalMonthlyFee }}€/mes
                        </span>
                      </p>
                      <p v-show="$vuetify.breakpoint.mdAndDown" class="text-caption text--disabled text-center mt-n4">
                        IVA incluido
                      </p>
                      <p v-show="$vuetify.breakpoint.mdAndDown" class="mt-6  mr-3">
                        <v-btn class="text-none font-weight-bold" color="secondary" depressed tile block>
                          Ver coche
                        </v-btn>
                      </p>
                    </v-col>
                    <v-col v-show="$vuetify.breakpoint.lgAndUp" cols="6" lg="3">
                      <div class="mb-6" style="height: 30px">
                        <v-chip v-if="car.associatedCar.webOfferDescription" class="rounded-0 rounded-l-xl px-6 font-weight-bold text-caption float-right">
                          {{ car.associatedCar.webOfferDescription }}
                        </v-chip>
                      </div>
                      <p v-if="car.associatedCar.defaultPaymentType" class="secondary--text">
                        <span class="mr-3">
                          {{ car.associatedCar.defaultPaymentType.oldTotalMonthlyFee }}
                        </span>
                        <span class="text-h6 font-weight-bold">
                          {{ car.associatedCar.defaultPaymentType.totalMonthlyFee }}€/mes
                        </span>
                      </p>
                      <p class="text-caption text--disabled text-center mt-n4">
                        IVA incluido
                      </p>
                      <p class="mt-6  mr-3">
                        <v-btn class="text-none font-weight-bold" color="secondary" depressed tile block>
                          Ver coche
                        </v-btn>
                      </p>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
            <v-slide-group v-show="$vuetify.breakpoint.mdAndDown">
              <v-slide-item
                v-for="(car, i) in associatedCars"
                :key="i"
                class="mx-4"
              >
                <shared-ui-car-card :car="car.associatedCar" />
              </v-slide-item>
            </v-slide-group>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <car-call-dialog-mobile v-show="$vuetify.breakpoint.smAndDown" :car="car" />
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {

  async asyncData ({ $axios, error, params }) {
    if (!params.brand.startsWith('renting-')) {
      return error({ statusCode: 404, message: 'Brand does not exist' })
    }

    const response = await $axios.get('cars', {
      params: {
        'model.slug': params.model,
        slug: params.version
      }
    })

    if (response.data['hydra:member'].length === 0) {
      error({ statusCode: 404, message: 'Car does not exist' })
    }

    const carResponse = response.data['hydra:member'][0]
    const carData = await $axios.get(carResponse['@id'])
    const car = carData.data

    const responseStock = await $axios.get('car-stocks', {
      params: {
        car: car.id
      }
    })

    const stocks = responseStock.data['hydra:member']

    let stock = false
    stocks.forEach(function (value) {
      if (value.quantity !== 0) {
        stock = true
        return stock
      }
    })

    return { car, stock }
  },

  data: () => ({
    tab: null,
    loading: false,
    loadingCars: false,
    car: null,
    stock: false,
    associatedCars: [],
    images: [],
    values: [
      {
        icon: 'mdi-credit-card-off-outline',
        title: 'Sin entrada',
        subtitle: 'Ni depósitos ni fianza'
      }, {
        icon: 'mdi-shield-check',
        title: 'A todo riesgo',
        subtitle: 'Sin franquicia'
      }, {
        icon: 'mdi-tools',
        title: 'Mantenimiento',
        subtitle: 'ITV y revisiones'
      }, {
        icon: 'mdi-credit-card-check-outline',
        title: 'Impuestos',
        subtitle: 'IVA incluido'
      }, {
        icon: 'mdi-home-import-outline',
        title: 'Entrega gratuita',
        subtitle: 'Sin dolores de cabeza'
      }
    ]
  }),

  async fetch () {
    await this.loadImages(this.$route.params.version)
    await this.loadAssociatedCars(this.$route.params.version)
  },

  head () {
    if (!this.car) {
      return {}
    }

    const data = {
      title: this.car.metaTitle ? this.car.metaTitle : this.car.version,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.car.metaDescription ? this.car.metaDescription : this.car.version
        }
      ],
      link: []
    }

    if (this.car.metaRobots) {
      data.meta.push({
        hid: 'robots',
        name: 'robots',
        content: this.car.metaRobots
      })
    }

    if (this.car.urlCanonical) {
      data.link.push({
        hid: 'canonical',
        rel: 'canonical',
        content: this.car.urlCanonical
      })
    }

    return data
  },

  computed: {
    breadcrumbsItems () {
      return [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: this.car.model.brand.name,
          disabled: false,
          href: `/renting-${this.car.model.brand.slug}`
        }, {
          text: this.car.model.model,
          disabled: false,
          href: `/renting-${this.car.model.brand.slug}/${this.car.model.slug}`
        }, {
          text: this.car.version,
          disabled: true
        }
      ]
    }
  },

  methods: {
    ...mapActions({
      setSelectedCar: 'quotation/setSelectedCar'
    }),

    async loadAssociatedCars (version) {
      this.loadingCars = true
      try {
        const response = await this.$axios.get('car-associations', {
          params: {
            'car.slug': version
          }
        })
        this.associatedCars = response.data[['hydra:member']]
      } catch (e) {
        this.$toast.error(e.response.data['hydra:description'])
      } finally {
        this.loadingCars = false
      }
    },

    async loadImages (version) {
      try {
        const response = await this.$axios.get('/car-images', {
          params: {
            'car.slug': version,
            main: false
          }
        })
        this.images = response.data[['hydra:member']]
      } catch (e) {
        this.$toast.error(e.response.data['hydra:description'])
      }
    },

    link (car) {
      return {
        name: 'brand-model-version',
        params: {
          brand: 'renting-' + car.model.brand.slug,
          model: car.model.slug,
          version: car.slug
        }
      }
    }
  }
}
</script>

<style lang="scss">
.carInfoTabs {
  .v-slide-group__prev--disabled,
  .v-slide-group__next--disabled {
    display: none !important;
  }
}
</style>
