<template>
  <v-footer
    color="white"
    fixed
    :height="$vuetify.breakpoint.smAndDown ? 250: 'auto'"
  >
    <v-card
      flat
      min-width="100%"
      color="blue-grey lighten-5"
      class="text-center"
    >
      <v-card-text>
        <v-row
          no-gutters
          align="center"
        >
          <v-col cols="6">
            <v-btn
              color="secondary"
              class="ma-2 white--text"
              :x-large="$vuetify.breakpoint.lgAndUp"
              :disabled="!valid"
              @click="submit()"
            >
              Siguiente
              <v-icon
                right
                dark
              >
                mdi-chevron-right
              </v-icon>
            </v-btn>
          </v-col>
          <v-col cols="6">
            <v-row
              align="center"
              no-gutters
            >
              <v-col cols="12" md="9">
                <p v-if="item" :class="$vuetify.breakpoint.lgAndUp ? 'headline font-weight-bold text-center' : 'font-weight-bold text-center'">
                  {{ item.carBrand }} {{ item.carModel }}
                </p>
                <p v-if="item" class="font-weight-bold text-center">
                  {{ item.carVersion }}
                </p>
                <p v-if="item" class="font-weight-bold text-center">
                  {{ item.deadlines.name }} meses - {{ item.annualKm }} / año
                </p>
              </v-col>
              <v-col cols="12" md="3">
                <p v-if="item" :class="$vuetify.breakpoint.lgAndUp ? 'display-2 font-weight-bold text-center' : 'headline font-weight-bold text-center'" style="color: orange;">
                  {{ item.totalMonthlyFee }} €
                </p>
                <p v-if="item" class="font-weight-bold text-center">
                  /Mes IVA Incluido
                </p>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    form: {
      required: true
    },

    valid: {
      type: Boolean,
      required: false,
      default: true
    },

    quotation: {
      type: Object,
      required: true,
      default: null
    },

    frontDocumentNumber: {
      required: false,
      default: null
    },

    backDocumentNumber: {
      required: false,
      default: null
    },

    bankReceipt: {
      required: false,
      default: null
    },

    lastPaysheetDocument: {
      required: false,
      default: null
    }
  },

  data: () => ({
    item: null
  }),

  created () {
    if (this.selectedCar !== null || this.quotation) {
      this.loadResource()
    }
  },

  computed: {
    ...mapGetters({
      selectedCar: 'quotation/selectedCar'
    })
  },

  methods: {
    async loadResource () {
      try {
        const { data } = await this.$axios.get(this.selectedCar ? this.selectedCar : this.quotation.paymentType['@id'])
        this.item = data
        this.item.carBrand = data.carBrand
        this.item.carModel = data.carModel
        this.item.carVersion = data.carVersion
      } catch (e) {
      } finally {
        this.$emit('update:loading', false)
      }
    },

    handler () {
      this.setFirstForm(this.form)
      this.$router.push({
        name: 'quotings-address-id',
        params: { id: this.selectedCar }
      })
    },

    async submit () {
      this.$emit('update:loading', true)
      try {
        const addressData = {
          ...this.form.address,
          city: this.form.address.city.name ? this.form.address.city.name : this.form.address.city,
          province: this.form.address.province['@id']
        }

        const data = {
          ...this.form,
          address: addressData,
          quotation: this.quotation['@id']
        }

        await this.$axios.post('quotation-delivery-datas', data)
        await this.upload(this.frontDocumentNumber, 'front_document_number')
        await this.upload(this.backDocumentNumber, 'back_document_number')
        await this.upload(this.bankReceipt, 'bank_receipt')
        await this.upload(this.lastPaysheetDocument, 'last_paysheet_document')

        const dataSignaturit = {
          quotation: this.quotation['@id']
        }

        const response = await this.$axios.post('signaturits', dataSignaturit)
        this.$emit('update:signaturit', response.data.url)
      } catch (e) {
      } finally {
        this.$emit('update:loading', false)
      }
    },

    async upload (file, type) {
      if (!file) { return }

      this.uploading = true
      this.preview = URL.createObjectURL(file)

      const formData = new FormData()
      formData.append('quotation', this.quotation['@id'])
      formData.append('file', file)
      formData.append('type', type)

      try {
        await this.$axios.post('/quotation-documents', formData, {
          headers: { 'Content-Type': 'multipart/form-data' }
        })
      } finally {
        this.uploading = false
      }
    }
  }
}
</script>
