<template>
  <section class="mt-12">
    <v-row>
      <v-col cols="12" lg="4">
        <p class="display-1 font-weight-bold text-center">
          Datos de pago
        </p>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="2" class="d-none d-lg-block d-md-block">
        <v-timeline>
          <v-timeline-item
            v-for="(item, i) in items"
            :key="i"
            :color="item.color"
            :large="item.large"
            :right="item.right"
          >
            <template #icon>
              <span class="white--text">{{ item.number }}</span>
            </template>
            {{ item.text }}
          </v-timeline-item>
        </v-timeline>
      </v-col>
      <v-col col="10">
        <v-container>
          <v-form
            ref="form"
          >
            <v-container :style="$vuetify.breakpoint.mobileBreakpoint ? 'margin-bottom: 200px;': 'auto'">
              <v-row>
                <v-col cols="12" lg="6">
                  <v-text-field
                    v-model="$v.form.iban.$model"
                    :error-messages="handleErrors($v.form.iban)"
                    label="IBAN"
                    outlined
                    dense
                  />
                </v-col>
                <v-col cols="12" lg="6">
                  <v-text-field
                    v-model="$v.form.address.street.$model"
                    :error-messages="handleErrors($v.form.address.street)"
                    label="Dirección"
                    prepend-inner-icon="mdi-map-marker"
                    outlined
                    dense
                  />
                </v-col>
                <v-col cols="12" lg="3">
                  <v-text-field
                    v-model="$v.form.address.postalCode.$model"
                    :error-messages="handleErrors($v.form.address.postalCode)"
                    label="Código postal"
                    outlined
                    dense
                    @change="loadCity"
                  />
                </v-col>
                <v-col cols="12" lg="3">
                  <v-select
                    v-model="$v.form.address.city.$model"
                    :error-messages="handleErrors($v.form.address.city)"
                    label="Ciudad"
                    :items="cities"
                    item-value="name"
                    item-text="name"
                    outlined
                    dense
                  />
                </v-col>
                <v-col cols="12" lg="3">
                  <province-autocomplete
                    v-model="$v.form.address.province.$model"
                    :error-messages="handleErrors($v.form.address.province)"
                    label="Provincia"
                    outlined
                    dense
                  />
                </v-col>
                <v-col cols="12" lg="3">
                  <v-text-field
                    v-model="$v.form.address.country.$model"
                    :error-messages="handleErrors($v.form.address.country)"
                    label="Pais"
                    disabled
                    outlined
                    dense
                  />
                </v-col>
              </v-row>
              <v-divider />
              <p class="headerline mt-2">
                Documentos
              </p>
              <v-row>
                <upload :type="'front_dni'" :url="url" :file.sync="frontDocumentNumber" />
                <upload :type="'back_dni'" :url="url2" :file.sync="backDocumentNumber" />
                <upload :type="'bank_receipt'" :url="url3" :file.sync="bankReceipt" />
                <upload :type="'last_paysheet_document'" :url="url4" :file.sync="lastPaysheetDocument" />
              </v-row>
            </v-container>
            <quotation-documentation-footer-info
              :form="form"
              :front-document-number="frontDocumentNumber"
              :back-document-number="backDocumentNumber"
              :bank-receipt="bankReceipt"
              :last-paysheet-document="lastPaysheetDocument"
              :quotation="quotation"
              :valid="!$v.$invalid"
              :loading.sync="loading"
              :signaturit.sync="signaturit"
            />
          </v-form>
        </v-container>
      </v-col>
    </v-row>
    <quotation-redsys-response-dialog :quotation="quotation" v-if="dialogRedsys === true"/>
    <shared-ui-loading :visible="loading" />
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import ProvinceAutocomplete from '../../../shared/autocompletes/ProvinceAutocomplete'
import Upload from './Upload'
import vuelidate from '~/mixins/vuelidate'
import city from '~/mixins/city'

export default {
  components: { Upload, ProvinceAutocomplete },
  mixins: [city, vuelidate],

  props: {
    quotation: {
      type: Object,
      required: true,
      default: null
    },

    event: {
      required: false
    }
  },

  async mounted () {
    if (this.selectedCar === null) {
      this.setSelectedCar(this.$route.params.id)
    }
    if (this.event) {
      this.uuid = this.$route.params.uuid
      try {
        await this.$axios.post('/redsys-events', { event: this.event, parameters: this.$route.query.Ds_MerchantParameters, signature: this.$route.query.Ds_Signature })
      } catch (error) {
      } finally {
        this.dialogRedsys = true
      }
    }
  },

  data: () => ({
    row: null,
    dialogRedsys: false,
    loading: false,
    url: null,
    url2: null,
    url3: null,
    url4: null,
    signaturit: null,
    form: {
      iban: '',
      address: {
        street: '',
        postalCode: '',
        city: '',
        province: null,
        country: 'ES'
      }
    },
    frontDocumentNumber: null,
    backDocumentNumber: null,
    bankReceipt: null,
    lastPaysheetDocument: null,
    otherDocument: null,
    item: null,
    items: [
      {
        text: 'Información Personal',
        right: true,
        color: 'secondary',
        number: 1,
        large: true
      },
      {
        text: 'Dirección y ocupación',
        right: true,
        color: 'secondary',
        number: 2,
        large: true
      },
      {
        text: 'Datos de pago',
        right: true,
        color: 'secondary',
        number: 3,
        large: true
      },
      {
        text: 'Firma',
        right: true,
        color: 'grey',
        number: 4,
        large: false
      }
    ]
  }),

  watch: {
    signaturit (value) {
      if (value) {
        this.$router.push({
          name: 'quotings-contract-id',
          params: { id: this.selectedCar, quotation: value, signaturit: value }
        })
      }
    }
  },

  computed: {
    ...mapGetters({
      firstForm: 'quotation/firstForm',
      selectedCar: 'quotation/selectedCar'
    })
  },

  methods: {
    ...mapActions({
      setSelectedCar: 'quotation/setSelectedCar'
    })
  },

  validations () {
    return {
      form: {
        iban: {
          required
        },
        address: {
          street: {
            required
          },
          postalCode: {
            required
          },
          city: {
            required
          },
          province: {
            required
          },
          country: {
            required
          }
        }
      }
    }
  }
}
</script>
