<template>
  <v-col cols="12" lg="3">
    <v-file-input
      v-model="file"
      :label="name.text"
      prepend-icon="mdi-paperclip"
      chips
      outlined
      clearable
      dense
      @change="loadImage"
    />
    <v-img height="150px" :src="urlLoaded" />
  </v-col>
</template>

<script>

import { getDocumentTypes } from '~/constants/document_types'

export default {
  props: {
    type: {
      type: String,
      required: true
    },

    url: {
      type: String,
      required: false
    }
  },

  data: vm => ({
    file: null,
    row: null,
    urlLoaded: null,
    loading: true,
    name: getDocumentTypes(vm.type)
  }),

  methods: {
    loadImage () {
      if (this.file) {
        this.urlLoaded = window.URL.createObjectURL(this.file)
        this.$emit('update:file', this.file)
      } else {
        this.urlLoaded = null
      }
    }
  }
}
</script>
