<template>
  <div>
    <section class="py-2">
      <v-container class="pb-0">
        <v-breadcrumbs :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" />
        <v-row>
          <v-col cols="12">
            <h1 class="mb-3 mt-6">
              {{ 'Renting' + (facet ? ` ${facet.name}` : ' autónomos') }}
            </h1>
            <p>
              {{ headText }}
            </p>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <search-main-section taxonomy="freelance">
      <template slot="title">
        <h2 class="subtitle-1 font-weight-bold mb-3">
          {{ 'Renting de ' + (facet ? ` ${facet.name}s para autónomos` : ' coches para autónomos') }}
        </h2>
      </template>
    </search-main-section>

    <section v-if="!facet" class="py-8" style="background-color: #F6F6F6;">
      <v-container>
        <v-row>
          <v-col cols="12">
            <v-img
              :src="require('~/assets/images/renting/freelance.png?webp')"
              class="float-md-left mr-6 mb-6"
              :width="$vuetify.breakpoint.smAndDown ? 'auto' : 300"
              aspect-ratio="1"
              alt="renting autónomos"
              title="renting autónomos"/>
            <h3 class="text-h5 font-weight-bold mb-3">
              Ventajas del renting de coches para autónomos
            </h3>
            <p>
              <strong>Rápido:</strong> trabajamos en diseñar la forma perfecta de tener coche, a través de una experiencia increíble. Nuestras soluciones de movilidad te permiten ponerte al volante en unos días, dejando atrás largas esperas y dolores de cabeza.
            </p>
            <p>
              <strong>Inteligente:</strong> saca el máximo partido de tus recursos. Desgrávate hasta el 50% de las cuotas mensuales de tu renting y deduce hasta el 50% del IVA.
            </p>
            <p>
              <strong>A la medida de tu empresa:</strong> para Vamos, tú eres el jefe. Por ello te damos las herramientas para que diseñes el coche que mejor se adapte a tus necesidades, y que lo cambies cuando cambien tus circunstancias.
            </p>

            <h4 class="text-h6 font-weight-bold mb-3">
              Cómo funciona el renting para autónomos
            </h4>
            <p>
              Este renting funciona igual que el de particulares o empresas. Se trata de un alquiler a medio o largo plazo en el que pagas una cuota mensual que incluye todos los gastos de un coche menos la gasolina o el diésel. En el caso particular de los vehículos de renting para autónomos, además, cuenta con una serie de <strong>ventajas financieras y económicas.</strong>
            </p>

            <h4 class="text-h6 font-weight-bold mb-3">
              Requisitos del renting para autónomos
            </h4>
            <p>
              Para poder contratar un renting de coches para autónomos, en Vamos te vamos a pedir algunos documentos. El objetivo no es otro que <strong>confirmar que tu negocio tiene buena salud financiera</strong> y que durante el tiempo que dure ese contrato, no tendrás ningún inconveniente. Por lo tanto, además de ser mayor de 18 años, tendrás que tener a mano:
            </p>
            <ul class="mb-3">
              <li>
                <strong>DNI</strong> del titular
              </li>
              <li>
                <strong>Alta censal</strong>
              </li>
              <li>
                Impuesto de la <strong>Renta</strong> último ejercicio con el CSV (Código Seguro de Verificación
              </li>
              <li>
                Resumen del <strong>IVA</strong> del año anterior
              </li>
              <li>
                Trimestres del <strong>IVA</strong> del año en curso
              </li>
              <li>
                Recibo bancario donde conste el <strong>IBAN</strong> y el titular
              </li>
            </ul>

            <h4 class="text-h6 font-weight-bold mb-3">
              Ventajas del renting para autónomos
            </h4>
            <p>
              Este servicio tiene una clara intención de ayuda porque ofrece distintas <strong>ventajas financieras:</strong>
            </p>
            <ul class="mb-3">
              <li>
                Una <strong>cuota mensual</strong> que incluye todo menos el carburante
              </li>
              <li>
                El <strong>nivel de endeudamiento</strong> baja gracias a esa mensualidad evitando el gran desembolso inicial que supone para un autónomo la entrada para comprar un coche
              </li>
              <li>
                La <strong>capacidad de endeudamiento</strong> del autónomo no se ve afectada y de esta manera puede destinar ese crédito a otras necesidades
              </li>
              <li>
                El <strong>coste total de propiedad</strong> es inferior gracias a lo que incluye la cuota: seguro, mantenimiento, neumáticos, asistencia, impuestos, etc
              </li>
              <li>
                El coste que implica <strong>comprar y mantener un coche</strong> se evita durante el tiempo que dura el contrato
              </li>
            </ul>
            <p>
              A estos beneficios hay que añadir otros todavía mucho más interesantes: <strong>los fiscales.</strong> Además de facilitarte las cosas, las deducciones se aplican inmediatamente porque contablemente el vehículo de renting para un autónomo se considera como un gasto.
            </p>
            <ul class="mb-3">
              <li>
                <strong>IRPF e Impuesto de Sociedades:</strong> te podrás desgravar las cuotas al 100% en IRPF y en el Impuesto de Sociedades
              </li>
              <li>
                <strong>IVA soportado:</strong> puedes deducirte el 50% del IVA soportado en tu cuota mensual cuando uses el coche para tu empresa y también para ti. Si demuestras que el vehículo lo empleas sólo para tu negocio, te podrás deducir el 100%
              </li>
            </ul>
          </v-col>
        </v-row>
        <v-row class="mb-16">
          <v-col
            v-for="(item, i) in items"
            :key="i"
            cols="6"
            md="2"
            offset="0"
            :offset-md="i % 5 === 0 ? 1 : 0"
            align="center"
          >
            <v-card color="transparent" flat tile>
              <v-card-text>
                <img :src="require(`~/assets/icons/facet/${i + 1}.svg`)" :alt="item.title" :title="item.title" height="40">
                <p class="font-weight-bold text-body-1 black--text mt-6">
                  {{ item.title }}
                </p>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section class="py-10 white--text" style="background-color: #1d1c1b;">
      <v-container>
        <v-row class="text-center">
          <v-col cols="12" md="6" offset-md="3">
            <h3 class="text-h4 font-weight-bold">
              ¿Eres particular o empresa y necesitas un renting?
            </h3>
            <p class="mt-6">
              En Vamos también tenemos opciones para que puedas deducirte el IVA, desgravarte el IRPF y mucho más
            </p>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="4" offset-md="2">
            <v-btn
              :to="{ name: 'renting-coches-particulares-slug' }"
              class="text-none text-caption"
              block
              outlined
              depressed
              dark
              large
            >
              Ver renting de coches para particulares
            </v-btn>
          </v-col>
          <v-col cols="12" md="4">
            <v-btn
              :to="{ name: 'renting-coches-empresas-slug' }"
              class="text-none text-caption"
              block
              outlined
              depressed
              dark
              large
            >
              Ver renting de coches para empresas
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    items: [
      {
        title: 'Asistencia en carretera'
      }, {
        title: 'Cambio de neumáticos'
      }, {
        title: 'Mantenimiento y revisiones'
      }, {
        title: 'Impuestos incluidos'
      }, {
        title: 'Seguro a todo riesgo sin franquicia'
      }
    ]
  }),
  head () {
    if (!this.facet) {
      return {
        title: '▷ Renting Autónomos《Ofertas Diciembre》| Sin entrada',
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: '✌️ ¡Descuentos hasta final de año! ✅ Sin Entrada ✅ Todo Incluido. ¡Disfruta de las ventajas para el renting de coches para autónomos!'
          }
        ],
        link: [
          {
            hid: 'canonical',
            name: 'canonical',
            content: 'https://www.vamos.es/renting-coches-autonomos'
          }
        ]
      }
    }

    const data = {
      title: this.facet.metaTitle ? this.facet.metaTitle : this.facet.name,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.facet.metaDescription ? this.facet.metaDescription : this.facet.name
        }
      ],
      link: []
    }

    if (this.facet.metaRobots) {
      data.meta.push({
        hid: 'robots',
        name: 'robots',
        content: this.facet.metaRobots
      })
    }

    if (this.facet.urlCanonical) {
      data.link.push({
        hid: 'canonical',
        rel: 'canonical',
        content: this.facet.urlCanonical
      })
    }

    return data
  },

  computed: {
    ...mapGetters({
      facet: 'search/facet'
    }),

    breadcrumbsItems () {
      const items = [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: 'Autónomos',
          disabled: !this.facet,
          href: '/renting-coches-autonomos'
        }
      ]

      if (this.facet) {
        items.push({
          text: this.facet ? this.facet.name : null,
          disabled: true,
          href: `/renting-coches-autonomos/${this.facet ? this.facet.slug : null}`
        })
      }
      return items
    },

    headText () {
      if (!this.facet) {
        return 'Las mejores ofertas de renting para autónomos están en Vamos. Cuotas fijas, precios transparentes con IVA incluido y sin entrada.'
      }

      switch (this.facet.slug) {
        case 'berlina':
          return '¿Quieres un coche elegante, funcional al mejor precio? Aprovéchate de los beneficios fiscales con el renting de berlinas para autónomos.'
        default:
          return ''
      }
    }
  }
}
</script>
