<template>
  <section class="wrapper py-8">
    <v-container>
      <v-row>
        <v-col cols="12" md="5">
          <v-img :src="require('~/assets/images/aboutus/hire/image.png?webp')" aspect-ratio="1" alt="¿Te suena bien?" title="¿Te suena bien?" contain />
        </v-col>
        <v-col cols="12" md="7">
          <h2 class="text-h4 font-weight-bold">
            ¿Te suena bien?
          </h2>
          <p class="text-body-1 mt-12">
            Siempre estamos buscando grandes personas con pasión por alcanzar grandes sueños trabajando en equipo.
          </p>
          <p class="text-body-1 mt-6">
            Escríbenos y cuéntanos en qué te pareces a nosotros.
          </p>
          <p class="text-h5 font-weight-bold mt-12">
            jobs@vamos.es
          </p>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
