<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="5">
        <h2 class="text-h2 font-weight-bold">
          Nuestra misión
        </h2>
        <p class="text-h6 mt-10">
          En Vamos creemos que el coche es algo increíble.
        </p>
        <p class="text-h6">
          Nuestra misión es cambiar la forma de tenerlo, convirtiéndolo en algo fácil, transparente y para todos.
        </p>
      </v-col>
      <v-col cols="12" md="7">
        <v-lazy height="100%">
          <iframe width="100%" height="450" src="https://www.youtube.com/embed/bdVbSYiNkBU" />
        </v-lazy>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
}
</script>
