<template>
  <section class="wrapper py-8">
    <v-container>
      <v-row class="mb-6">
        <v-col cols="12" align="center">
          <h2 class="text-h4 font-weight-bold">
            Un equipo de especialistas para ti
          </h2>
        </v-col>
      </v-row>
      <v-row class="mb-16">
        <v-col cols="6" md="3">
          <v-img :src="require(`~/assets/images/aboutus/team/image${selected + 1}.png?webp`)" :alt="items[selected].name" :title="items[selected].name" contain />
        </v-col>
        <v-col cols="6" md="4">
          <h3 class="text-h5 font-weight-bold mt-16">
            {{ items[selected].name }}
          </h3>
          <p class="text-h6 mt-4">
            {{ items[selected].quotation }}
          </p>
        </v-col>
        <v-col cols="12" md="5">
          <v-item-group v-model="selected" mandatory>
            <v-row>
              <v-col v-for="(item, i) in items" :key="i" cols="3" md="3" align="center">
                <v-item v-slot="{ active, toggle }">
                  <v-card flat tile @click="toggle">
                    <v-sheet v-if="active" height="100%" width="100%" color="white" style="position: absolute; z-index: 1; opacity: 0.5;" />
                    <v-img :src="require(`~/assets/images/aboutus/team/image${i + 1}.png?webp`)" :alt="item.name" :title="item.name" class="d-block" />
                    <span class="text-caption">
                      {{ item.name }}
                    </span>
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
          </v-item-group>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="4" offset-md="4" align="center">
          <v-btn
            :to="{ name: 'todos-los-coches-slug' }"
            class="text-none py-8"
            color="primary"
            block
            outlined
            x-large
            depressed
            tile
          >
            ¿Quieres ver nuestros coches?
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        name: 'Gonzalo',
        quotation: '“En Vamos nuestra especialidad son las personas”'
      }, {
        name: 'Raquel',
        quotation: '“Facilitamos la mejor forma de tener coche”'
      }, {
        name: 'Marta',
        quotation: '“Estrenar coche con nosotros es posible para todos”'
      }, {
        name: 'Diego',
        quotation: '“¿Lo mejor? Hacer feliz al cliente”'
      }, {
        name: 'Judith',
        quotation: '“Conseguimos que el coche se adapte a ti, no al revés”'
      }, {
        name: 'Daniel',
        quotation: '“Me encanta encontrar el coche perfecto para mis clientes”'
      }, {
        name: 'Gemma',
        quotation: '“En Vamos creemos que el coche es algo increíble”'
      }, {
        name: 'Jose',
        quotation: '“En Vamos, lo importante eres tú”'
      }
    ],
    selected: 0
  })
}
</script>

<style scoped>
.wrapper {
  background-color: #F6F6F6;
}
</style>
