<template>
  <section class="mt-16 pt-4 pb-16">
    <v-container fluid>
      <v-row class="mb-6">
        <v-col cols="12" align="center">
          <h2 class="text-h4 font-weight-bold">
            Nuestros valores
          </h2>
          <p class="text-h6 mt-6">
            Nos diferencian y están presentes cada día cuando tomamos decisiones o resolvemos problemas.
          </p>
        </v-col>
      </v-row>
      <v-row class="mb-16">
        <v-col
          v-for="(item, i) in items"
          :key="i"
          cols="6"
          md="2"
          offset="0"
          :offset-md="i % 5 === 0 ? 1 : 0"
          align="center"
        >
          <v-card color="transparent" flat tile>
            <v-card-text>
              <img :src="require(`~/assets/icons/aboutus/${i + 1}.png?webp`)" :alt="item.title" :title="item.title" height="70">
              <p class="font-weight-bold text-body-1 black--text mt-6">
                {{ item.title }}
              </p>
              <p class="black--text mt-6">
                {{ item.text }}
              </p>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        title: 'Obsesionados por el cliente',
        text: 'Brindamos a nuestros clientes experiencias que juegan un papel importante en sus vidas'
      }, {
        title: 'Pensamos en grande',
        text: 'Afrontamos retos valientes que inspiran resultados increíbles'
      }, {
        title: 'All in, all the time',
        text: 'Cada día elevamos el listón, impulsando al equipo a ofrecer nuestra mejor versión'
      }, {
        title: 'Más con menos',
        text: 'Producimos más con menos. Las restricciones generan ingenio y creatividad'
      }, {
        title: 'Rápidos',
        text: 'No es el grande el que se come al pequeño. Es el rápido quien se come al lento'
      }, {
        title: 'Dream team',
        text: 'Contratamos y desarrollamos a los mejores'
      }, {
        title: 'Simple mejor que complejo',
        text: 'Guiándonos por el sentido común, huimos de complejidades innecesarias'
      }, {
        title: 'Transparentes',
        text: 'Compartimos información de manera abierta dando lugar a la confianza'
      }, {
        title: 'Emprendedores',
        text: 'Guiados por un espíritu emprendedor, asumimos los resultados personalmente'
      }, {
        title: 'Generosos',
        text: 'Buscamos lo que es mejor para Vamos, no lo que es mejor para nosotros'
      }
    ]
  })
}
</script>
