<template>
  <section class="wrapper pb-16">
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-btn
            class="text-none mb-10"
            color="primary"
            depressed
            tile
          >
            A tu medida
          </v-btn>
          <h2 class="text-h4 text-md-h3 font-weight-bold">
            ¿Nuevo en Vamos?
          </h2>
          <p class="text-h6 mt-8">
            Olvida endeudarte para financiar tu coche, pagar el seguro, impuestos, averías, asistencia en carretera o el mantenimiento.
          </p>
          <p class="text-h6 mt-6">
            Todo está incluido en tu cuota mensual de renting.
          </p>
        </v-col>
        <v-col cols="12" md="8">
          <v-img :src="require('~/assets/images/service/new/image.png?webp')" height="100%" alt="¿Nuevo en Vamos?" title="¿Nuevo en Vamos?" />
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
