<template>
  <section class="wrapper pb-16">
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-btn
            class="text-none mb-10"
            color="primary"
            depressed
            tile
          >
            100% online
          </v-btn>
          <h2 class="text-h4 font-weight-bold">
            Reserva tu renting desde el sofá
          </h2>
          <p class="text-h6 mt-8">
            Una vez elijas el modelo de coche perfecto para ti, decide por cuánto tiempo quieres usarlo. Deberás rellenar unos cuantos datos para que tu solicitud sea aprobada. Todo online y en unos minutos.
          </p>
        </v-col>
        <v-col cols="12" md="8">
          <v-img :src="require('~/assets/images/service/online/image.png?webp')" height="100%" alt="Reserva tu renting desde el sofá" title="Reserva tu renting desde el sofá" />
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
