<template>
  <section class="wrapper py-16">
    <v-container>
      <v-row>
        <v-col cols="12" md="6">
          <v-img :src="require('~/assets/images/service/pickup/image.png?webp')" height="400" alt="Recibe tu coche gratis" title="Recibe tu coche gratis" />
        </v-col>
        <v-col cols="12" md="6">
          <v-btn
            class="text-none mb-10"
            color="primary"
            depressed
            tile
          >
            A domicilio
          </v-btn>
          <h2 class="text-h4 font-weight-bold">
            Recibe tu coche gratis
          </h2>
          <p class="text-h5 mt-8">
            Te llevamos tu coche a la puerta de casa o a tu concesionario más cercano, sin ningún coste adicional. ¡Estarás al volante en unos días… y empezarás a pagarlo el mes siguiente de recibirlo!
          </p>
          <v-btn
            :to="{ name: 'todos-los-coches-slug' }"
            class="text-none py-8 px-16 mt-10"
            color="primary"
            outlined
            x-large
            depressed
            tile
          >
            Ver coches
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<style scoped>
.wrapper {
  background-color: #F6F6F6;
}
</style>
