<template>
  <client-only>
    <section class="wrapper py-16">
      <v-container>
        <v-row class="mb-6">
          <v-col cols="12" align="center">
            <h2 class="text-h4 font-weight-bold">
              ¿Qué dicen de nosotros nuestros clientes?
            </h2>
            <p class="mt-8">
              Ofrecer un servicio increíble a nuestros clientes es la principal motivación en Vamos. Por eso nos llena de orgullo que nuestra nota en Trustpilot sea “Excelente”.
            </p>
          </v-col>
        </v-row>
      </v-container>
      <v-container class="px-md-12" fluid>
        <v-row>
          <v-col cols="12">
            <trustbox template-id="539adbd6dec7e10e686debee" style-height="800px" style-width="100%" theme="light" stars="4,5" />
          </v-col>
        </v-row>
      </v-container>
    </section>
  </client-only>
</template>
