<template>
  <section class="wrapper pb-16">
    <v-container>
      <v-row>
        <v-col cols="12" md="5">
          <v-img :src="require('~/assets/images/service/vehicle/image.png?webp')" height="100%" alt="Elige tu coche perfecto" title="Elige tu coche perfecto"/>
        </v-col>
        <v-col cols="12" md="7">
          <v-btn
            class="text-none mb-10"
            color="primary"
            depressed
            tile
          >
            A tu medida
          </v-btn>
          <h2 class="text-h4 font-weight-bold">
            Elige tu coche perfecto
          </h2>
          <p class="text-h6 mt-8">
            Ahórrate el concesionario y elige entre nuestros coches de renting el que mejor se adapte a ti. Trabajamos para facilitarte encontrar el coche perfecto al mejor precio.
          </p>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
