<template>
  <v-card :to="link" tile :class="`${$vuetify.breakpoint.mdAndDown ? 'ma-2' : ''} background-${setColor.background}` " :width="$vuetify.breakpoint.lgAndUp ? 300 : 'auto'">
    <v-card-text>
      <div style="height: 20px">
        <v-chip v-if="car.webOfferDescription" class="custom-chip rounded-0 rounded-r-xl ml-n4 px-6 font-weight-bold text-caption">
          {{ car.webOfferDescription }}
        </v-chip>
      </div>
      <v-img
        v-if="car.image"
        :src="car.image.thumbnails.medium"
        :alt="car.image.webAlt ? car.image.webAlt : car.model.model"
        :title="car.image.webTitle ? car.image.webTitle : car.model.model"
        aspect-ratio="1.4"
        max-height="220"
      />
      <p :class="`text-h5 ${setColor.text}--text font-weight-black text-truncate`">
        {{ car.model.brand.name }} {{ car.model.model }}
      </p>
      <p :class="`text-body-1 mt-n4 text--disabled ${setColor.text}--text text-truncate`">
        {{ car.version }}
      </p>
      <p v-if="car.defaultPaymentType" :class="`text-body-2 ${setColor.text}--text mt-n3 mb-6`">
        <span>
          <v-icon small>
            mdi-speedometer
          </v-icon>
          <small>{{ car.defaultPaymentType.annualKm + ' Km anuales' }}</small>
        </span>
        <span>
          <v-icon small>
            mdi-clock-time-three-outline
          </v-icon>
          <small>{{ car.defaultPaymentType.deadlines + ' meses' }}</small>
        </span>
      </p>
      <span v-if="car.defaultPaymentType" class="text-h6 secondary--text text-center text-decoration-line-through" style="position: absolute; bottom: 40px; left: 30px;">
        {{ car.defaultPaymentType.totalMonthlyFeeOld }}
      </span>
      <p v-if="car.defaultPaymentType" class="text-h5 secondary--text text-center font-weight-bold">
        {{ car.defaultPaymentType.totalMonthlyFee + '€/mes' }}
      </p>
      <p :class="`${setColor.text}--text text--disabled text-center text-caption mt-n5`">
        IVA incluido
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    car: {
      required: true
    }
  },

  computed: {
    link () {
      return {
        name: 'brand-model-version',
        params: {
          brand: 'renting-' + this.car.model.brand.slug,
          model: this.car.model.slug,
          version: this.car.slug
        }
      }
    },
    setColor () {
      return this.car.highlighted ? { text: 'white', background: 'black' } : { text: 'black', background: 'white' }
    }
  }
}
</script>

<style lang="scss" scoped>
.background-black {
  background: url('~assets/images/car/card-bg-decoration.png') no-repeat;
  background-size: cover;

  .custom-chip {
    background-color:#45D3C6;
    border-color:#45D3C6;
  }
}

.white--text {

  &.text--disabled {
    color: white !important;
  }

  .theme--light.v-icon {
    color: white;
  }
}
</style>
