<template>
  <div v-if="loading" class="pa-6 text-center">
    <v-progress-circular color="primary" indeterminate />
  </div>
  <div v-else>
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    loading: {
      required: true,
      type: Boolean
    }
  }
}
</script>
