<template>
  <section class="mt-12">
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-card class="text-center">
            <v-card-title class="text-h4 pa-12 justify-center">
              ¡Lo sentimos!
            </v-card-title>
            <v-card-text class="title">Ha ocurrido un error al pagar tu fianza</v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-alert
            :icon="'mdi-safe'"
            border="bottom"
            colored-border
            elevation="2"
          >
            <strong>¿Cómo funciona la garantía de pago? : </strong>

            <p class="body-2 font-weight-regular">
              Es una garantía de pago para el proveedor, para posibles futuros impagos ya que tu operación no ha sido autorizada. Cuando devuelvas el coche, te devuelven tu garantía. Es un avance de esas cuotas, no un pago.
            </p>
            <strong>¿Tienes alguna duda más sobre el renting con fianza?</strong>
            <p class="caption">Ponte en contacto con uno de nuestros agentes, estaremos encantados de poder ayudarte.</p>
            <v-alert
              class="white--text"
              icon="mdi-phone-dial"
              color="primary"
            >
              910 781 751
            </v-alert>
          </v-alert>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>

export default {
}
</script>
