<template>
  <section class="mt-12">
    <v-row>
      <v-col cols="12" lg="4">
        <p class="display-1 font-weight-bold text-center">
          Dirección y ocupación
        </p>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="2" class="d-none d-lg-block d-md-block">
        <v-timeline>
          <v-timeline-item
            v-for="(item, i) in items"
            :key="i"
            :color="item.color"
            :large="item.large"
            :right="item.right"
          >
            <template #icon>
              <span class="white--text">{{ item.number }}</span>
            </template>
            {{ item.text }}
          </v-timeline-item>
        </v-timeline>
      </v-col>
      <v-col cols="12" lg="4">
        <v-card>
          <v-card-title class="text-h4 pa-12 justify-center">
            ¡Enhorabuena!
          </v-card-title>
          <v-container>
            <v-row
              no-gutters
            >
              <v-col
                align="center"
              >
                <v-icon
                  color="green"
                  size="60"
                >
                  mdi-check-circle
                </v-icon>
              </v-col>
            </v-row>
          </v-container>
          <v-card-text class="title justify-center">Tu perfil ha sido aprobado para realizar la contratación del renting con una garantía.</v-card-text>
          <v-card-actions class="justify-center">
            <v-spacer />
            <form :action="redsys ? redsys.action : null" method="post" id="tpv-form">
              <input type="hidden" name="Ds_MerchantParameters" :value="redsys ? redsys.parameters : null"/>
              <input type="hidden" name="Ds_Signature" :value="redsys ? redsys.signature : null"/>
              <input type="hidden" name="Ds_SignatureVersion" :value="'HMAC_SHA256_V1'"/>
            </form>
            <v-btn
              color="secondary"
              class="white--text"
              @click="submit"
              block
            >
              Continuar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="12" lg="4">
        <v-alert
          :icon="'mdi-safe'"
          border="bottom"
          colored-border
          elevation="2"
        >
          <strong>¿Cómo funciona la garantía de pago? : </strong>

          <p class="body-2 font-weight-regular">
            Es una garantía de pago para el proveedor, para posibles futuros impagos ya que tu operación no ha sido autorizada. Cuando devuelvas el coche, te devuelven tu garantía. Es un avance de esas cuotas, no un pago.
          </p>
          <strong>¿Tienes alguna duda más sobre el renting con fianza?</strong>
          <p class="caption">Ponte en contacto con uno de nuestros agentes, estaremos encantados de poder ayudarte.</p>
          <v-alert
            class="white--text"
            icon="mdi-phone-dial"
            color="primary"
          >
            910 781 751
          </v-alert>
        </v-alert>
      </v-col>
    </v-row>
    <shared-ui-loading :visible="loading" />
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {

  props: {
    itemId: {
      type: String,
      required: false,
      default: null
    },

    quotation: {
      type: Object,
      required: true,
      default: null
    }
  },

  computed: {
    ...mapGetters({
      secondForm: 'quotation/secondForm',
      selectedCar: 'quotation/selectedCar'
    })
  },

  created () {
    this.loadRedsys()
  },

  methods: {
    async loadRedsys () {
      this.loading = true
      try {
        const response = await this.$axios.get('redsys', {
          params: {
            quotation: this.quotation.id
          }
        })

        this.redsys = response.data['hydra:member'][0]
      } catch (e) {
        this.$toast.error(e)
      } finally {
        this.loading = false
      }
    },

    submit () {
      const form = document.getElementById('tpv-form')
      form.submit()
    }
  },

  data: () => ({
    loading: false,
    redsys: null,
    items: [
      {
        text: 'Información Personal',
        right: true,
        color: 'secondary',
        number: 1,
        large: true
      },
      {
        text: 'Dirección y ocupación',
        right: true,
        color: 'secondary',
        number: 2,
        large: true
      },
      {
        text: 'Datos de pago',
        right: true,
        color: 'grey',
        number: 3,
        large: false
      },
      {
        text: 'Firma',
        right: true,
        color: 'grey',
        number: 4,
        large: false
      }
    ]
  })
}
</script>
