<template>
  <blog-category-page />
</template>

<script>
export default {
  data: () => ({
    category: null
  }),

  async asyncData ({ $axios, error, params }) {
    const response = await $axios.get('article-categories', {
      params: {
        slug: params.slug ? params.slug : null
      }
    })

    if (response.data['hydra:member'].length === 0) {
      error({ statusCode: 404, message: 'Category does not exist' })
    }

    const category = response.data['hydra:member'][0]

    return { category }
  },

  head () {
    if (!this.category) {
      return {}
    }

    const data = {
      title: this.category.metaTitle ? this.category.metaTitle : this.category.name,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.category.metaDescription ? this.category.metaDescription : this.category.name
        }
      ],
      link: []
    }

    if (this.category.metaRobots) {
      data.meta.push({
        hid: 'robots',
        name: 'robots',
        content: this.category.metaRobots
      })
    }

    if (this.category.urlCanonical) {
      data.link.push({
        hid: 'canonical',
        rel: 'canonical',
        content: this.category.urlCanonical
      })
    }

    return data
  }
}
</script>
