<template>
  <client-only />
</template>
<script>
export default {
  mounted () {
    window.top.location.href = window.location.protocol + '/' + window.location.host + '/quotings/signaturit/' + this.$route.params.uuid
  }
}
</script>
