
body{
  font-family: 'Poppins';
}
.headerbar {
  position: fixed;
  z-index: 999;
  top: 0px;
  width: 100vw;
  display: inline-block;
  background: rgba(255,255,255,1);
  border-bottom: 1px solid;
  border-color: rgba(0,0,0,0.12);
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.head {
  display: inline-flex;
  height: 66px;
  width: 100%;
  clear: both;
}
.cntr {
  max-width: 1100px;
  margin: 0 auto;
}
.button_navigation{
  order: -1;
  align-self: center;
  padding-left: 30px;
}
.logo {
  z-index: 2;
  flex-grow: 1;
  align-self: center;
  text-align: center;
  line-height: 0;
}
.sidebar {
  margin: 0;
  padding: 20px 20px 20px 20px;
  width: 100%;
}
.sample-sidebar {
  background-color: black;
}
.sidebar > li {
  list-style: none;
  margin-bottom: 10px;
}
.sidebar a {
  text-decoration: none;
  color: white;
}

amp-social-share.custom-style {
  background-color: #008080;
  background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/social/1x_web/ic_share_white_48dp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.share-buttons {
  z-index: 9999999;
  background: #f1f1f1;
  display: inline-block;
  width: 100%;
  padding: 0;
  position: fixed;
  bottom: 0;
  text-align: center;
  border: 0;
}
amp-user-notification.sample-notification {
  padding: 13px 0px 13px 0px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  visibility: visible;
  background-color: #ffa52b;
}
amp-user-notification.sample-notification > button {
  min-width: 80px;
}
#amp-user-notification_5152 {
  bottom: 40px;
  z-index: 9998;
}
.wp-block-image img{
  max-width: 100%;
  height: auto;
}
