<template>
  <v-footer
    color="white"
    fixed
    :max-height="$vuetify.breakpoint.smAndDown ? 250: 'auto'"
  >
    <v-card
      flat
      min-width="100%"
      color="blue-grey lighten-5"
      class="text-center"
    >
      <v-card-text>
        <v-row
          no-gutters
          align="center"
        >
          <v-col cols="6">
            <v-btn
              color="secondary"
              class="ma-2 white--text"
              :x-large="$vuetify.breakpoint.lgAndUp"
              :disabled="!valid"
              @click="handler()"
            >
              Siguiente
              <v-icon
                right
                dark
              >
                mdi-chevron-right
              </v-icon>
            </v-btn>
          </v-col>
          <v-col cols="6">
            <v-row
              align="center"
              no-gutters
            >
              <v-col cols="12" md="9">
                <p v-if="item" :class="$vuetify.breakpoint.lgAndUp ? 'headline font-weight-bold text-center' : 'font-weight-bold text-center'">
                  {{ item.carBrand }} {{ item.carModel }}
                </p>
                <p v-if="item" class="font-weight-bold text-center">
                  {{ item.carVersion }}
                </p>
                <p v-if="item" class="font-weight-bold text-center">
                  {{ item.deadlines.name }} meses - {{ item.annualKm }} / año
                </p>
              </v-col>
              <v-col cols="12" md="3">
                <p v-if="item" :class="$vuetify.breakpoint.lgAndUp ? 'display-2 font-weight-bold text-center' : 'headline font-weight-bold text-center'" style="color: orange;">
                  {{ item.totalMonthlyFee }} €
                </p>
                <p v-if="item" class="font-weight-bold text-center">
                  /Mes IVA Incluido
                </p>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  props: {
    form: {
      required: true
    },
    valid: {
      type: Boolean,
      required: false,
      default: true
    }
  },

  data: () => ({
    item: null
  }),

  created () {
    if (this.selectedCar !== null) {
      this.loadResource()
    }
  },

  computed: {
    ...mapGetters({
      selectedCar: 'quotation/selectedCar'
    })
  },

  methods: {
    ...mapActions({
      setFirstForm: 'quotation/setFirstForm'
    }),

    async loadResource () {
      try {
        const { data } = await this.$axios.get(this.selectedCar)
        this.item = data
        this.item.carBrand = data.carBrand
        this.item.carModel = data.carModel
        this.item.carVersion = data.carVersion
      } catch (e) {
      } finally {
        this.$emit('update:loading', false)
      }
    },

    handler () {
      this.setFirstForm(this.form)
      this.$router.push({
        name: 'quotings-address-id',
        params: { id: this.selectedCar }
      })
    }
  }
}
</script>
