<template>
  <section class="mt-12">
    <v-row>
      <v-col cols="12" lg="4">
        <p class="display-1 font-weight-bold text-center">
          Información Personal
        </p>
      </v-col>
      <v-spacer/>
      <v-col cols="12" lg="6">
        <v-container>
          <v-alert
            border="bottom"
            colored-border
            type="warning"
            elevation="2"
          >
            <p class="body-2 font-weight-regular">
              Recuerda que la reserva online solo está disponible para particulares. Si tienes una empresa, puedes volver al paso anterior para que nos pongamos en contacto contigo o llámanos al 910 781 751.
            </p>
          </v-alert>
        </v-container>
      </v-col>
      <v-spacer/>
    </v-row>

    <v-row>
      <v-col cols="2" class="d-none d-lg-block d-md-block">
        <v-timeline>
          <v-timeline-item
            v-for="(item, i) in items"
            :key="i"
            :color="item.color"
            :large="item.large"
            :right="item.right"
          >
            <template #icon>
              <span class="white--text">{{ item.number }}</span>
            </template>
            {{ item.text }}
          </v-timeline-item>
        </v-timeline>
      </v-col>
      <v-col col="12" lg="10">
        <v-container :style="$vuetify.breakpoint.mobileBreakpoint ? 'margin-bottom: 200px;': 'auto'">
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12" lg="6">
                  <v-text-field
                    v-model="$v.form.firstName.$model"
                    :error-messages="handleErrors($v.form.firstName)"
                    label="Nombre"
                    outlined
                    dense
                    @input="$v.form.firstName.$touch()"
                    @blur="$v.form.firstName.$touch()"
                  />
                </v-col>
                <v-col cols="12" lg="6">
                  <v-text-field
                    v-model="$v.form.lastName.$model"
                    :error-messages="handleErrors($v.form.lastName)"
                    label="Apellidos"
                    outlined
                    dense
                    @input="$v.form.lastName.$touch()"
                    @blur="$v.form.lastName.$touch()"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" lg="3">
                  <v-select
                    v-model="$v.form.documentType.$model"
                    :items="[ { value: 'dni', text: 'DNI' }, { value: 'cif', text: 'CIF' }, { value: 'nie', text: 'NIE' }, { value: 'nif', text: 'NIF' }]"
                    :error-messages="handleErrors($v.form.documentType)"
                    item-value="value"
                    item-text="text"
                    label="Tipo"
                    outlined
                    dense
                  />
                </v-col>
                <v-col cols="12" lg="5">
                  <v-text-field
                    v-model="$v.form.documentNumber.$model"
                    :error-messages="handleErrors($v.form.documentNumber)"
                    label="Nº identification"
                    outlined
                    dense
                    @input="$v.form.documentNumber.$touch()"
                    @blur="$v.form.documentNumber.$touch()"
                  />
                </v-col>
                <v-col cols="12" lg="4">
                  <v-text-field
                    v-model="$v.form.birthday.$model"
                    :error-messages="handleErrors($v.form.birthday)"
                    label="Fecha de nacimiento"
                    type="date"
                    outlined
                    dense
                    @input="$v.form.birthday.$touch()"
                    @blur="$v.form.birthday.$touch()"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" lg="4">
                  <v-text-field
                    v-model="$v.form.email.$model"
                    :error-messages="handleErrors($v.form.email)"
                    label="Email"
                    outlined
                    dense
                    prepend-inner-icon="mdi-at"
                    @input="$v.form.email.$touch()"
                    @blur="$v.form.email.$touch()"
                  />
                </v-col>
                <v-col cols="12" lg="4">
                  <v-text-field
                    v-model="$v.form.repeatEmail.$model"
                    :error-messages="handleErrors($v.form.repeatEmail)"
                    label="Repetir email"
                    outlined
                    dense
                    prepend-inner-icon="mdi-at"
                    @input="$v.form.repeatEmail.$touch()"
                    @blur="$v.form.repeatEmail.$touch()"
                  />
                </v-col>
                <v-col cols="12" lg="4">
                  <v-text-field
                    v-model="$v.form.phoneNumber.$model"
                    :error-messages="handleErrors($v.form.phoneNumber)"
                    label="Teléfono"
                    outlined
                    dense
                    prepend-inner-icon="mdi-phone-dial"
                    @input="$v.form.phoneNumber.$touch()"
                    @blur="$v.form.phoneNumber.$touch()"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" lg="3">
                  <shared-autocompletes-province-autocomplete
                    v-model="$v.form.birthProvince.$model"
                    :error-messages="handleErrors($v.form.birthProvince)"
                    label="Provincia de nacimiento"
                    outlined
                    dense
                    @input="$v.form.birthProvince.$touch()"
                    @blur="$v.form.birthProvince.$touch()"
                  />
                </v-col>
                <v-col cols="12" lg="3">
                  <v-radio-group
                    v-model="$v.form.gender.$model"
                    :error-messages="handleErrors($v.form.phoneNumber)"
                    row
                  >
                    <v-radio
                      label="Hombre"
                      value="male"
                    />
                    <v-radio
                      label="Mujer"
                      value="female"
                    />
                  </v-radio-group>
                </v-col>
              </v-row>
            </v-container>
            <quotation-customer-footer-info :form="form" :valid="!$v.$invalid" :loading.sync="loading" />
          </v-form>
        </v-container>
      </v-col>
    </v-row>
    <quotation-customer-searched-customer v-model="dialog" :loading.sync="loading"/>
    <shared-ui-loading :visible="loading" />
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'
import vuelidate from '~/mixins/vuelidate'
export default {
  mixins: vuelidate,

  data: () => ({
    dialog: false,
    row: null,
    loading: false,
    form: {
      firstName: '',
      lastName: '',
      documentType: null,
      documentNumber: null,
      email: null,
      phoneNumber: null,
      gender: null,
      birthday: null,
      birthProvince: null,
      repeatEmail: null
    },
    item: null,
    items: [
      {
        text: 'Información Personal',
        right: true,
        color: 'secondary',
        number: 1,
        large: true
      },
      {
        text: 'Dirección y ocupación',
        right: true,
        color: 'grey',
        number: 2,
        large: false
      },
      {
        text: 'Datos de pago',
        right: true,
        color: 'grey',
        number: 3,
        large: false
      },
      {
        text: 'Firma',
        right: true,
        color: 'grey',
        number: 4,
        large: false
      }
    ]
  }),

  computed: {
    ...mapGetters({
      firstForm: 'quotation/firstForm',
      formContact: 'customer/formContact',
      searched: 'customer/searched',
      selectedCar: 'quotation/selectedCar'
    })
  },

  created () {
    if (this.selectedCar === null) {
      this.setSelectedCar(this.$route.params.id)
    }
    this.loadCustomer()
    if (this.firstForm) {
      this.form = this.firstForm
    }
  },

  validations () {
    return {
      form: {
        firstName: {
          required
        },
        lastName: {
          required
        },
        documentType: {
          required
        },
        documentNumber: {
          required,
          valid: (value, vm) => /^([0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKE]{1})|([XYZ]{1}[0-9]{7}[TRWAGMYFPDXBNJZSQVHLCKET]{1})$/.test(value)
        },
        birthday: {
          required
        },
        email: {
          required,
          email
        },
        repeatEmail: {
          required,
          email
        },
        phoneNumber: {
          required
        },
        gender: {
          required
        },
        birthProvince: {
          required,
          valid: (value, vm) => value instanceof Object
        }
      }
    }
  },

  methods: {
    ...mapActions({
      setSearched: 'customer/setSearched',
      setSelectedCar: 'quotation/setSelectedCar'
    }),
    async loadCustomer () {
      this.loading = true
      try {
        const { data } = await this.$axios.get(`customers/emails/${this.formContact.email}`)
        if (data && !this.searched) {
          this.setSearched(data['@id'])
          this.dialog = true
        }
      } catch (e) {
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
