<template>
  <section>
    <v-dialog
      :value="value"
      max-width="700"
      persistent
    >
      <v-card>
        <v-toolbar
          color="secondary"
          dark
        >
          <v-toolbar-title>
            Se ha encontrado un usuario con estos datos
          </v-toolbar-title>
        </v-toolbar>
        <v-row>
          <v-col v-if="loading" cols="12" align="center" class="mt-4 mb-4">
            <v-progress-circular indeterminate size="64" />
          </v-col>
          <v-col v-else cols="12" align="center">
            <v-card-text class="title">
              ¿Quieres utilizar estos datos para lanzar la cotización?
            </v-card-text>
            <v-card-text>
              <p class="display-1 font-weight-medium">
                {{ customer.firstName }} {{ customer.lastName }} {{ customer.documentNumber }}
              </p>
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>mdi-at</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>{{ customer.email }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>mdi-cellphone</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>{{ customer.phoneNumber }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>mdi-account-hard-hat</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>{{ customer.employment.name }}</v-list-item-title>
                  <v-list-item-subtitle>Salario : {{ customer.monthlyIncomeAmount }} €</v-list-item-subtitle>
                  <v-list-item-subtitle>Antigüedad laboral : {{ $moment(customer.companySeniorityDate).format('LL') }} </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>mdi-cake</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>{{ $moment(customer.birthday).format('LL') }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>mdi-map-marker</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>{{ customer.address.street }}, {{ customer.address.city }} </v-list-item-title>
                  <v-list-item-subtitle>{{ customer.address.postalCode }} {{ customer.address.province.name }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
            </v-card-text>
          </v-col>
        </v-row>
        <v-card-actions class="justify-center">
          <v-row no-gutters>
            <v-col cols="6">
              <v-btn
                :block="$vuetify.breakpoint.lgAndUp"
                @click="$router.go()"
              >
                Nuevos datos
              </v-btn>
            </v-col>
            <v-col cols="6">
              <v-btn
                color="secondary"
                block
                class="white--text"
                @click="submit"
              >
                Lanzar
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <quotation-authorized-response-dialog v-if="dialogAuthorized === true" :quotation="quotation" />
    <quotation-denied-response-dialog v-if="dialogRejected === true" />
  </section>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  props: {
    value: {
      required: true
    }
  },

  data: () => ({
    customer: {
      firstName: null,
      lastName: null,
      documentNumber: null,
      email: null,
      phoneNumber: null,
      employment: {
        name: null
      },
      monthlyIncomeAmount: null,
      companySeniorityDate: null,
      birthday: null,
      address: {
        street: null,
        city: null,
        postalCode: null,
        province: {
          name: null
        }
      }
    },
    loading: false,
    item: null,
    quotation: null,
    dialogAuthorized: false,
    dialogRejected: false
  }),

  watch: {
    quotation (value) {
      if (value) {
        this.equifax()
      }
    },

    searched (value) {
      if (value) {
        this.getCustomer()
      }
    }
  },

  created () {
    if (this.searched) {
      this.getCustomer()
    }
  },

  computed: {
    ...mapGetters({
      searched: 'customer/searched',
      selectedCar: 'quotation/selectedCar'
    })
  },

  methods: {
    ...mapActions({
      setFirstForm: 'quotation/setFirstForm',
      setSecondForm: 'quotation/setSecondForm',
      setSearched: 'customer/setSearched'
    }),
    async getCustomer () {
      this.loading = true
      try {
        const response = await this.$axios.get(this.searched)
        this.item = response.data
        this.customer.firstName = this.item.firstName
        this.customer.lastName = this.item.lastName
        this.customer.documentNumber = this.item.documentNumber
        this.customer.email = this.item.email
        this.customer.phoneNumber = this.item.phoneNumber
        this.customer.employment = this.item.employment
        this.customer.monthlyIncomeAmount = this.item.monthlyIncomeAmount
        this.customer.billingAmount = this.item.billingAmount
        this.customer.networkYield = this.item.networkYield
        this.customer.cnae = this.item.cnae
        this.customer.companySeniorityDate = this.item.companySeniorityDate
        this.customer.birthday = this.item.birthday
        this.customer.address.street = this.item.address.street
        this.customer.address.city = this.item.address.city
        this.customer.address.postalCode = this.item.address.postalCode
        this.customer.address.province = this.item.address.province
      } catch (e) {
      } finally {
        this.loading = false
      }
    },

    async submit () {
      this.loading = true
      try {
        const quotationData = {
          customer: this.searched,
          paymentType: this.selectedCar
        }
        const response = await this.$axios.post('quotations', quotationData)
        this.quotation = response.data
      } catch (e) {
      } finally {
        this.loading = false
        this.setSearched(null)
      }
    },

    async equifax () {
      this.loading = true
      try {
        const data = {
          quotation: this.quotation['@id']
        }

        const response = await this.$axios.post('equifaxes', data)
        if (response.data.result === 'A') {
          this.dialogAuthorized = true
        } else if (response.data.result === 'R') {
          this.dialogRejected = true
        } else if (response.data.result === 'F') {
          this.dialogRejected = true
        }
      } catch (e) {
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
