<template>
  <v-container>
    <v-breadcrumbs :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" v-show="$vuetify.breakpoint.lgAndUp"/>
    <v-row>
      <v-col cols="12">
        <v-img
          v-if="model.cover"
          :src="model.cover.thumbnails.medium"
          :alt="model.cover.webAlt ? model.cover.webAlt : model.model"
          :title="model.cover.webTitle ? model.cover.webTitle : model.model"
          class="align-end"
          height="400"
          style="filter: grayscale(100%);"
        >
          <v-sheet color="black" height="160" style="position: absolute; bottom: 0; right: 0; left: 0; opacity: 0.5; z-index: 1;" />
          <v-sheet class="py-6 px-10" color="transparent" height="160" style="position: absolute; bottom: 0; right: 0; left: 0; z-index: 10;">
            <h1 class="text-h3 white--text font-weight-bold mb-4">
              {{ model.brand.name }} {{ model.model }}
            </h1>
            <p class="white--text mt-4">
              {{ model.metaDescription }}
            </p>
          </v-sheet>
        </v-img>
      </v-col>
    </v-row>
    <v-row class="mb-16">
      <v-col cols="12" md="8">
        <v-row class="mb-16">
          <v-col v-for="(car, i) in cars" :key="i" cols="12" md="6">
            <shared-ui-car-card :car="car" />
          </v-col>
        </v-row>
        <v-row class="mb-16">
          <v-col v-for="(car, i) in outOfStockCars" :key="i" cols="12" md="3">
            <v-card :to="getLink(car)" class="text-center pa-3">
              <v-card disabled flat>
                <v-chip class="mb-2" color="silver" small>
                  ¡Agotado!
                </v-chip>
                <v-img
                  v-if="car.image"
                  :src="car.image.thumbnails.medium"
                  :alt="car.image.webAlt ? car.image.webAlt : car.model.model"
                  :title="car.image.webTitle ? car.image.webTitle : car.model.model"
                  height="80"
                  aspect-ratio="1"
                  contain
                />
                <p class="text-caption black--text font-weight-black text-truncate mb-0 mt-2">
                  {{ car.model.brand.name }} {{ car.model.model }}
                </p>
                <p class="text-caption black--text font-weight-black text-truncate">
                  {{ car.version }}
                </p>
              </v-card>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <div v-html="model.webDescription" />
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="4">
        <v-card v-if="!submitted" class="sticky" color="black" flat tile>
          <v-card-text class="white--text">
            <p class="text-center">
              ¿No encuentras lo que estás buscando?
            </p>
            <p class="text-center">
              Introduce tus datos y buscaremos el coche perfecto para ti
            </p>
            <hubspot-lead-form
              form-type="brand"
              background="black"
              :car-brand-name="model.brand.name"
              :car-model="model.model"
            />
            <!-- <v-form ref="form" @keyup.native.enter="submit">
              <v-text-field
                v-model="$v.form.firstName.$model"
                :error-messages="handleErrors($v.form.firstName)"
                label="Nombre"
                background-color="white"
                color="grey"
                solo
                dense
                @input="$v.form.firstName.$touch()"
                @blur="$v.form.firstName.$touch()"
              />
              <v-text-field
                v-model="$v.form.phoneNumber.$model"
                :error-messages="handleErrors($v.form.phoneNumber)"
                label="Teléfono"
                background-color="white"
                color="grey"
                solo
                dense
                @input="$v.form.phoneNumber.$touch()"
                @blur="$v.form.phoneNumber.$touch()"
              />
              <v-textarea
                v-model="$v.form.message.$model"
                :error-messages="handleErrors($v.form.message)"
                label="¿Qué estás buscando?"
                background-color="white"
                color="grey"
                solo
                dense
                @input="$v.form.message.$touch()"
                @blur="$v.form.message.$touch()"
              />
              <v-checkbox
                v-model="$v.form.conditions.$model"
                :error-messages="handleErrors($v.form.conditions)"
                class="float-left"
                dark
                @input="$v.form.conditions.$touch()"
                @blur="$v.form.conditions.$touch()"
              />
              He leído y acepto los <nuxt-link :to="{ name: 'index' }" class="white--text">
              Términos y condiciones
            </nuxt-link> de uso y la <nuxt-link :to="{ name: 'index' }" class="white--text">
              Política de privacidad
            </nuxt-link>
              <v-btn
                id="btn-contact"
                :loading="submitting"
                class="text-none mt-3"
                color="secondary"
                block
                depressed
                tile
                @click="submit"
              >
                Te llamamos
              </v-btn>
            </v-form> -->
          </v-card-text>
        </v-card>
        <!-- <v-card v-else class="sticky text-center" color="black" tile>
          <v-card-text>
            <p class="my-6">
              <v-icon color="green lighten-1" size="60">
                mdi-check-circle-outline
              </v-icon>
            </p>
            <p class="white--text text-h6">
              ¡Gracias por contactar con nosotros! <br />
              Nos pondremos en contacto contigo muy pronto.
            </p>
          </v-card-text>
        </v-card> -->
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// import { required } from 'vuelidate/lib/validators'

export default {

  data: () => ({
    model: null,
    cars: [],
    outOfStockCars: [],
    loading: false,
    submitted: false,
    submitting: false
    // form: {
    //   firstName: '',
    //   phoneNumber: '',
    //   message: '',
    //   conditions: false
    // }
  }),

  // validations () {
  //   return {
  //     form: {
  //       firstName: {
  //         required
  //       },
  //       phoneNumber: {
  //         required
  //       },
  //       message: {
  //         required
  //       },
  //       conditions: {
  //         required,
  //         valid: (value, vm) => value === true
  //       }
  //     }
  //   }
  // },

  async asyncData ({ $axios, error, params }) {
    if (!params.brand.startsWith('renting-')) {
      return error({ statusCode: 404, message: 'Brand does not exist' })
    }

    const paramBrand = params.brand.replace('renting-', '')
    const response = await $axios.get('car-models', {
      params: {
        'brand.slug': paramBrand,
        slug: params.model
      }
    })

    if (response.data['hydra:member'].length === 0) {
      error({ statusCode: 404, message: 'Model does not exist' })
    }

    const model = response.data[['hydra:member']][0]

    return { model }
  },

  async fetch () {
    await this.loadCars()
    await this.loadOutOfStockCars()
  },

  head () {
    if (!this.model) {
      return {}
    }

    const data = {
      title: this.model.metaTitle ? this.model.metaTitle : this.model.model,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.model.metaDescription ? this.model.metaDescription : this.model.model
        }
      ],
      link: []
    }

    if (this.model.metaRobots) {
      data.meta.push({
        hid: 'robots',
        name: 'robots',
        content: this.model.metaRobots
      })
    }

    if (this.model.urlCanonical) {
      data.link.push({
        hid: 'canonical',
        rel: 'canonical',
        content: this.model.urlCanonical
      })
    }

    return data
  },

  computed: {
    breadcrumbsItems () {
      return [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: this.model.brand.name,
          disabled: false,
          href: `/renting-${this.model.brand.slug}`
        }, {
          text: this.model.model,
          disabled: true
        }
      ]
    }
  },

  methods: {
    async loadCars () {
      this.loading = true
      try {
        const response = await this.$axios.get('cars', {
          params: {
            'stocks.quantity[gt]': 0,
            model: this.model.id,
            showInBrand: true
          }
        })

        this.cars = response.data[['hydra:member']]
      } catch (e) {
        this.$toast.error(e.response.data['hydra:description'])
      } finally {
        this.loading = false
      }
    },

    async loadOutOfStockCars () {
      try {
        const response = await this.$axios.get('cars', {
          params: {
            'stocks.quantity[lte]': 0,
            model: this.model.id,
            showInBrand: true
          }
        })

        this.outOfStockCars = response.data[['hydra:member']]
      } catch (e) {
        this.$toast.error(e.response.data['hydra:description'])
      }
    },

    getLink (car) {
      return {
        name: 'brand-model-version',
        params: {
          brand: 'renting-' + car.model.brand.slug,
          model: car.model.slug,
          version: car.slug
        }
      }
    }

    // async submit () {
    //   this.$v.form.$touch()
    //   if (this.$v.form.$pending || this.$v.form.$error) { return }
    //   this.submitting = true

    //   try {
    //     await this.$axios.post('contacts', {
    //       firstName: this.form.firstName,
    //       phoneNumber: this.form.phoneNumber,
    //       message: this.form.message
    //     })

    //     this.submitted = true
    //   } catch (e) {
    //     this.$toast.error(e.response.data['hydra:description'])
    //   } finally {
    //     this.submitting = false
    //   }
    // }
  }
}
</script>

<style scoped>
.sticky {
  top: 120px;
  position: sticky;
}
</style>
