<template>
  <section class="wrapper mt-8 pb-16">
    <v-container>
      <v-row class="mb-6 mt-6">
        <v-col cols="1">
          <v-icon
            color="green"
            size="40"
          >
            mdi-check-circle
          </v-icon>
        </v-col>
        <v-col cols="11">
          <h3 class="text-h4 font-weight-bold">
            Hemos enviado tu información a nuestros agentes
          </h3>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <p class="text-h5 font-weight-bold">
            ¡Puedes ir adelantando trabajo para ahorrar tiempo!
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <p class="subtitle-1 font-weight-light">
            Uno de nuestros agentes te llamará para solicitar esta información. Si quieres ahorrar tiempo puedes ir enviándonos la siguiente información que necesitamos para realizar el renting de tu vehículo.
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <p class="caption font-weight-light">
            * La empresa no puede aparecer en ningún listado de morosidad (ASNEF, RAI, etc.)
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
          class="py-2 mb-6"
        >
          <v-btn-toggle
            tile
            borderless
            color="primary"
          >
            <v-btn value="left" @click="particular = true; freelance = false; company = false; form.type = 'particular'">
              Soy Particular
            </v-btn>

            <v-btn value="center" @click="particular = false; freelance = true; company = false;  form.type = 'freelance'">
              Soy Autonomo
            </v-btn>

            <v-btn value="right" @click="particular = false; freelance = false; company = true;  form.type = 'company'">
              Soy Empresa
            </v-btn>
          </v-btn-toggle>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="3">
          <v-text-field
            v-model="$v.form.firstName.$model"
            :error-messages="handleErrors($v.form.firstName)"
            label="Nombre"
            prepend-inner-icon="mdi-account"
            outlined
            dense
            @input="$v.form.firstName.$touch()"
            @blur="$v.form.firstName.$touch()"
          />
        </v-col>
        <v-col cols="12" md="3">
          <v-text-field
            v-model="$v.form.lastName.$model"
            :error-messages="handleErrors($v.form.lastName)"
            label="Apellidos"
            prepend-inner-icon="mdi-account"
            outlined
            dense
            @input="$v.form.lastName.$touch()"
            @blur="$v.form.lastName.$touch()"
          />
        </v-col>
        <v-col cols="12" md="3">
          <v-text-field
            v-model="$v.form.phoneNumber.$model"
            :error-messages="handleErrors($v.form.phoneNumber)"
            label="Teléfono"
            prepend-inner-icon="mdi-phone-dial"
            outlined
            dense
            @input="$v.form.phoneNumber.$touch()"
            @blur="$v.form.phoneNumber.$touch()"
          />
        </v-col>
        <v-col cols="12" md="3">
          <v-text-field
            v-model="$v.form.email.$model"
            :error-messages="handleErrors($v.form.email)"
            label="Email"
            prepend-inner-icon="mdi-at"
            outlined
            dense
            @input="$v.form.email.$touch()"
            @blur="$v.form.email.$touch()"
          />
        </v-col>
      </v-row>
      <v-row>
        <provider-contact-upload v-if="freelance || particular" :type="'document_number'" :url="url" :file.sync="documentNumber" />
        <provider-contact-upload v-if="company" :type="'company_document_number'" :url="url2" :file.sync="companyDocumentNumber" />
        <provider-contact-upload v-if="freelance || particular" :type="'last_income_tax'" :url="url3" :file.sync="lastIncomeTax" />
        <provider-contact-upload v-if="freelance || particular" :type="'work_life_report'" :url="url4" :file.sync="workLifeReport" />
        <provider-contact-upload v-if="freelance || particular" :type="'bank_receipt'" :url="url5" :file.sync="bankReceipt" />
        <provider-contact-upload v-if="particular" :type="'last_paysheet_document'" :url="url6" :file.sync="lastPaysheetDocument" />
        <provider-contact-upload v-if="freelance || particular || company" :type="'receipt'" :url="url7" :file.sync="receipt" />
        <provider-contact-upload v-if="freelance" :type="'freelance_registration'" :url="url8" :file.sync="freelanceRegistration" />
        <provider-contact-upload v-if="freelance || company" :type="'model_390'" :url="url9" :file.sync="model390" />
        <provider-contact-upload v-if="freelance || company" :type="'model_303'" :url="url10" :file.sync="model303" />
        <provider-contact-upload v-if="company" :type="'model_200'" :url="url11" :file.sync="model200" />
        <provider-contact-upload v-if="company" :type="'assignee_document'" :url="url12" :file.sync="assigneeDocumentNumber" />
        <provider-contact-upload v-if="company" :type="'loss_balance'" :url="url13" :file.sync="lossBalance" />
        <provider-contact-upload v-if="company" :type="'polity'" :url="url14" :file.sync="polity" />
        <provider-contact-upload v-if="company" :type="'power_of_attorney'" :url="url15" :file.sync="powerOfAttorney" />
      </v-row>
      <v-btn tile color="secondary" large @click="submit">
        Subir documentacion
      </v-btn>
    </v-container>
    <shared-ui-loading :visible="loading" />
  </section>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import vuelidate from '~/mixins/vuelidate'

export default {
  mixins: [vuelidate],
  data: () => ({
    loading: false,
    freelance: false,
    particular: true,
    company: false,
    providerContact: null,
    url: null,
    url2: null,
    url3: null,
    url4: null,
    url5: null,
    url6: null,
    url7: null,
    url8: null,
    url9: null,
    url10: null,
    url11: null,
    url12: null,
    url13: null,
    url14: null,
    url15: null,
    form: {
      firstName: '',
      lastName: '',
      email: '',
      phoneNumber: '',
      type: 'particular'
    },
    documentNumber: null,
    companyDocumentNumber: null,
    lastIncomeTax: null,
    workLifeReport: null,
    bankReceipt: null,
    lastPaysheetDocument: null,
    receipt: null,
    freelanceRegistration: null,
    model390: null,
    model303: null,
    model200: null,
    assigneeDocumentNumber: null,
    lossBalance: null,
    polity: null,
    powerOfAttorney: null
  }),

  validations () {
    return {
      form: {
        firstName: {
          required
        },
        lastName: {
          required
        },
        phoneNumber: {
          required
        },
        email: {
          required,
          email
        }
      }
    }
  },

  methods: {
    async submit () {
      this.$v.form.$touch()
      if (this.$v.form.$pending || this.$v.form.$error) { return }
      this.loading = true
      try {
        const response = await this.$axios.post('provider-origin-contacts', this.form)
        this.providerContact = response.data['@id']
        await this.upload(this.documentNumber, 'document_number')
        await this.upload(this.companyDocumentNumber, 'company_document_number')
        await this.upload(this.lastIncomeTax, 'last_income_tax')
        await this.upload(this.workLifeReport, 'work_life_report')
        await this.upload(this.receipt, 'receipt')
        await this.upload(this.bankReceipt, 'bank_receipt')
        await this.upload(this.lastPaysheetDocument, 'last_paysheet_document')
        await this.upload(this.freelanceRegistration, 'freelance_registration')
        await this.upload(this.model390, 'model_390')
        await this.upload(this.model303, 'model_303')
        await this.upload(this.model200, 'model_200')
        await this.upload(this.assigneeDocumentNumber, 'assignee_document')
        await this.upload(this.lossBalance, 'loss_balance')
        await this.upload(this.polity, 'polity')
        await this.upload(this.powerOfAttorney, 'power_of_attorney')
        this.$router.push({
          name: 'mas-datos-thank-you-uuid',
          params: { uuid: this.providerContact }
        })
      } catch (e) {
      } finally {
        this.loading = false
      }
    },

    async upload (file, type) {
      if (!file) { return }

      this.uploading = true
      this.preview = URL.createObjectURL(file)

      const formData = new FormData()
      formData.append('providerOriginContact', this.providerContact)
      formData.append('file', file)
      formData.append('type', type)

      try {
        await this.$axios.post('provider-origin-contact-documents', formData, {
          headers: { 'Content-Type': 'multipart/form-data' }
        })
      } finally {
        this.uploading = false
      }
    }
  }
}
</script>
