<template>
  <section class="wrapper mt-8 pb-16">
    <v-container>
      <v-row class="mb-6 mt-6">
        <v-col cols="1">
          <v-icon
            color="green"
            size="40"
          >
            mdi-check-circle
          </v-icon>
        </v-col>
        <v-col cols="11">
          <h3 class="text-h4 font-weight-bold">
            Enhorabuena!, Hemos enviado tu información a nuestros agentes
          </h3>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <p class="subtitle-1 font-weight-light">
            Nuestros agentes se pondrán en contacto contigo cuanto antes posible para poder terminar de tramitar el renting de tu vehículo.
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <p class="text-h5 font-weight-bold">
            ¿Tienes alguna duda más sobre proceso?
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <p class="subtitle-1 font-weight-light">
            Ponte en contacto con uno de nuestros agentes, estaremos encantados de poder ayudarte.
          </p>
        </v-col>
      </v-row>
      <v-btn tile color="primary" large>
        910 781 751
      </v-btn>
    </v-container>
  </section>
</template>
