<template>
  <amp-body>
    <header class="headerbar">
      <div class="cntr">
        <div class="head">
          <div role="button" on="tap:sidebar1.toggle" class="button_navigation" tabindex="0">
            ☰
          </div>
          <div class="logo">
              <a href="https://www.vamos.es">
                <amp-img
                  class="home-button"
                  :src="require('~/assets/images/layout/logo.svg')"
                  width="190"
                  height="36"
              />
              </a>
          </div>
          <div style="display: flex; margin: 0px 20px 0px 0px; align-self: center;">
            <div class="h-call">
              <a title="call telephone" style="text-decoration: none; font-size: 28px; color: black;" href="tel:91 078 17 51">
                ✆
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <amp-sidebar class="sample-sidebar" id="sidebar1" layout="nodisplay" side="left">
      <ul class="sidebar">
        <li><a href="https://www.vamos.es/renting-coches-particulares">Renting particulares</a></li>
        <li><a href="https://www.vamos.es/renting-coches-autonomos">Renting autónomos</a></li>
        <li><a href="https://www.vamos.es/renting-coches-empresas">Renting empresas</a></li>
        <li><a href="https://www.vamos.es/como-funciona-vamos">¿Cómo funciona Vamos?</a></li>
        <li><a href="https://www.vamos.es/quienes-somos">¿Quiénes somos?</a></li>
        <li><a href="https://www.vamos.es/noticias-coches">Noticias coches</a></li>
      </ul>
    </amp-sidebar>
    <nuxt />
    <div class="share-buttons">
      <amp-user-notification id="amp-user-notification_5152" class="sample-notification" layout="nodisplay" role="alert">
        <div>
          <a style="text-decoration: none; color: white;" href="https://www.vamos.es/renting-coches-particulares" target="_blank"> Ver renting para particulares
          </a>
        </div>
      </amp-user-notification>
      <div style="display: flex">
        <amp-social-share
          type="linkedin"
          height="44"
          layout="flex-item"
          data-param-url="https://twitter.com/intent/tweet?url=https://www.vamos.es/?p=12617&text=El%20renting%20de%20berlinas%2C%20descubre%20esta%20oportunidad%20%C3%BAnica%20como%20alternativa%20a%20los%20SUV"
          aria-label="Share on LinkedIn"
        >
        </amp-social-share>
        <amp-social-share
          type="email"
          layout="flex-item"
          height="44"
          data-param-url="https://mail.ionos.es/#&ref=app%3Dio.ox%2Fmail%2Fcompose%2Fmain%3Acompose%26mailto%3Dmailto%253A%253Fsubject%253DEl%252520renting%252520de%252520berlinas%252C%252520descubre%252520esta%252520oportunidad%252520%2525C3%2525BAnica%252520como%252520alternativa%252520a%252520los%252520SUV%2526body%253Dhttps%253A%252F%252Fwww.vamos.es%252Fnoticias-coches%252Fel-renting-de-berlinas-descubre-esta-oportunidad-unica-como-alternativa-a-los-suv">
        </amp-social-share>
        <amp-social-share
          type="twitter"
          layout="flex-item"
          aria-label="Share on Twitter"
        ></amp-social-share>
        <amp-social-share
          type="whatsapp"
          layout="flex-item"
          data-param-text="Check out this article: TITLE - CANONICAL_URL"
        >
        </amp-social-share>
        <amp-social-share aria-label="Share on Pinterest" type="pinterest" data-param-media="https://www.pinterest.es/pin/create/button/?media=https://www.vamos.es/wp-content/uploads/2021/09/459-scaled.jpg&url=https://www.vamos.es/noticias-coches/el-renting-de-berlinas-descubre-esta-oportunidad-unica-como-alternativa-a-los-suv&description=El%20renting%20de%20berlinas,%20descubre%20esta%20oportunidad%20%C3%BAnica%20como%20alternativa%20a%20los%20SUV" layout="flex-item" height="44"></amp-social-share>
        <amp-social-share aria-label="Share on Line" type="line" layout="flex-item" height="44"></amp-social-share>
      </div>
    </div>
    <footer style="margin-top: 35px;">
      <div style="padding: 25px 0px; font-size: 12px; background: rgba(34,34,34,1); display: inline-block; clear: both; width: 100%; text-align: center;">
        <div style="width: 100%;">
          <div>
            <nav>
              <ul style="list-style: none; padding: 20px;">
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">¿Quienes somos?</a></li>
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">Noticias Coches</a></li>
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">Prensa</a></li>
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">Vamos Mobility Service</a></li>
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">Renting particulares</a></li>
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">Renting autómomos</a></li>
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">Renting autómomos</a></li>
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">Renting empresas</a></li>
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">¿Cómo funciona Vamos?</a></li>
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">Uso de Cookies</a></li>
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">Política de privacidad</a></li>
                <li style="display: inline-block; line-height: 1.8; margin-right: 13px; margin-bottom: 10px;"><a style="color: rgba(153,153,153,1)">Términos y condiciones</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>
    <amp-analytics type="gtag" data-credentials="include" :config="ga" />
  </amp-body>
</template>
<script>
export default {
  data () {
    return {
      ga: '/amp-analytics.json'
    }
  },
  head () {
    return {
      link: [
        {
          rel: 'preconnect',
          href: 'https://fonts.googleapis.com'
        }, {
          rel: 'preconnect',
          href: 'https://fonts.gstatic.com'
        }, {
          rel: 'stylesheet',
          href: 'https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap'
        }
      ],
      script: [
        {
          src: 'https://cdn.ampproject.org/v0/amp-analytics-0.1.js',
          async: true,
          'custom-element': 'amp-analytics'
        }
      ]
    }
  }
}
</script>
<style amp-boilerplate>
  @import "../assets/default.amp.css";
</style>
