<template>
  <v-app>
    <app-bar />
    <app-bar-menu />
    <v-main :style="$vuetify.breakpoint.mdAndUp ? 'margin-top: 100px;' : 'margin-top: 50px;'">
      <nuxt />
    </v-main>
    <app-footer/>
    <whatsapp-btn />
  </v-app>
</template>
