<template>
  <section class="wrapper mt-16 pt-4 pb-16">
    <v-container>
      <v-row class="mb-6">
        <v-col cols="12" align="center">
          <h2 class="text-h5 font-weight-bold">
            "Oops... parece que la página que buscas ya no existe
          </h2>
          <h3 class="text-h6">
            A continuación puedes encontrar todas nuestras ofertas de renting"
          </h3>
        </v-col>
      </v-row>
      <v-divider class="my-6"/>
      <v-row class="mb-6">
        <v-col cols="12" align="center">
          <h2 class="text-h4 font-weight-bold">
            Nuestra selección de coches de renting
          </h2>
        </v-col>
      </v-row>
      <v-row class="mb-16">
        <v-col v-if="loading" class="text-center" cols="12">
          <v-progress-circular indeterminate/>
        </v-col>
        <template v-else>
          <v-col v-for="(car, i) in cars" :key="i" cols="12" md="4">
            <shared-ui-car-card :car="car"/>
          </v-col>
        </template>
      </v-row>
      <v-row>
        <v-col cols="8" offset="2" md="4" offset-md="4" align="center">
          <v-btn
            :to="{ name: 'todos-los-coches-slug' }"
            class="text-none py-8"
            color="secondary"
            block
            x-large
            depressed
            tile
          >
            Encuentra tu coche
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },

  data: () => ({
    pageNotFound: '404 Not Found',
    otherError: 'An error occurred',
    cars: [],
    loading: false
  }),

  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  },

  mounted () {
    this.load()
  },

  methods: {
    async load () {
      this.loading = true
      try {
        const response = await this.$axios.get('cars', {
          params: {
            showInHome: true
          }
        })

        this.cars = response.data['hydra:member']
      } catch (e) {
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
