<template>
  <v-app>
    <app-bar-landing />
    <v-main :style="$vuetify.breakpoint.mdAndUp ? 'margin-top: 100px;' : 'margin-top: 50px;'">
      <nuxt />
    </v-main>
    <app-footer-landing />
  </v-app>
</template>
