<template>
  <v-app>
    <landing-black-friday-contact-form :car="{ brand: 'Toyota', name: 'C-HR', version: '125H e-CVT Advance', fueltype: 'Híbrido', color: 'Blanco Perlado', km: '10000', deadlines: '48' }">
      <template v-slot:landing-button="{ on }">
        <v-app-bar
          :height="$vuetify.breakpoint.lgAndUp ? 100 : 120"
          color="black"
          fixed
          dark
          v-on="on"
          style="cursor: pointer;"
        >
          <v-container>
            <client-only>
              <countdown v-slot="{ days, hours, minutes, seconds }" :time="time" :interval="100">
                <v-row>
                  <v-col :style="$vuetify.breakpoint.smAndDown ? 'padding-bottom: 0px;' : ''" cols="12" md="6" align-self="center" :align="$vuetify.breakpoint.mdAndUp ? 'end' : 'center'">
                    <p :class="$vuetify.breakpoint.lgAndUp ? 'font-weight-bold text-body-1 mb-0' : 'font-weight-bold text-body-2 mt-4 mb-0 pa-0'">
                      Ofertas Black Friday solo por tiempo limitado：
                    </p>
                  </v-col>
                  <v-col :style="$vuetify.breakpoint.smAndDown ? 'padding-top: 0px;' : ''" cols="12" md="4" align-self="center">
                    <v-row :class="$vuetify.breakpoint.lgAndUp ? 'text-center' : 'text-center mt-0 pa-0'">
                      <v-col cols="3" align-self="center">
                        <p :class="$vuetify.breakpoint.lgAndUp ? 'font-weight-bold text-h4 mb-0' : 'font-weight-bold text-h6 mb-0 '">
                          {{ days }}
                        </p><p :class="$vuetify.breakpoint.lgAndUp ? 'font-weight-bold text-body-1 mt-0 mb-0' : 'font-weight-bold text-body-2 mt-0 mb-0'">
                          Dias
                        </p>
                      </v-col>
                      <v-col cols="3" align-self="center">
                        <p :class="$vuetify.breakpoint.lgAndUp ? 'font-weight-bold text-h4 mb-0' : 'font-weight-bold text-h6 mb-0'">
                          {{ hours }}
                        </p><p :class="$vuetify.breakpoint.lgAndUp ? 'font-weight-bold text-body-1 mt-0 mb-0' : 'font-weight-bold text-body-2 mt-0 mb-0'">
                          Horas
                        </p>
                      </v-col>
                      <v-col cols="3" align-self="center">
                        <p :class="$vuetify.breakpoint.lgAndUp ? 'font-weight-bold text-h4 mb-0' : 'font-weight-bold text-h6 mb-0'">
                          {{ minutes }}
                        </p><p :class="$vuetify.breakpoint.lgAndUp ? 'font-weight-bold text-body-1 mt-0 mb-0' : 'font-weight-bold text-body-2 mt-0 mb-0'">
                          Minutos
                        </p>
                      </v-col>
                      <v-col cols="3" align-self="center">
                        <p :class="$vuetify.breakpoint.lgAndUp ? 'font-weight-bold text-h4 mb-0' : 'font-weight-bold text-h6 mb-0'">
                          {{ seconds }}
                        </p><p :class="$vuetify.breakpoint.lgAndUp ? 'font-weight-bold text-body-1 mt-0 mb-0' : 'font-weight-bold text-body-2 mt-0 mb-0'">
                          Segundos
                        </p>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </countdown>
            </client-only>
          </v-container>
        </v-app-bar>
      </template>
    </landing-black-friday-contact-form>
    <v-toolbar
      height="100"
      color="white"
      fixed
      elevation="0"
      class="fixed-bar"
    >
      <v-container :class="$vuetify.breakpoint.lgAndUp ? 'px-7' : 'px-6'" :fluid="$vuetify.breakpoint.lgAndDown">
        <v-layout row align-center>
          <v-toolbar-title>
            <v-img
              :src="require('~/assets/images/layout/logo.svg?inline')"
              width="126"
              height="25"
              aspect-ratio="1"
              alt="Vamos | Renting de coches"
              contain
            />
          </v-toolbar-title>
          <v-spacer />
          <v-btn
            href="tel:+34910781504"
            class="text-body-1 font-weight-bold text-none px-6"
            color="primary"
            depressed
            tile
            dark
          >
            910 781 504
          </v-btn>
        </v-layout>
      </v-container>
    </v-toolbar>
    <v-main :style="$vuetify.breakpoint.mdAndUp ? 'margin-top: 100px;' : 'margin-top: 50px;'">
      <nuxt />
      <client-only>
        <section v-if="$vuetify.breakpoint.lgAndUp" class="wrapper py-12 white--text" style="background-color: #585858;">
          <v-container v-if="!submitted" fluid>
            <v-row class="mb-12">
              <v-col cols="12" align="center">
                <h2 class="text-h4 font-weight-bold">
                  ¿Quieres saber más detalles?
                </h2>
                <h2 class="text-h6 font-weight-bold">
                  Completa el formulario y te llamamos
                </h2>
              </v-col>
            </v-row>
            <v-row justify="center">
              <v-container>
                <v-col cols="12">
                  <hubspot-lead-form
                    form-type="landing"
                    background="black"
                    distribution="inline"
                    all-to-action="Pedir información"
                    car-brand-name="Toyota"
                    car-model="C-HR"
                    car-trimm="125H e-CVT Advance"
                    car-fuel="Híbrido"
                    car-color="Blanco Perlado"
                    car-kms="10000"
                    car-months="48"
                  />
                </v-col>
                <v-row class="mt-4">
                  <v-spacer />
                  <v-col cols="6" align="center">
                    <p>
                      Revisa nuestras
                      <nuxt-link :to="{ name: 'preguntas-frecuentes' }">
                        preguntas frecuentes
                      </nuxt-link>
                      para más información.<br> Nuestro horario es de L-J de 9h a 20h y V de 9h a 18
                    </p>
                  </v-col>
                  <v-spacer />
                </v-row>
              </v-container>
              <!-- <v-form ref="form" @keyup.native.enter="submit">
                <v-container>
                  <v-row>
                    <v-col cols="12" md="4">
                      <v-text-field
                        v-model="$v.form.name.$model"
                        :error-messages="handleErrors($v.form.name)"
                        label="Nombre"
                        outlined
                        dense
                        background-color="white"
                        color="grey lighten-5"
                        @input="$v.form.name.$touch()"
                        @blur="$v.form.name.$touch()"
                      />
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-text-field
                        v-model="$v.form.phoneNumber.$model"
                        :error-messages="handleErrors($v.form.phoneNumber)"
                        label="Teléfono"
                        outlined
                        dense
                        background-color="white"
                        color="grey lighten-5"
                        @input="$v.form.phoneNumber.$touch()"
                        @blur="$v.form.phoneNumber.$touch()"
                      />
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-text-field
                        v-model="$v.form.email.$model"
                        :error-messages="handleErrors($v.form.email)"
                        label="Email"
                        outlined
                        dense
                        background-color="white"
                        color="grey lighten-5"
                        @input="$v.form.email.$touch()"
                        @blur="$v.form.email.$touch()"
                      />
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-checkbox
                        v-model="$v.form.conditions.$model"
                        :error-messages="handleErrors($v.form.conditions)"
                        class="float-left"
                        dark
                        @input="$v.form.conditions.$touch()"
                        @blur="$v.form.conditions.$touch()"
                      />
                      He leído y acepto los
                      <nuxt-link :to="{ name: 'terminos-y-condiciones' }">
                        Términos y condiciones
                      </nuxt-link>
                      de uso y la
                      <nuxt-link :to="{ name: 'politica-privacidad' }">
                        Política de privacidad
                      </nuxt-link>
                    </v-col>
                  </v-row>
                  <v-row justify="center">
                    <v-btn
                      id="landing-btn-form"
                      :loading="submitting"
                      class="text-none mt-3"
                      color="secondary"
                      depressed
                      tile
                      large
                      @click="submit"
                    >
                      Pedir información
                    </v-btn>
                  </v-row>
                  <v-row class="mt-4">
                    <v-spacer />
                    <v-col cols="6" align="center">
                      <p>Revisa nuestras
                        <nuxt-link :to="{ name: 'preguntas-frecuentes' }"> preguntas frecuentes </nuxt-link>
                        para más información.<br> Nuestro horario es de L-J de 9h a 20h y V de 9h a 18
                      </p>
                    </v-col>
                    <v-spacer />
                  </v-row>
                </v-container>
              </v-form> -->
            </v-row>
          </v-container>
          <!-- <v-container v-else>
            <v-row>
              <v-col cols="12" class="text-center">
                <p class="my-6">
                  <v-icon color="green lighten-1" size="60">
                    mdi-check-circle-outline
                  </v-icon>
                </p>
                <p class="white--text text-h6">
                  ¡Gracias por contactar con nosotros! <br />
                  Nos pondremos en contacto contigo muy pronto.
                </p>
              </v-col>
            </v-row>
          </v-container> -->
        </section>
      </client-only>
    </v-main>
    <app-footer-landing />
  </v-app>
</template>

<script>
// import { required, email, minLength, maxLength } from 'vuelidate/lib/validators'

export default {
  props: {
    landing: {
      required: false,
      default: null
    }
  },

  data: () => ({
    // form: {
    //   name: '',
    //   phoneNumber: '',
    //   email: '',
    //   conditions: false
    // },
    dialog: false,
    submitting: false,
    submitted: false
  }),

  computed: {
    time () {
      const now = new Date()
      const timeLimit = new Date(2021, 10, 31)
      return Number(timeLimit - now)
    }
  },
  // validations () {
  //   return {
  //     form: {
  //       name: {
  //         required
  //       },
  //       phoneNumber: {
  //         required,
  //         minLength: minLength(9),
  //         maxLength: maxLength(9)
  //       },
  //       email: {
  //         required,
  //         email
  //       },
  //       conditions: {
  //         required,
  //         valid: (value, vm) => value === true
  //       }
  //     }
  //   }
  // },

  methods: {
    // async submit () {
    //   this.$v.form.$touch()
    //   if (this.$v.form.$pending || this.$v.form.$error) { return }
    //   this.submitting = true

    //   try {
    //     await this.$axios.post('landing-contacts', {
    //       name: this.form.name,
    //       phoneNumber: this.form.phoneNumber,
    //       email: this.form.email,
    //       landing: '/landings/8d8a079d-895b-4e12-b761-12fbf217024d'
    //     })

    //     this.submitted = true
    //   } catch (e) {
    //     this.$toast.error(e.response.data['hydra:description'])
    //   } finally {
    //     this.submitting = false
    //   }
    // },

    close () {
      this.dialog = false
      this.submitted = false
    }
  }
}
</script>

<style scoped>
  .fixed-bar {
    position: sticky;
    position: -webkit-sticky; /* for Safari */
    top: 6.2em;
    z-index: 2;
  }
</style>
