<template>
  <v-app>
    <landing-new-version-contact-form :text-header="true" :car="{ brand: 'Jeep', name: 'Compass', version: '1.6 Mjet Limited FWD', fueltype: 'Diesel', color: 'Negro Carbón', km: '10000', deadlines: '60' }">
      <template #landing-button="{ on }">
        <v-app-bar
          :height="$vuetify.breakpoint.lgAndUp ? 100 : 120"
          color="black"
          fixed
          dark
          style="cursor: pointer;"
          v-on="on"
        >
          <v-container>
            <v-row>
              <v-col :style="$vuetify.breakpoint.smAndDown ? 'padding-bottom: 0px; padding-top: 0px;' : ''" cols="12" md="12" align-self="center" align="center">
                <p :class="$vuetify.breakpoint.lgAndUp ? 'font-weight-bold text-body-2 mb-0' : 'font-weight-bold text-body-2 mt-0 mb-0 pa-0'">
                  ⚡ ¡TE REGALAMOS 100€ EN COMBUSTIBLE! &nbsp;🚗<br>
                  Contrata ahora tu renting y recomiéndanos a un amigo. Por cada amigo que reserve con nosotros os lleváis 100€ en combustible... ¡cada uno! <span v-if="$vuetify.breakpoint.lgAndUp" style="margin-left: 20px;font-size: 15px;">Saber más</span>
                </p>
              </v-col>
            </v-row>
          </v-container>
        </v-app-bar>
      </template>
    </landing-new-version-contact-form>
    <v-toolbar
      height="100"
      color="white"
      fixed
      elevation="0"
      class="fixed-bar"
    >
      <v-container :class="$vuetify.breakpoint.lgAndUp ? 'px-7' : 'px-6'" :fluid="$vuetify.breakpoint.lgAndDown">
        <v-layout row align-center>
          <v-toolbar-title>
            <v-img
              :src="require('~/assets/images/layout/logo.svg?inline')"
              width="126"
              height="25"
              aspect-ratio="1"
              alt="Vamos | Renting de coches"
              contain
            />
          </v-toolbar-title>
          <v-spacer />
          <v-btn
            href="tel:+34910781504"
            class="text-body-1 font-weight-bold text-none px-6"
            color="primary"
            depressed
            tile
            dark
          >
            910 781 504
          </v-btn>
        </v-layout>
      </v-container>
    </v-toolbar>
    <v-main :style="$vuetify.breakpoint.mdAndUp ? 'margin-top: 100px;' : 'margin-top: 50px;'">
      <nuxt />
      <client-only>
        <section v-if="$vuetify.breakpoint.lgAndUp" class="wrapper py-12 white--text" style="background-color: #585858;">
          <v-container v-if="!submitted" fluid>
            <v-row class="mb-12">
              <v-col cols="12" align="center">
                <h2 class="text-h4 font-weight-bold">
                  ¿Quieres saber más detalles?
                </h2>
                <h2 class="text-h6 font-weight-bold">
                  Completa el formulario y te llamamos
                </h2>
              </v-col>
            </v-row>
            <v-row justify="center">
              <v-container>
                <v-col cols="12">
                  <hubspot-lead-form
                    form-type="landing"
                    background="black"
                    distribution="inline"
                    all-to-action="Pedir información"
                    car-brand-name="Toyota"
                    car-model="C-HR"
                    car-trimm="125H e-CVT Advance"
                    car-fuel="Híbrido"
                    car-color="Blanco Perlado"
                    car-kms="10000"
                    car-months="48"
                  />
                </v-col>
                <v-row class="mt-4">
                  <v-spacer />
                  <v-col cols="6" align="center">
                    <p>
                      Revisa nuestras
                      <nuxt-link :to="{ name: 'preguntas-frecuentes' }">
                        preguntas frecuentes
                      </nuxt-link>
                      para más información.<br> Nuestro horario es de L-J de 9h a 20h y V de 9h a 18
                    </p>
                  </v-col>
                  <v-spacer />
                </v-row>
              </v-container>
            </v-row>
          </v-container>
        </section>
      </client-only>
    </v-main>
    <app-footer-landing />
  </v-app>
</template>

<script>
// import { required, email, minLength, maxLength } from 'vuelidate/lib/validators'

export default {
  props: {
    landing: {
      required: false,
      default: null
    }
  },

  data: () => ({
    dialog: false,
    submitting: false,
    submitted: false
  }),

  methods: {
    close () {
      this.dialog = false
      this.submitted = false
    }
  }
}
</script>

<style scoped>
.fixed-bar {
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  top: 6.2em;
  z-index: 2;
}
</style>
