<template>
  <section class="mt-12">
    <v-row>
      <v-col cols="12" lg="4">
        <p class="display-1 font-weight-bold text-center">
          Firma del contrato
        </p>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="2" class="d-none d-lg-block d-md-block">
        <v-timeline>
          <v-timeline-item
            v-for="(item, i) in items"
            :key="i"
            :color="item.color"
            :large="item.large"
            :right="item.right"
          >
            <template #icon>
              <span class="white--text">{{ item.number }}</span>
            </template>
            {{ item.text }}
          </v-timeline-item>
        </v-timeline>
      </v-col>
      <v-col col="8">
        <v-container>
          <iframe ref="iframe" style="border: none; height: 700px; width: 100%" :src="signaturit" />
        </v-container>
      </v-col>
    </v-row>
    <shared-ui-loading :visible="loading" />
  </section>
</template>

<script>

export default {

  props: {
    itemId: {
      type: String,
      required: false,
      default: null
    },

    signaturit: {
      type: String,
      required: true
    }
  },

  data: () => ({
    row: null,
    loading: false,
    signatureUrl: null,
    url: '',
    items: [
      {
        text: 'Información Personal',
        right: true,
        color: 'secondary',
        number: 1,
        large: true
      },
      {
        text: 'Dirección y ocupación',
        right: true,
        color: 'secondary',
        number: 2,
        large: true
      },
      {
        text: 'Datos de pago',
        right: true,
        color: 'secondary',
        number: 3,
        large: true
      },
      {
        text: 'Firma',
        right: true,
        color: 'secondary',
        number: 4,
        large: true
      }
    ]
  })
}
</script>
