<template>
  <div :class="classes">
    <div v-if="isLoadingForm" class="formLoader">
      <v-progress-circular
        :size="30"
        :color="`${background === 'black' ? 'white' : 'primary'}`"
        indeterminate
      />
    </div>
    <div :id="formInternalId" class="hubspotLeadForm" />
    <div v-if="!isSummited" class="hubspotBookButton">
      <slot />
    </div>
    <!-- <button class="hbsButtonSubmit hbsButtonSubmit--dark">Reserva online</button> -->
    <div v-if="isSummited">
      <v-row>
        <v-col cols="12" class="text-center">
          <p class="my-6">
            <v-icon color="green lighten-1" size="60">
              mdi-check-circle-outline
            </v-icon>
          </p>
          <p :class="`${background === 'black' ? 'white--text' : ''} text-h6`">
            ¡Gracias por contactar con nosotros! <br>
            Nos pondremos en contacto contigo muy pronto.
          </p>
        </v-col>
      </v-row>
    </div>
    <!-- <pre>Provider: {{ carProvider }}</pre>
    <pre>Brand: {{ carBrandName }}</pre>
    <pre>Model: {{ carModel }}</pre>
    <pre>Trimm: {{ carTrimm }}</pre>
    <pre>Fuel: {{ carFuel }}</pre>
    <pre>Color: {{ carColor }}</pre>
    <pre>Kms: {{ carKms }}</pre>
    <pre>Months: {{ carMonths }}</pre> -->
  </div>
</template>

<script>
import loadScript from 'load-script'

export default {

  props: {
    formType: {
      type: String,
      default: null,
      required: true,
      validator: value => ['detail', 'landing', 'brand'].includes(value)
    },
    callToAction: {
      type: String,
      default: 'Te llamamos'
    },
    background: {
      type: String,
      default: 'white',
      validator: value => ['white', 'black'].includes(value)
    },
    distribution: {
      type: String,
      default: 'default',
      validator: value => ['default', 'column', 'inline'].includes(value)
    },
    carProvider: {
      type: String,
      default: null
    },
    carBrandName: {
      type: String,
      default: null
    },
    carModel: {
      type: [String, Number],
      default: null
    },
    carTrimm: {
      type: String,
      default: null
    },
    carFuel: {
      type: String,
      default: null
    },
    carColor: {
      type: String,
      default: null
    },
    carKms: {
      type: [String, Number],
      default: null
    },
    carMonths: {
      type: [String, Number],
      default: null
    }
  },

  data () {
    return {
      formInternalId: null,
      isSummited: false,
      isLoadingForm: true,
      jqueryUrl: '//code.jquery.com/jquery-3.4.1.slim.min.js',
      hubspotUrl: '//js.hsforms.net/forms/v2.js',
      formIds: {
        // Detalle de coche y modales, se pasan los datos del coche
        detail: 'ed04ec7b-151e-4195-a5e7-400c77f8152b',
        // Para todas las landings
        landing: '9bcd382c-69fe-4688-8464-db80254bac3a',
        // Formularios de marca sin un coche asociado
        brand: 'ad335412-cb3e-47df-ac13-5a416e5ed6bc'
      }
    }
  },

  computed: {
    jQueryScript () {
      return document.querySelector(`script[src="${this.jqueryUrl}"]`)
    },
    hubspotScript () {
      return document.querySelector(`script[src="${this.hubspotUrl}"]`)
    },
    classes () {
      let c = ''
      c += this.background === 'black' ? ' hubspotForm-background-black' : ''
      c += this.distribution !== 'default' ? ` hubspotForm-distribution-${this.distribution}` : ''
      c += this.$slots.default ? ' hubspotForm-hasOnlineProcess' : ''
      return c
    }
  },

  mounted () {
    this.formInternalId = `hbsFormId-${Math.random().toString(36).substr(2, 5)}`
    this.loadHubspotSupportForm()
    this.loadJquery()
  },

  destroyed () {
    this.removeJquery()
    this.removeHubspot()
  },

  methods: {

    initHubspotForm () {
      const thisProxy = this
      window.hbspt.forms.create({
        region: 'na1',
        portalId: '20086312',
        formId: this.formIds[this.formType],
        target: `#${thisProxy.formInternalId}`,
        locale: 'es',
        submitButtonClass: 'hbsButtonSubmit',
        translations: {
          es: {
            submitText: this.callToAction
          }
        },
        onFormReady () {
          thisProxy.isLoadingForm = false
          // Update hidden fields with car data
          const emptyText = 'Sin información'
          const proveedorForm = document.querySelector(`#${thisProxy.formInternalId} input[class="hs-input"][name="proveedorform"][type="hidden"]`)
          const marcaForm = document.querySelector(`#${thisProxy.formInternalId} input[class="hs-input"][name="marcaform"][type="hidden"]`)
          const modelForm = document.querySelector(`#${thisProxy.formInternalId} input[class="hs-input"][name="modelform"][type="hidden"]`)
          const acabadoForm = document.querySelector(`#${thisProxy.formInternalId} input[class="hs-input"][name="acabadoform"][type="hidden"]`)
          const combustibleForm = document.querySelector(`#${thisProxy.formInternalId} input[class="hs-input"][name="combustibleform"][type="hidden"]`)
          const colorForm = document.querySelector(`#${thisProxy.formInternalId} input[class="hs-input"][name="colorform"][type="hidden"]`)
          const kmsForm = document.querySelector(`#${thisProxy.formInternalId} input[class="hs-input"][name="kmsform"][type="hidden"]`)
          const mesesForm = document.querySelector(`#${thisProxy.formInternalId} input[class="hs-input"][name="mesesform"][type="hidden"]`)

          if (proveedorForm) {
            proveedorForm.value = thisProxy.carProvider || emptyText
          }

          if (marcaForm) {
            marcaForm.value = thisProxy.carBrandName || emptyText
          }

          if (modelForm) {
            modelForm.value = thisProxy.carModel || emptyText
          }

          if (acabadoForm) {
            acabadoForm.value = thisProxy.carTrimm || emptyText
          }

          if (combustibleForm) {
            combustibleForm.value = thisProxy.carFuel || emptyText
          }

          if (colorForm) {
            colorForm.value = thisProxy.carColor || emptyText
          }

          if (kmsForm) {
            kmsForm.value = thisProxy.carKms || emptyText
          }

          if (mesesForm) {
            mesesForm.value = thisProxy.carMonths || emptyText
          }
        },
        onFormSubmitted () {
          thisProxy.isSummited = true
          // Analytics tracking
          // window.dataLayer = window.dataLayer || []
          // window.dataLayer.push({
          //   event: 'new_subscriber',
          //   formLocation: 'footer'
          // })
          // if (this.formType === 'landing') {
          //   // General
          //   this.$gtm.push({
          //     event: 'myEvent',
          //     category: 'Contacto',
          //     action: 'TeLlamamosLanding'
          //   })
          // } else {
          //   this.$gtm.push({
          //     event: 'myEvent',
          //     formLocation: 'footer'
          //   })
          // }
          // console.log('Form submitted')
        }
      })
    },

    loadHubspotSupportForm () {
      loadScript(this.hubspotUrl, (error) => {
        if (!error) {
          this.initHubspotForm()
        }
      })
    },
    loadJquery () {
      if (this.jQueryScript) { return }
      loadScript(this.jqueryUrl)
    },
    removeJquery () {
      if (this.jQueryScript) {
        this.jQueryScript.remove()
        window.jQuery = undefined
      }
    },
    removeHubspot () {
      this.hubspotScript.remove()
    }
  }
}
</script>

<style lang="scss">
.formLoader {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hubspotLeadForm {

  // Black background
  .hubspotForm-background-black & {

    .legal-consent-container a {
      color: white;
    }
  }

  // Style column
  .hubspotForm-distribution-column & {

    .form-columns-2 {

      > div {
        width: 100% !important;
      }
    }
  }

  // Style inline
  .hubspotForm-distribution-inline & {

    .form-columns-2 {
      width: 66.6%;
      float: left;
    }

    .form-columns-2 + .form-columns-1 {
      width: 33.3%;
    }

    @media only screen and (max-width: 960px) {
      .form-columns-2 {
        width: 100%;

        > div {
          width: 100%;
        }
      }

      .form-columns-2 + .form-columns-1 {
        width: 100%
      }
    }
  }

  // Has online process
  .hubspotForm-hasOnlineProcess & {
    position: relative;

    .hbsButtonSubmit {
      position: absolute;
      width: 46%;
      right: 12px;
      bottom: -52px;
    }
  }

  // Hubspot form overrides
  .hs-form-field {
    padding: 0 12px !important;
    margin-bottom: 24px !important;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  fieldset {
    max-width: 100% !important;
  }

  .input {
    width: 100%;

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    textarea {
      border-radius: 4px;
      width: 100% !important;
      padding: 0 12px;
      height: 40px;
      line-height: 20px;
      border: 1px solid #9e9e9e;
      font-size: 16px;
      background-color: white;

      &.error {
        border-color: var(--v-error-base) !important;
        background-color: white !important;
      }
    }

    textarea {
      height: 80px;
      padding: 8px;
    }

    input[type="checkbox"] {
      position: relative;
      top: 6px;
    }
  }

  .hs-input {

    .invalid.error {
      border-color: var(--v-secondary-base) !important;
      background-color: white;
    }
  }

  .hs-form-required {
    margin-left: 2px;
    color: var(--v-error-base);
  }

  // Errors
  .hs_error_rollup {
    padding: 0 12px;
    margin-bottom: 16px;
    font-size: 14px;
  }

  .hs-error-msgs {
    margin-top: 4px;
    padding-left: 0;
    color: var(--v-error-base);
    font-size: 12px;
  }

  .hs-submit {
    padding: 0 12px;
  }

  .legal-consent-container a {
    text-decoration: underline;
  }

  .submitted-message {
    display: none;
  }
}

.hbsButtonSubmit {
  display: block;
  width: 100%;
  height: 52px;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: var(--v-secondary-base) !important;
  border-color: var(--v-secondary-base) !important;
}

.hubspotBookButton {

  .v-btn {
    width: 46%;
    min-width: 46% !important;
    margin-left: 12px;
  }
}
</style>
