<template>
  <section class="wrapper py-16">
    <v-container>
      <v-row>
        <v-col cols="12" md="6">
          <h2 class="text-h4 text-md-h3 font-weight-bold">
            Contáctanos
          </h2>
          <p class="text-h6 mt-16">
            Para peticiones de medios y prensa, por favor escríbenos a prensa@vamos.es.<br />
            Estaremos encantados de hablar contigo.
          </p>
        </v-col>
        <v-col cols="12" md="6">
          <v-form v-if="!submitted" ref="form" @keyup.native.enter="submit">
            <v-row>
              <v-col cols="6">
                <v-text-field
                  v-model="$v.form.firstName.$model"
                  :error-messages="handleErrors($v.form.firstName)"
                  label="Nombre"
                  outlined
                  dense
                  @input="$v.form.firstName.$touch()"
                  @blur="$v.form.firstName.$touch()"
                />
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="$v.form.lastName.$model"
                  :error-messages="handleErrors($v.form.lastName)"
                  label="Apellidos"
                  outlined
                  dense
                  @input="$v.form.lastName.$touch()"
                  @blur="$v.form.lastName.$touch()"
                />
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="$v.form.phoneNumber.$model"
                  :error-messages="handleErrors($v.form.phoneNumber)"
                  label="Teléfono"
                  outlined
                  dense
                  @input="$v.form.phoneNumber.$touch()"
                  @blur="$v.form.phoneNumber.$touch()"
                />
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="$v.form.email.$model"
                  :error-messages="handleErrors($v.form.email)"
                  label="Email"
                  outlined
                  dense
                  @input="$v.form.email.$touch()"
                  @blur="$v.form.email.$touch()"
                />
              </v-col>
              <v-col cols="12">
                <v-textarea
                  v-model="$v.form.message.$model"
                  :error-messages="handleErrors($v.form.message)"
                  label="¿En qué podemos ayudarte?"
                  outlined
                  dense
                  @input="$v.form.message.$touch()"
                  @blur="$v.form.message.$touch()"
                />
              </v-col>
              <v-col cols="12">
                <v-checkbox
                  v-model="$v.form.conditions.$model"
                  :error-messages="handleErrors($v.form.conditions)"
                  @input="$v.form.conditions.$touch()"
                  @blur="$v.form.conditions.$touch()"
                  class="float-left"
                />
                <span class="float-left mt-5">
                  He leído y acepto los <nuxt-link :to="{ name: 'terminos-y-condiciones' }">Términos y condiciones de uso</nuxt-link> y la
                  <nuxt-link :to="{ name: 'politica-privacidad' }">Política de privacidad</nuxt-link>
                </span>
              </v-col>
              <v-col cols="12">
                <v-btn
                  class="text-none"
                  color="primary"
                  large
                  block
                  depressed
                  :loading="submitting"
                  tile
                  @click="submit"
                >
                  Enviar información
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
          <p v-else class="text-h5 font-weight-bold"> ¡Gracias por contactar con nosotros! Nos pondremos en contacto contigo muy pronto.</p>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
import { email, required } from 'vuelidate/lib/validators'
import vuelidate from '~/mixins/vuelidate'

export default {
  mixins: [vuelidate],

  data: () => ({
    form: {
      firstName: '',
      lastName: '',
      phoneNumber: '',
      email: '',
      message: '',
      conditions: false
    },
    submitting: false,
    submitted: false
  }),

  validations () {
    return {
      form: {
        firstName: {
          required
        },
        lastName: {
          required
        },
        phoneNumber: {
          required
        },
        email: {
          required,
          email
        },
        message: {
          required
        },
        conditions: {
          required,
          valid: (value, vm) => value === true
        }
      }
    }
  },

  methods: {
    async submit () {
      this.$v.form.$touch()
      if (this.$v.form.$pending || this.$v.form.$error) { return }

      this.submitting = true

      try {
        await this.$axios.post('contact-presses', this.form)
      } catch (e) {
      } finally {
        this.submitting = false
        this.submitted = true
      }
    }
  }
}
</script>

<style scoped>
.wrapper {
  background-color: #F6F6F6;
}

a {
  text-decoration: underline;
}
</style>
