<template>
  <section class="wrapper">
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <h2 class="text-h4 text-md-h3 font-weight-bold">
            Kit de prensa
          </h2>
          <p class="text-h5 mt-16">
            ¿Necesitas nuestro logo o algunas fotos? Aquí puedes descargar el kit completo de prensa de Vamos.
          </p>
          <p class="text-h5 mt-6">
            Recuerda, haz un uso responsable de los recursos que ponemos a tu disposición
          </p>
          <v-btn
            href="https://drive.google.com/drive/folders/1iIXgLmA-d0kFSdfJmO_ZR0XyR8NcpU2W?usp=sharing"
            target="_blank"
            class="text-none py-8 mt-10"
            color="primary"
            block
            outlined
            x-large
            depressed
            tile
          >
            Kit de prensa
          </v-btn>
        </v-col>
        <v-col cols="12" md="7" offset-md="1">
          <v-img :src="require('~/assets/images/press/kit/image.png')" width="100%" class="mr-12" contain />
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
