<template>
  <section class="wrapper mt-16 pt-4">
    <v-container>
      <v-row class="text-center">
        <v-col cols="12">
          <h2 class="text-h3 font-weight-bold">
            ¿Qué decimos?
          </h2>
          <p class="mt-10 text-h6">
            Descubre qué es lo último en Vamos. En el siguiente enlace podrás acceder a nuestras notas de prensa.
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="8" offset="2" md="4" offset-md="4" align="center">
          <v-btn
            href="https://drive.google.com/drive/folders/11Qxwj-d_m_YHBt4PJz5kQLEezKvU8kxc?usp=sharing"
            target="_blank"
            class="text-none py-8"
            color="primary"
            block
            outlined
            x-large
            depressed
            tile
          >
            Notas de prensa
          </v-btn>
        </v-col>
      </v-row>
      <v-row class="mt-10 mb-n6">
        <v-col cols="12" md="10" offset-md="1">
          <v-img :src="require('~/assets/images/press/note/image.png')" height="400" contain />
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<style scoped>
.wrapper {
  background-color: #F6F6F6;
}
</style>
