<template>
  <section class="wrapper mt-16 pt-4 pb-16">
    <v-container>
      <v-row class="mb-6">
        <v-col cols="12" align="center">
          <h2 class="text-h3 font-weight-bold">
            ¿Qué dicen de nosotros?
          </h2>
        </v-col>
      </v-row>
      <v-row class="mb-16 px-md-16">
        <v-col v-for="(item, i) in items" :key="i" cols="12" md="4" align="center">
          <v-hover v-slot="{ hover }" >
            <v-card
              :elevation="hover ? 4 : 2"
              :class="{ 'py-3 on-hover': hover }"
              height="250"
              :href="item.link"
              tile>
              <v-card-text>
                <v-img class="mt-4" :src="require(`~/assets/images/press/reference/${item.image}`)" width="100%" height="auto"/>
                <p class="text--disabled text-caption mt-5">
                  <v-icon color="grey" small left>
                    mdi-clock-time-five-outline
                  </v-icon>
                  {{ item.date }}
                </p>
                <p class="text-body-1 mt-6">
                  {{ item.text }}
                </p>
              </v-card-text>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        name: 'El Confidencial',
        date: '6 de Noviembre 2019',
        text: 'Vamos, el \'renting\' español 100% online que arranca en 200 euros al mes.',
        link: 'https://www.elconfidencial.com/ultima-hora-en-vivo/2019-11-06/el-renting-o-alquiler-de-coches-a-largo-plazo-online-irrumpe-en-espana_2701975/',
        image: 'image1.png'
      }, {
        name: 'El Mundo',
        date: '7 de Noviembre 2019',
        text: 'Vamos, una \'start up\' española de renting que promete un proceso de contratación 100% digital.',
        link: 'https://www.elmundo.es/motor/2019/11/06/5dc2fcdefdddffcda18b462a.html',
        image: 'image2.png'
      }, {
        name: 'Expansión',
        date: '7 de Noviembre 2019',
        text: 'El renting o alquiler de coches a largo plazo online irrumpe en España gracias a la plataforma Vamos',
        link: 'https://www.expansion.com/empresas/motor/2019/11/06/5dc2ff01468aeb2e588b45a2.html',
        image: 'image3.png'
      }
    ]
  })
}
</script>
