<template>
  <div>
    <v-container>
      <v-breadcrumbs :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" />
    </v-container>
    <service-new-section />
    <service-vehicle-section />
    <service-online-section />
    <service-pickup-section />
    <service-trustpilot-section />
  </div>
</template>

<script>
export default {
  head () {
    return {
      title: '¿Cómo funciona Vamos? El renting online más fácil',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Te explicamos cómo funciona el renting de Vamos ✅ | La contratación de renting más fácil y de manera online. Elige tu coche en pocos clicks hoy mismo.'
        }
      ]
    }
  },
  computed: {
    breadcrumbsItems () {
      return [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: 'Como funciona Vamos',
          disabled: true,
          href: '/como-funciona-vamos'
        }
      ]
    }
  }
}
</script>
