<template>
  <div>
    <home-cover-section />
    <home-vehicle-section />
    <home-help-section />
    <home-feature-section />
    <home-trustpilot-section />
    <home-insurance-section />
    <home-environmental-section />
    <home-blog-section />
    <home-press-section />
    <home-brand-section />
  </div>
</template>
