<template>
  <div>
    <v-container>
      <v-breadcrumbs :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" />
    </v-container>
    <environmental-cover-section />
    <environmental-description-section />
    <environmental-fundation-section />
  </div>
</template>

<script>
export default {
  head () {
    return {
      title: 'Apoyamos Proyectos Medioambientales',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Vamos se compromete con el cuidado del medio ambiente, y el crecimiento sostenible. Conoce nuestro programa #UnCocheUnArbol y ayúdanos a difundirlo.'
        }
      ]
    }
  },
  computed: {
    breadcrumbsItems () {
      return [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: 'Medio ambiente',
          disabled: true,
          href: '/medio-ambiente'
        }
      ]
    }
  }
}
</script>
