<template>
  <section class="wrapper mt-8 pb-8">
    <v-container>
      <h2 class="text-h2 font-weight-bold mb-10" align="center">
        Política de privacidad
      </h2>
      <p class="mb-3">
        1.
        <span class="font-weight-bold">
          Quién es el responsable del tratamiento de sus datos personales?
        </span>
      </p>
      <p>
        El responsable del tratamiento de sus datos de carácter personal es Vamos Motor Company, S.L. (en adelante, “VAMOS”) con NIF número B-88396122 y con domicilio en Calle Villalar número 7, Bajo Izquierda 28001 Madrid e inscrita en el Registro Mercantil de Madrid, en el tomo 39327, folio 24, hoja M698420, inscripción 1.
      </p>
      <p>
        Puede ponerse en contacto con nosotros a través del correo electrónico <a href="mailto:hola@vamos.es">hola@vamos.es</a> o dirigiéndose a la siguiente dirección postal: Calle Villalar número 7, Bajo Izquierda 28001 Madrid.
      </p>
      <ul class="mb-3 font-weight-bold">
        <li>
          ¿Con qué finalidades utilizamos sus datos personales?
        </li>
      </ul>
      <p>
        Desde VAMOS tratamos sus datos personales con distintas finalidades dependiendo de cómo interactúe con nosotros:
      </p>
      <ol class="mb-3">
        <li>
          Contactarle con el objetivo de proporcionarle más información en relación con los productos y/o servicios de nuestros colaboradores externos proveedores de vehículos en régimen de alquiler temporal sin conductor o de servicios de renting (“<strong>Colaboradores</strong>”) en relación con los que, previamente, usted haya mostrado interés.
        </li>
        <li>
          En su caso, gestionar el contrato que usted desee formalizar con el Colaborador que usted haya seleccionado a la hora de, por ejemplo, acceder al renting de uno de sus vehículos.
        </li>
        <li>
          Formalizar su registro como usuario dentro de la pestaña de “Regístrate” en nuestra página web.
        </li>
        <li>
          En caso de que haya enviado su solicitud para formar parte de nuestro equipo, para la gestión de su candidatura.
        </li>
        <li>
          En el supuesto de que solicite información para hacerse socio o colaborador de VAMOS, para la resolución de sus dudas y enviarle la información requerida.
        </li>
        <li>
          Llevar a cabo acciones comerciales personalizadas –mediante la elaboración de un perfil comercial con base en la información facilitada- relativas a nuevas funcionalidades o servicios de VAMOS o a ofertas comerciales, promociones, productos o servicios de cualquiera de nuestros Colaboradores.
        </li>
      </ol>
      <p>
        Le informamos que los campos señalados con un asterisco en los distintos formularios de recogida de datos son obligatorios. En el caso de que no facilite los datos solicitados a través de dichos campos, VAMOS podrá, a su sola discreción, no tramitar su solicitud.
      </p>
      <ul class="mb-3">
        <li>
          <p class="font-weight-bold">
            ¿Cuál es la legitimación para el tratamiento de sus datos personales?
          </p>
          <p>
            1. El tratamiento de sus datos con el objetivo de contactarle para ofrecerle más información respecto de productos y/o servicios de nuestros Colaboradores radica en su consentimiento otorgado mediante la remisión del formulario.
          </p>
        </li>
        <li>
          Para el tratamiento de sus datos personales necesarios para formalizar la prestación del servicio por parte del Colaborador seleccionado, la base legal será la ejecución de la relación contractual entre VAMOS y usted por la que le prestamos los servicios de intermediación con nuestro Colaborador.
        </li>
        <li>
          Para su registro como usuario en la página web, la legitimación se encontraría en el mantenimiento, cumplimiento, desarrollo y ejecución de la relación contractual establecida entre usted y VAMOS.
        </li>
        <li>
          En caso de que nos envíe su solicitud para formar parte de nuestro equipo, el tratamiento de sus datos personales se encontrará legitimado en su propio consentimiento al enviar dicha solicitud.
        </li>
        <li>
          En caso de que nos proporcione sus datos personales con el objetivo de hacerse socio o colaborador de VAMOS, el tratamiento de sus datos personales se encontrará legitimado en su propio consentimiento al enviar dicha solicitud de información.
        </li>
        <li>
          Finalmente, la legitimación para el envío de comunicaciones comerciales así como para la ejecución de acciones comerciales personalizadas será [*].
        </li>
      </ul>
      <p>
        Tiene derecho a revocar su consentimiento para el tratamiento de sus datos personales en cualquier momento, sin que en ningún caso su revocación afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada.
      </p>
      <ul class="mb-3 font-weight-bold">
        <li>
          ¿A quién comunicamos sus datos personales?
        </li>
      </ul>
      <p>
        Para que VAMOS pueda realizar sus labores de intermediación de conformidad con lo indicado en los Términos y Condiciones, será necesario la comunicación de sus datos personales al Colaborador concreto con el que desee formalizar el acuerdo. En este sentido, debe tener en cuenta que esta comunicación de datos personales es necesaria para la gestión de su contrato con la entidad Colaboradora seleccionada y que, en caso de negarse a dicha comunicación, no podremos prestarle los servicios solicitados por su parte.
      </p>
      <p>
        Sin perjuicio de las comunicaciones necesarias indicadas en el párrafo anterior, no revelaremos a terceros sus datos personales sin su consentimiento, salvo en aquellos casos en los que lo permita la normativa que resulte de aplicación.
      </p>
      <p>
        Por último, le informamos que VAMOS no realizará transferencias internacionales de sus datos personales.
      </p>
      <ul class="mb-3 font-weight-bold">
        <li>
          ¿Durante cuánto tiempo conservamos sus datos personales?
        </li>
      </ul>
      <p>
        Solo conservamos sus datos personales durante el tiempo que los necesitemos para la finalidad para la que son tratados, es decir, para satisfacer sus solicitudes de información, para la ejecución de la relación contractual establecida entre usted y VAMOS cuando se registra como usuario, para la gestión e intermediación de la contratación entre usted y nuestros Colaboradores o para cumplir con nuestras obligaciones legales.
      </p>
      <p>
        En caso de que nos haya remitido su candidatura a ocupar un puesto en nuestro equipo, VAMOS conservará sus datos personales para gestionar su candidatura a la oferta de trabajo a la que se ha inscrito y para tenerle en cuenta en futuros procesos de selección que puedan iniciarse en el plazo de un año.
      </p>
      <p>
        En caso de haber aceptado el envío de información comercial, VAMOS conservará sus datos personales mientras que usted no revoque el consentimiento otorgado.
      </p>
      <p>
        Una vez finalizada su relación con VAMOS, conservaremos debidamente bloqueados sus datos personales mientras sean necesarios para cumplir con las obligaciones legales o reglamentarias a las que VAMOS pueda estar sujeta, así como para atender eventuales responsabilidades nacidas de su tratamiento.
      </p>
      <ul class="mb-3 font-weight-bold">
        <li>
          ¿Cuáles son sus derechos en relación con sus datos personales?
        </li>
      </ul>
      <p>
        Puede ejercitar sus derechos de acceso, rectificación, supresión, oposición, limitación del tratamiento y portabilidad de los datos mediante escrito dirigido a VAMOS en la dirección postal Calle Villalar número 7, Bajo Izquierda 28001 Madrid, o enviando un correo electrónico <a href="mailto:hola@vamos.es">hola@vamos.es</a>, indicando su nombre y apellidos y adjuntando copia de su DNI, pasaporte u otro documento identificativo equivalente.
      </p>
      <p>
        Tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos a través de su página web <a href="https://www.aepd.es" target="_blank">www.aepd.es</a>.
      </p>
    </v-container>
  </section>
</template>

<script>
export default {
  head () {
    return {
      title: 'Política de privacidad',
      meta: [
        {
          hid: 'robots',
          name: 'robots',
          content: 'noindex, follow'
        }
      ]
    }
  }
}
</script>

<style scoped>
a {
  color: var(--v-secondary-base);
}
</style>
