<template>
  <section class="wrapper mt-8 pb-16">
    <v-container>
      <v-breadcrumbs :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" />
      <v-row>
        <v-col cols="12">
          <h2 class="text-h2 font-weight-bold" align="center">
            Preguntas frecuentes
          </h2>
        </v-col>
      </v-row>
      <v-row class="mt-16">
        <v-col cols="12">
          <v-expansion-panels>
            <v-expansion-panel v-for="(item, i) in items" :key="i">
              <v-expansion-panel-header class="text-h6 font-weight-bold" v-html="item.question" />
              <v-expansion-panel-content>
                <div v-for="(faq, j) in item.faqs" :key="j">
                  <h3 class="text-body-1 font-weight-bold my-5" v-html="faq.title" />
                  <p v-html="faq.answer" />
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    items: [],
    loading: false
  }),

  head () {
    return {
      title: '▷ Preguntas frecuentes',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: '¿Tienes dudas sobre qué incluye el renting de Vamos? Con total transparencia resolvemos las dudas relativas al impuesto de matriculación, neumáticos, mantenimiento, averías y kilometraje.'
        }
      ]
    }
  },

  computed: {
    breadcrumbsItems () {
      return [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: 'Preguntas frecuentes',
          disabled: true,
          href: '/preguntas-frecuentes'
        }
      ]
    }
  },

  mounted () {
    this.load()
  },

  methods: {
    async load () {
      this.loading = true
      try {
        const response = await this.$axios.get('faq-groups')
        this.items = response.data['hydra:member']
      } catch (e) {
        this.$toast.error(e.response.data['hydra:description'])
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>
ul {
  margin-left: 20px;
}
</style>
