<template>
  <div>
    <v-container>
      <v-breadcrumbs :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" />
    </v-container>
    <press-kit-section />
    <press-note-section />
    <press-reference-section />
    <press-contact-section />
  </div>
</template>

<script>
export default {
  head () {
    return {
      title: 'Prensa',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Accede a nuestra sala de prensa para estar al tanto de todas las noticias de Vamos.'
        }
      ]
    }
  },
  computed: {
    breadcrumbsItems () {
      return [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: 'Prensa',
          disabled: true,
          href: '/prensa'
        }
      ]
    }
  }
}
</script>
