<template>
  <div>
    <v-container>
      <v-breadcrumbs :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" />
    </v-container>
    <aboutus-mission-section />
    <aboutus-value-section />
    <aboutus-team-section />
    <aboutus-hire-section />
  </div>
</template>

<script>
export default {
  head () {
    return {
      title: '¿Quiénes somos? El mejor equipo humano ♥️',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce al equipo humano que se encuentra al otro lado de la línea. Atención personalizada para ayudarte a conseguir el mejor renting para ti ¿Vamos?'
        }
      ]
    }
  },
  computed: {
    breadcrumbsItems () {
      return [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: 'Quiénes somos',
          disabled: true,
          href: '/quienes-somos'
        }
      ]
    }
  }
}
</script>
