<template>
  <section class="wrapper mt-8 pb-8">
    <v-container>
      <h2 class="text-h2 font-weight-bold mb-10" align="center">
        Términos y condiciones
      </h2>
      <p class="text-h6 font-weight-bold mb-10">
        CONDICIONES GENERALES DE CONTRATACIÓN Y DE USO DE LA PLATAFORMA VAMOS MOTOR COMPANY, S.L.
      </p>
      <p>
        Las presentes Condiciones Generales de Contratación de la plataforma Vamos (en adelante, » <strong>Vamos</strong>» o la »
        <strong>Plataforma</strong>«), son aplicables al uso de la Plataforma por parte de los usuarios de la misma (en adelante los »
        <strong>Usuarios</strong>«) y en relación al proceso de contratación de los servicios de renting de vehículos ofrecidos por las
        entidades financieras adscritas a la misma para la utilización de sus servicios (en adelante, » <strong>Entidades</strong>
        Financieras**»). La Plataforma permite a los Usuarios registrados contratar los servicios ofrecidos por las
        Entidades Financieras de manera ágil, sencilla y segura.
      </p>
      <h3 class="text-body-2 font-weight-bold my-6">
        1. ÁMBITO DE APLICACIÓN.
      </h3>
      <p>
        Las presentes Condiciones Generales de Contratación (en adelante, » <strong>CGC</strong>«), por tanto, son de aplicación exclusiva
        a los Usuarios que usen la Plataforma y/o contraten servicios ofertados por las Entidades Financieras a través de
        esta. Los servicios ofertados y sus diferentes modalidades de contratación se encuentran especificados en la
        página web de Vamos, ubicada en el siguiente en www.vamos.es  y, actualmente, consiste en el alquiler de
        vehículos en régimen de renting con la correspondiente Entidad Financiera (en adelante, » <strong>Renting</strong>«).
      </p>
      <p>
        Todos los vehículos publicitados en la Plataforma son propiedad de la correspondiente Entidad Financiera que los
        publicita, la cual oferta sus vehículos en régimen de renting a través de la Plataforma. Todas las propuestas de
        Renting de vehículos publicadas y ofertadas a través de la Plataforma son propias y exclusivas de las
        correspondientes Entidades Financieras adscritas a la Plataforma.
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        2. DATOS GENERALES.
      </h3>
      <p>
        El nombre comercial «Vamos», la web www.vamos.es y la Plataforma son titularidad de Vamos Motor Company, S.L., sociedad de nacionalidad española, con NIF número B-88396122 y con domicilio en Calle Villalar número 7, Local B 28001 Madrid e inscrita en el Registro Mercantil de Madrid, en el tomo 39327, folio 24, hoja M698420, inscripción 1.
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        3. REGULACIÓN JURÍDICA APLICABLE A LA PLATAFORMA VAMOS.h
      </h3>
      <p>
        Las presentes CGC han sido redactadas de conformidad a:
      </p>
      <ul class="mb-3">
        <li>
          El Real Decreto Legislativo 1/2007, de 16 de noviembre, por el que se aprueba el Texto Refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes complementarias.
        </li>
        <li>
          La Ley 7/1998, de 13 de abril, sobre las Condiciones Generales de la Contratación.
        </li>
        <li>
          Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico.
        </li>
        <li>
          Reglamento Europeo 2016/679, de 27 de abril de 2016, de Protección de Datos (GDPR) y la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales.
        </li>
        <li>
          El Código Civil.
        </li>
      </ul>

      <h3 class="text-body-2 font-weight-bold my-6">
        4. INDEPENDENCIA PROFESIONAL.
      </h3>
      <p>
        Vamos es una entidad independiente de los Usuarios y de las Entidades Financieras, que permite a través del uso de la Plataforma que los Usuarios interesados en la contratación de un vehículo ofertado en régimen de Renting por las correspondientes Entidades Financieras gestionen y compartan la información y documentación con las Entidades Financieras de tal modo que permita al Usuario valorar la oferta de la contratación de vehículos titularidad de las Entidades Financieras publicitados en la Plataforma y a las Entidades Financieras poder realizar el correspondiente análisis de riego y solvencia, que permita la contratación entre ambos, Usuario y Entidad Financiera del vehículo en régimen de Renting.
      </p>
      <p>
        La contratación del servicio de Renting se realiza entre el Usuario y la Entidad Financiera de conformidad con los términos y condiciones contractuales determinados e informados por la Entidad Financiera.
      </p>
      <p>
        Vamos no garantiza ni es responsable en ningún caso del contenido, exactitud o disponibilidad de los servicios o productos ofertados por las Entidades Financieras en la Plataforma ni de las condiciones generales de contratación de las mismas.
      </p>
      <p>
        La Plataforma de Vamos contiene enlaces a los sitios web de las Entidades Financieras así como recursos de terceros, los cuales están sujetos a prácticas de privacidad y términos y condiciones distintos de las presentes CGC, que en cada caso, deberán ser aceptados expresamente por los Usuarios.
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        5. CONDICIONES Y PROCESO DE REGISTRO COMO USUARIO REGISTRADO
      </h3>
      <p>
        Solo podrán ser Usuarios las personas físicas o jurídicas interesadas en contratar los servicios de
        Renting de vehículos de las Entidades Financieras ofertantes en la Plataforma. En cualquier caso, la
        contratación de servicios de Renting de vehículos solo será procesada y, en su caso, admitida para
        aquellos Usuarios que figuren como conductor principal o persona autorizada en el contrato de Renting de
        vehículo con la Entidad Financiera (en adelante, el » <strong>Contrato</strong> de <strong>Renting</strong>«).
      </p>
      <p>
        El uso de la Plataforma Vamos es gratuita para los Usuarios.
      </p>
      <p>
        Para registrarse en la Plataforma de Vamos (en adelante, el » <strong>Registro</strong>«), el Usuario deberá reunir los
        siguientes requisitos:
      </p>
      <p>
        a) Para personas físicas:
      </p>
      <ul class="mb-3">
        <li>
          Ser mayor de 18 años de edad.
        </li>
        <li>
          Estar en disposición de un documento nacional de identidad (DNI) o número de identificación de extranjeros (NIE) vigente y válido conforme a la legislación española o expedido por estados miembros de la Unión Europea
        </li>
        <li>
          Estar en disposición de un carnet de conducir vigente con una antigüedad mínima de 3 años, válido en España de conformidad con la legislación española en vigor o los expedidos por los estados miembros de la Unión Europea con arreglo a la normativa comunitaria o, en su defecto, permiso internacional válido que deberá ser presentado junto con el carnet de conducir del país de origen.
        </li>
        <li>
          Ser titular de una cuenta bancaria autorizada para cargar los recibos derivados del Contrato de Renting.
        </li>
      </ul>
      <p>
        b) Para personas jurídicas:
      </p>
      <ul class="mb-3">
        <li>
          Ser una sociedad debidamente inscrita en el correspondiente Registro Mercantil en España.
        </li>
        <li>
          No estar incursa en causa de disolución ni liquidación, ni haber solicitado el preconcurso ni el concurso de acreedores.
        </li>
        <li>
          Estar al corriente de pago en el cumplimiento de sus obligaciones fiscales.
        </li>
        <li>
          Estar en disposición respecto del conductor autorizado por la sociedad, copia del DNI / NIE y del carnet de conducir vigente con una antigüedad mínima de 3 años, válido en España de conformidad con la legislación española en vigor o los expedidos por los estados miembros de la Unión Europea con arreglo a la normativa comunitaria o, en su defecto, permiso internacional válido que deberá ser presentado junto con el carnet de conducir del país de origen.
        </li>
        <li>
          Ser titular de una cuenta bancaria de la sociedad autorizada para cargar los recibos derivados del Contrato de Renting.
        </li>
      </ul>

      <h3 class="text-body-2 font-weight-bold my-6">
        6. CONTRATACIÓN DE RENTING FINANCIERO A TRAVÉS DE LA PLATAFORMA VAMOS.
      </h3>
      <p>
        El Usuario, a través de la Plataforma, podrá acceder a la oferta de vehículos en régimen de Renting ofrecido por Entidades Financieras y, previo el correspondiente estudio de la operación y análisis de riesgo y solvencia por parte de la Entidad Financiera, contratar directamente con la misma el Renting del vehículo escogido
      </p>
      <p>
        El Usuario seleccionará dentro de la oferta disponible el vehículo de su preferencia, y procederá a la
        solicitud a través de la Plataforma (en adelante, » <strong>Solicitud</strong>«). A continuación, Vamos contactará al
        Usuario a su discreción por vía telefónica, email o en el apartado correspondiente de la intranet de la
        Plataforma, con el fin de solicitar al Usuario la documentación o información requerida por parte de la
        Entidad Financiera para la realización del estudio de la operación y análisis de riesgo y solvencia online
        del perfil del Usuario.
      </p>
      <p>
        La Entidad Financiera realizará un estudio financiero sobre el perfil del Usuario y, en su caso, aprobará o denegará la contratación. El análisis de riesgo por la Entidad Financiera puede realizarse a través de enlace web directo con la Entidad Financiera, o bien mediante estudio offline de la documentación requerida al efecto por cada Entidad Financiera. La metodología de análisis de riesgo, así como la aprobación o no del perfil financiero del Usuario queda a expresa discrecionalidad de la Entidad Financiera.
      </p>
      <p class="font-weight-bold">
        Se advierte expresamente de que:
      </p>
      <p class="ml-10">
        2.a
        <span class="font-weight-bold">
          Los vehículos publicitados estarán sujetos a la disponibilidad de vehículos, ofertas y condiciones específicas que resulten de aplicación a criterio y discrecionalidad de la Entidad Financiera. Vamos no garantiza que el vehículo de la Solicitud sea el finalmente contratado en régimen de Renting entre el Usuario y la Entidad Financiera. b) La suscripción del Contrato de Renting requerirá de la aceptación previa por parte de la correspondiente Entidad Financiera del estudio de la operación y análisis de riesgo y solvencia.Vamos no realiza ningún estudio de la operación ni análisis de riesgo y solvencia del Usuario, siendo responsabilidad de todo ello de la correspondiente Entidad Financiera.
        </span>
      </p>
      <p>
        En cualquier supuesto, para el análisis de riesgo y solvencia, así como del perfil financiero del Usuario y adecuación de la operación, Vamos solicitará por cuenta y para la correspondiente Entidad Financiera la siguiente documentación:
      </p>
      <ul class="mb-3">
        <li>
          Personas jurídicas
          <ul class="mb-3">
            <li>
              Tarjeta de identificación fiscal.
            </li>
            <li>
              Escrituras públicas otorgadas por la sociedad (constitución, modificaciones de estatutos, acta de titularidad real, nombramiento de administradores y otros acuerdos relevantes).
            </li>
            <li>
              Copia del Documento Nacional de Identidad (DNI) del representante legal.
            </li>
            <li>
              Certificado de titularidad de cuenta corriente bancaria.
            </li>
            <li>
              Justificante de pago del último recibo correspondiente a cuotas de la Seguridad Social.
            </li>
            <li>
              Modelo de Impuesto de Sociedades presentado en los últimos dos (2) ejercicios fiscales.
            </li>
            <li>
              Modelo del Impuesto de Valor Añadido, tanto trimestrales como el resumen anual, presentados en el último ejercicio fiscal.
            </li>
            <li>
              Estados financieros intermedios correspondientes al ejercicio en curso, cerrados a fecha de la solicitud (balance y cuenta de pérdidas y ganancias provisionales).
            </li>
            <li>
              Certificado de estar al corriente de pago de sus obligaciones fiscales.
            </li>
          </ul>
        </li>
        <li>
          Autónomos
          <ul class="mb-3">
            <li>
              Copia del DNI.
            </li>
            <li>
              Certificado de titularidad de cuenta corriente bancaria.
            </li>
            <li>
              Declaración de la Renta presentada correspondiente al último ejercicio fiscal, así como los cuatro (4) últimos modelos de retenciones presentados.
            </li>
            <li>
              Modelo del Impuesto de Valor Añadido, tanto trimestrales como el resumen anual, presentados en el último ejercicio fiscal.
            </li>
            <li>
              Justificante de pago del último recibo correspondiente a cuotas de autónomos del Régimen de Autónomos de la Seguridad Social.
            </li>
            <li>
              Certificado de estar al corriente de pago de sus obligaciones fiscales.
            </li>
          </ul>
        </li>
        <li>
          Particulares
          <ul class="mb-3">
            <li>
              Copia del DNI.
            </li>
            <li>
              Certificado de titularidad de cuenta corriente bancaria.
            </li>
            <li>
              Declaración de la Renta presentada correspondiente al último ejercicio fiscal.
            </li>
            <li>
              Dos (2) últimas nóminas.
            </li>
          </ul>
        </li>
      </ul>
      <p>
        Aportada la documentación, Vamos la remitirá a la Entidad Financiera para el estudio de análisis de riesgo a ejecutar por la Entidad Financiera o sus entidades colaboradoras de conformidad con sus términos y condiciones generales de contratación contemplado en la web de aquella. Es la propia Entidad Financiera ofertante de cada vehículo, la que, en cada caso, aprueba el perfil de riesgo y solvencia del Usuario y la contratación del servicio de Renting con el mismo. En caso de aprobación del perfil del Usuario, Vamos lo comunicará directamente al mismo, así como las instrucciones para proceder a formalizar la contratación entre el Usuario y la Entidad Financiera.
      </p>
      <p>
        El método de pago, precio, descripción del vehículo, equipamiento y accesorios opcionales, condiciones especiales y otras, serán comunicadas por cada Entidad Financiera a través de la Plataforma al Usuario, y recogidas en el correspondiente Contrato de Renting que deberá ser firmado entre las partes.
      </p>
      <p class="font-weight-bold">
        Vamos no garantiza ni se hace responsable de los cambios en los términos y condiciones de contratación de las Entidades Financieras, formalización de la contratación, incidencias ocasionadas y otras disputas que puedan surgir entre en Usuario y la Entidad Financiera.
      </p>
      <p>
        Cualquier Usuario que lo solicite a Vamos podrá obtener una copia de la política de protección de datos de la Entidad Financiera, a través de correo electrónico o bien mediante enlace web, para su aceptación y remisión firmada por el Usuario junto al resto de documentación requerida por la Entidad Financiera.
      </p>
      <p>
        En cualquier caso, el Usuario deberá comunicar a Vamos el inicio de la contratación y condiciones finales de la misma a través de una encuesta de satisfacción.
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        7. EXENCIÓN DE RESPONSABILIDAD.
      </h3>
      <p>
        Vamos no es una Entidad Financiera ni entidad intermediaria financiera, no dispone de vehículos propios, ni presta servicios directos o indirectos de Renting.
      </p>
      <p>
        Vamos no es ni actuara como entidad de análisis de riesgo y solvencia («scoring»), ni realiza directa o indirectamente estudios de riesgo o análisis financieros de perfil de Usuario.
      </p>
      <p>
        El riesgo de contratación es asumido íntegramente por el Usuario y la Entidad financiera contratante. La relación entre Vamos y sus Usuarios se configura como una obligación de medios por arrendamiento de servicios, según interpretación doctrinal del 1.544 artículo del Código Civil.
      </p>
      <p>
        Vamos no se hace responsable por la concordancia entre los vehículos ofertados por las Entidades Financieras en la Plataforma y el vehículo entregado por la Entidad Financiera de acuerdo con el Contrato de Renting suscrito entre el Usuario y la Entidad Financiera, el estado del vehículo, plazo y condiciones de entrega, o cumplimiento de las obligaciones dimanantes del Contrato de Renting que corresponde únicamente a las Entidades Financieras.
      </p>
      <p>
        El Usuario exime de toda responsabilidad y mantendrá indemne a Vamos de todo tipo de responsabilidad asociada al Contrato de Renting de vehículos, a los propios vehículos y servicios asociados, y por cualquier daño, pérdida, reclamos, demandas, acciones, lesiones personales o corporales incluida la muerte, daños a la propiedad de cualquier tipo o naturaleza, sean previsibles o imprevisibles, y que surjan directa o indirectamente en relación con el Contrato de Renting, el vehículo contratado, el uso y conducción del vehículo, o resultado de la actividad de la Entidad Financiera o compañías aseguradoras.
      </p>
      <p class="font-weight-bold">
        MANIFESTACIONES Y GARANTÍAS DEL USUARIO.
      </p>
      <p>
        El Usuario se obliga y garantiza a Vamos y a las Entidades Financieras titulares y proveedores de los vehículos, que:
      </p>
      <ul class="mb-3">
        <li>
          Los datos proporcionados y documentación para la contratación del Renting es completa, veraz, actual y fiel a su contenido original.
        </li>
        <li>
          Dará al vehículo el uso convenido según el Contrato de Renting y conforme a las normas del Código de Circulación vigente en cada momento y conforme a las especificaciones de uso del tipo de vehículo, y cumplirá con todas las obligaciones dimanantes del Contrato de Renting en cuanto al uso de los vehículos y procedimientos en caso de siniestros o avería del vehículo.
        </li>
        <li>
          No utilizará el vehículo para desplazamiento o circulación fuera de la Península Ibérica, Islas Baleares o Andorra. Cualquier circulación fuera del Territorio siempre que sea dentro de países miembros de la Unión Europea (excluidos Grecia, Bulgaria, Hungría, Rumanía) requerirá la autorización previa y por escrito de Vamos. Queda excluida y prohibida la circulación en las Ciudades Autónomas de Ceuta y Melilla así como en territorio Gibraltar.
        </li>
        <li>
          Conoce y consiente que el vehículo objeto de Contrato de Renting pudiera contar con sistema de geolocalización satelital lo que permite conocer la ubicación del vehículo en todo momento.
        </li>
        <li>
          Devolverá el vehículo en el lugar, día y horario indicado en las oficinas de la Entidad Financiera, en perfecto estado de funcionamiento y en las condiciones derivadas de su uso normal, con todos los accesorios, equipos, repuestos, herramientas, extras, accesorios y documentación con la que fueron entregados por la Entidad Financiera.
        </li>
        <li>
          Cumplirá con todas y cualesquiera de las leyes, normas, reglamentos y obligaciones derivadas del Código de Circulación y demás normativa de circulación que puedan ser de aplicación, quedando a su entera responsabilidad cualquier infracción cometida de la normativa debiendo asumir el pago de cuantas multas y sanciones le impongan la Dirección General de Tráfico y demás organismos públicos con responsabilidad en la gestión del cumplimiento de las normas de tráfico.
        </li>
        <li>
          Se compromete a no utilizar los vehículos objeto de alquiler para ninguna de las siguientes actividades:
        </li>
        <li>
          <ul class="mb-3">
            <li>
              — Utilizar el vehículo por lugares no autorizados expresamente para el tráfico, zonas portuarias y aeroportuarias, salvo autorización expresa de la Entidad Financiera, o por vías que no reúnan las condiciones normales para la circulación de automóviles o por aquellas que no sean las establecidas en la póliza de seguro.
            </li>
            <li>
              — La utilización del vehículo para transporte por cuenta ajena de personas, mercancías, autoescuelas, u otro tipo de transporte que requiera autorización administrativa conforme a la Ley Orgánica de Transporte Terrestre y normativa especial aplicable, así como enganchar el vehículo a remolques o efectuar en él o en cualesquiera de sus piezas o accesorios modificaciones sin la autorización de la Entidad Financiera.
            </li>
            <li>
              — La utilización del vehículo en carreras, concursos o desafíos de cualquier naturaleza.
            </li>
            <li>
              — Cometer actos delictivos con el vehículo, o conducir en bajo los efectos del alcohol, drogas, fatiga o enfermedad.
            </li>
            <li>
              — Transportar sustancias tóxicas, inflamables y en general peligrosas y/o que infrinjan las disposiciones legales vigentes.
            </li>
            <li>
              — Transportar el vehículo a bordo de cualquier tipo de barco, tren, camión o avión, salvo autorización expresa por escrito del Proveedor de Vehículos.
            </li>
            <li>
              — Ceder, subarrendar, alquilar, hipotecar, pignorar, vender o de cualquier manera dar en garantía tanto el vehículo como el Contrato de Renting, las llaves del mismo, la documentación, el equipamiento, las herramientas o accesorios del mismo y/o cualquier otra parte o pieza del mismo.
            </li>
          </ul>
        </li>
      </ul>

      <h3 class="text-body-2 font-weight-bold my-6">
        8. COBERTURAS DE SEGURO.
      </h3>
      <p>
        Todos los vehículos disponen de una póliza de seguro en vigor que cubre la responsabilidad civil obligatoria exigida en cada momento por la normativa vigente que resulte de aplicación, y contará con una cobertura de accidentes personales para el conductor y acompañantes, defensa legal y reclamación de daños, de las que la correspondiente Entidad Financiera es la tomadora.
      </p>
      <p>
        Las Entidades Financieras pondrán a disposición del Usuario copia de la póliza de seguro junto a la entrega del vehículo, donde podrá consultar la información relativa a las coberturas aseguradas, franquicias, procedimiento de comunicación de siniestros y cuantías aseguradas, así como justificante del pago de la correspondiente prima.
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        9. PROCEDIMIENTO Y RESPONSABILIDAD DEL USUARIO EN CASO DE AVERÍA O DAÑO AL VEHÍCULO.
      </h3>
      <p>
        En caso de daños al vehículo, robo o siniestro, u avería o defecto que suponga disminución de la seguridad o infracción de las disposiciones legales de aplicación, el Usuario deberá comunicarlo inmediatamente y por los procedimientos previstos en el Contrato de Renting a la Entidad Financiera.
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        10. MULTAS DE TRÁFICO.
      </h3>
      <p>
        El Usuario que cometa infracciones de tráfico sancionadas con multas o sanciones conforme a la legislación vigente, deberán abonar el importe total de las mismas más la tasa de gestión de multa que imponga la Entidad Financiera con la que se ha efectuado la contratación del vehículo. En caso de multas o sanciones, la Entidad Financiera podrá comunicar a la Dirección General de Tráfico y Administraciones competentes la identidad y dirección del Usuario.
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        11. SERVICIO DE ATENCIÓN AL CLIENTE Y RESOLUCIÓN DE INCIDENCIAS.
      </h3>
      <p>
        Las incidencias, reclamaciones o quejas relativas a contrataciones con Entidades Financieras deberán ser comunicadas a las mismas por los mecanismos establecidos en el correspondiente Contrato de Renting suscrito por el Usuario.
      </p>
      <p>
        Para todos los demás supuestos, los Usuarios disponen de un servicio de atención al cliente a través del cual
        se podrá comunicarse con Vamos. Cualesquiera incidencia, reclamación, queja o comentario que desee comunicar
        deberá realizarlo a través del correo electrónico <a href="mailto:hola@vamos.es">hola@vamos.es</a> o en el
        teléfono <a href="tel:+34910383296">+34 910 383 296</a> en horario de lunes a viernes de 9 a 19 horas.
      </p>
      <p>
        VIGENCIA DE LAS CGC.
      </p>
      <p>
        Las presentes CGC estarán en vigor desde el día de su publicación y afectarán a todas las Solicitudes de vehículos y procesos de contratación de servicios de Renting que se hayan suscrito bajo las mismas.
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        12. INCUMPLIMIENTOS.
      </h3>
      <p>
        Se considerará incumplimiento por parte del Usuario, cualquiera de los siguientes:
      </p>
      <ul class="mb-3">
        <li>
          Proporcionar a Vamos o a las Entidades Financieras adscritas a la Plataforma, datos falsos, incompletos o incorrectos del Usuario.
        </li>
        <li>
          Incumplimiento de las obligaciones de pago del Precio derivado del servicio de Renting.
        </li>
        <li>
          Incumplimientos graves del Contrato de Renting.
        </li>
        <li>
          Daño, pérdida, robo o hurto del vehículo.
        </li>
        <li>
          Cualquier infracción de la normativa de circulación.
        </li>
        <li>
          Retirada del carnet de conducir del Usuario.
        </li>
      </ul>
      <p>
        El incumplimiento dará lugar, de conformidad con los términos y condiciones de contratación de las Entidades Financieras al vencimiento anticipado del Contrato de Renting y, en su caso, al derecho de cobro del precio restante del alquiler en concepto de cláusula penal. La resolución por incumplimiento no eximirá al Usuario del pago de los daños y perjuicios causados por daños materiales o personales causados a Vamos, las Entidades Financieras o terceros en cuyo caso, la responsabilidad del Usuario se extenderá hasta el importe total de los daños efectivamente causados.
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        13. PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL.
      </h3>
      <p>
        En virtud de lo establecido en el Reglamento Europeo 2016/679, de 27 de abril de 2016, de Protección de Datos (REPD), la Ley Orgánica 3/2019 de Protección de Datos Personales y garantía de los derechos digitales le informamos que su Solicitud de Renting de vehículos a través de la Plataforma comportará que sus datos formarán parte de un fichero automatizado titularidad de VAMOS MOTOR COMPANY, S.L. y serán cedido a aquellas Entidades Financieras con las que el Usuario interese la contratación del Renting de vehículos, y con el objeto de ser tratados en la medida en que fueran necesarios o convenientes para el desarrollo de la relación jurídica establecida entre las partes.
      </p>
      <p>
        Los datos personales facilitados por los Usuarios serán recogidos a través de nuestra página web y formularios de contacto, nuestro email de empresa, redes sociales y conversaciones telefónicas. La finalidad de la utilización de los datos personales del Usuario es atender las Solicitudes de servicios de Renting y contrataciones finales con Entidades Financieras, para el correspondiente análisis de perfil financiero y viabilidad de la operación de Renting solicitad por el Usuario, así como informar sobre noticias, información considerada de interés para el Usuario y fines publicitarios y/o prospección comercial de VAMOS MOTOR COMPANY, S.L..
      </p>
      <p>
        A tenor de lo establecido en el art. 28 del Reglamento Europeo General de Protección de Datos, Vamos únicamente destinará los datos personales a las Entidades Financieras ofertantes, como Responsable del Tratamiento y obligada a realizar controles financieros de aquellas personas a las que presta servicios directos y finales de Renting.
      </p>
      <p>
        El Usuario consiente de forma expresa e inequívoca la cesión de los datos de carácter personal a la Entidad Financiera con la que haya seleccionado la contratación, en la medida en que sea necesario para dar cumplimiento al objeto de la contratación de las que estas CGC son parte y a las obligaciones establecidas por la Ley o a las que hubieren sido pactadas. Una vez que los datos hayan sido cedidos a la Entidades Financieras, Vamos no será Responsable de Tratamiento de los mismos. El Usuario deberá consultar con las respectivas compañías la política de privacidad y tratamiento de sus datos personales.
      </p>
      <p>
        Solo conservamos los datos durante el tiempo necesario para los fines para los cuales fueron recopilados con tu expreso consentimiento, para satisfacer tus necesidades o para cumplir con nuestras obligaciones legales. Si ya no es necesario el uso de tus datos personales, serán eliminados de nuestro sistema y registro o anonimizados para que ya no puedas ser identificado. Nuestro compromiso es proteger los datos personales del Usuario y adoptar todas las medidas razonables para ello.
      </p>
      <p>
        El Usuario queda informado de que puede ejercer dentro de los límites legales los derechos de acceso
        rectificación, cancelación y oposición en VAMOS MOTOR COMPANY, S.L., calle  Villalar 7 Local B, 28001 Madrid,
        o el envío de un correo electrónico a la siguiente dirección <a href="mailto:hola@vamos.es">hola@vamos.es</a>
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        14. DISPOSICIONES GENERALES.
      </h3>
      <p class="font-weight-bold">
        Modificación.
      </p>
      <p>
        Las condiciones de este contrato podrán ser modificadas por parte de Vamos, notificándolo por correo electrónico al Usuario. Si no se rechaza expresamente la variación de las condiciones por la otra parte a través de burofax o correo electrónico certificado que acredite su contenido y con acuse de recibo se entenderá que aceptan las modificaciones de las condiciones del contrato.
      </p>
      <p class="font-weight-bold">
        Nulidad parcial.
      </p>
      <p>
        En caso de invalidez de alguna cláusula contenida en este Contrato o contenida en cualquiera de los documentos que componen estas CGC, las Partes acuerdan que tal invalidez no afectará a la validez de las demás disposiciones de estas CGC.
      </p>
      <p class="font-weight-bold">
        Notificaciones.
      </p>
      <p>
        Cualquier notificación y comunicación que pueda o deba ser realizada por y entre las Partes en relación con
        las presentes CGC, se hará por escrito y deberá ser remitida a las direcciones facilitadas por el Usuario
        en el formulario de Registro, y a Vamos a la dirección <a href="mailto:hola@vamos.es">hola@vamos.es</a>
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        15. JURISDICCIÓN Y LEY APLICABLE.
      </h3>
      <p>
        En lo que las estipulaciones en él contenidas no estuviere previsto, el presente contrato estará regido por las leyes vigentes españolas.
      </p>
      <p>
        Las partes, con renuncia al propio fuero que por cualquier circunstancia pudiera corresponderles, se someten de forma expresa a la Jurisdicción de los Juzgados y Tribunales de la ciudad de Madrid para el conocimiento de cualquier litigio que el cumplimiento o interpretación del presente documento pudiera dar lugar.
      </p>

      <h3 class="text-body-2 font-weight-bold my-6">
        16. FCA LEASYS
      </h3>
      <p>
        En el caso de solicitar un cochde de FCA LEASYS aplican tambien los siguientes terminos y condiciones
      </p>
      <p class="font-weight-bold">
        Información sobre el tratamiento de datos de carácter personal / Fase inicial de evaluación
      </p>
      <p>
        Los datos personales facilitados por Vd. para el estudio de la operación de arrendamiento/renting solicitada serán tratados para la evaluación del riesgo de crédito que la operación conlleva.
      </p>
      <p>
        LEASYS, SpA, Sucursal en España (en adelante, Leasys), como propietaria del vehículo y con quien, en su caso, será suscrito el contrato de arrendamiento, es la Responsable del tratamiento de sus datos. Tiene su domicilio en la Avda. de Madrid nº 15 de Alcalá de Henares, Madrid, CP. 28802.
      </p>
      <p>
        Los datos personales serán tratados con la siguiente finalidad:
      </p>
      <p class="ml-10">
        1.
        <span class="font-weight-bold">
          A) Gestión y análisis de la solicitud de arrendamiento de vehículo:
        </span>
      </p>
      <p>
        Como paso previo para el Arrendamiento del Vehículo, los datos facilitados para el estudio de la operación solicitada serán objeto de tratamiento automatizado para la evaluación de su riesgo crediticio y de solvencia patrimonial, mediante técnicas de scoring y análisis con objeto de poder decidir adecuadamente sobre la concesión de su solicitud. Adicionalmente consultaremos y trataremos información que pudiera existir sobre sus antecedentes crediticios en el fichero Asnef de solvencia patrimonial y crédito perteneciente a Equifax Ibérica, S.L., (Asnef) con domicilio en: C/ Albasanz,16, 28037 Madrid. Este fichero contiene información sobre incumplimiento de obligaciones dinerarias, facilitada por el acreedor y puede ser consultado sólo por las entidades adheridas al sistema de información crediticia. Son entidades financieras y otras empresas que ostentan créditos frente a clientes impagados susceptibles de ser aportados, como son las empresas de “renting” y otras entidades que prestan servicios de facturación periódica.
      </p>
      <p>
        El suministro de la información solicitada es necesario para el análisis de su solicitud como paso previo a la eventual celebración del contrato de arrendamiento y la negativa a proporcionar dicha información o la negativa a que se realice su tratamiento automatizado implica la imposibilidad de evaluar dicha solicitud y, por tanto, la imposibilidad de formalizar el contrato de arrendamiento.
      </p>
      <p>
        Si el resultado de la evaluación del riesgo de crédito resultara negativo, los datos recabados durante el periodo de análisis serán anonimizados dentro de los 30 días posteriores. Si la operación resultara aprobada los datos se conservarán por un periodo máximo de 10 años a partir de la fecha de celebración del contrato individual.
      </p>
      <p class="ml-10">
        1.
        <span class="font-weight-bold">
          B) Destinatarios de sus datos personales
        </span>
      </p>
      <p>
        Para la finalidad antes descrita Leasys comunicará sus datos personales, respetando los derechos y garantías previstos en la legislación vigente, a INSTANTOR AB, prestador de servicios relacionados con el análisis del riesgo crediticio y de la solvencia patrimonial con quien hemos suscrito el oportuno acuerdo de encargado de tratamiento.
      </p>
      <p class="ml-10">
        1.
        <span class="font-weight-bold">
          C) Ejercicio de derechos
        </span>
      </p>
      <p>
        En relación con el tratamiento de sus datos personales, Vd. puede solicitar:
      </p>
      <ul class="mb-3">
        <li>
          el acceso a sus datos personales, así como el origen de dichos datos, los fines y métodos de tratamiento;
        </li>
        <li>
          actualización, rectificación, cancelación o transformación en forma anónima de datos personales que le conciernen;
        </li>
        <li>
          limitar u oponerse al tratamiento de los datos personales que le conciernen, si concurre causa que lo justifique;
        </li>
        <li>
          la recepción, en un formato estructurado, de uso común y legible por dispositivo automático, de los datos personales que le conciernen o la transmisión de los mismos a otro responsable de tratamiento (derecho de portabilidad);
        </li>
      </ul>
      <p>
        Adicionalmente, una vez concluido el tratamiento automatizado de sus datos Vd. tiene derecho a solicitar la intervención humana y a expresar su punto de vista respecto a la decisión adoptada en forma automatizada.
      </p>
      <p>
        Usted tiene derecho a ejercitar sus derechos mediante escrito dirigido a LEASYS en las siguientes direcciones:
        <a href="mailto:dpo.spain@leasys.com">dpo.spain@leasys.com</a>; Leasys S.p.a. Sucursal en España, Avda. de Madrid, 15 – 28802 Alcalá de Henares
        (Madrid). Leasys dará respuesta a su solicitud dentro de los 30 (treinta) días posteriores a la recepción,
        salvo que por su complejidad y número ese plazo tenga que ampliarse en 60 (sesenta) días. Si entiende que
        sus derechos no han sido respetados o no obtiene respuesta podrá presentar una reclamación acudiendo a la
        Agencia Española de Protección de Datos. Dispone de la información necesaria en: www.agpd.es
      </p>
      <p class="ml-10">
        1.
        <span class="font-weight-bold">
          D) ¿Quién es INSTANTOR AB y cómo interviene en la evaluación y en el tratamiento de datos personales?
        </span>
      </p>
      <p>
        Para evaluar el riesgo de crédito, a continuación tendrá que seleccionar su banco e introducir sus credenciales de acceso. Durante este proceso estará autorizando a INSTANTOR AB para que acceda a sus cuentas bancarias para realizar un análisis de su solvencia patrimonial. Este análisis será remitido posteriormente a LEASYS para que pueda decidir y dar respuesta a su solicitud de arrendamiento de vehículo. INSTANTOR AB es una sociedad Sueca, que ha desarrollado un servicio para el análisis de la solvencia de consumidores a partir de la información bancaria obtenida con su consentimiento.
      </p>
      <p>
        Ni INSTANTOR AB ni LEASYS dispondrán de sus credenciales de acceso a su banco. En ningún momento del proceso tienen acceso a ellas. La obtención de la información de su cuenta se realizará de forma segura y cifrada a través de protocolos de encriptación SSL.
      </p>
      <p>
        Adicionalmente INSTANTOR AB , para completar el análisis y la evaluación del riesgo consultará información de antecedentes crediticios en ficheros de solvencia patrimonial. Concluido el análisis INSTANTOR AB no conservará información personal suya. Se limitará a conservar información anonimizada de sus cuentas que no podrá asociarse a su titular, con la única finalidad de realizar análisis estadísticos.
      </p>
      <p>
        Por tanto, si usted acepta continuar está prestando su consentimiento para que realicemos un tratamiento automatizado de sus datos.
      </p>
    </v-container>
  </section>
</template>

<script>
export default {
  head () {
    return {
      title: 'Términos y condiciones',
      meta: [
        {
          hid: 'robots',
          name: 'robots',
          content: 'noindex, follow'
        }
      ]
    }
  }
}
</script>

<style scoped>
a {
  color: var(--v-secondary-base);
}
</style>
