<template>
  <section class="wrapper mt-8 pb-8">
    <v-container>
      <h2 class="text-h2 font-weight-bold mb-10" align="center">
        Política de cookies
      </h2>
      <p>
        1. El sitio web www.vamos.es (en adelante, el <strong>“Sitio Web”</strong>) titularidad de Vamos Motor Company SL
        (en adelante, <strong>“VAMOS”</strong>), utiliza una tecnología denominada cookies. La presente política de cookies tiene por
        finalidad informarle de manera clara y precisa sobre las cookies que se utilizan en nuestro Sitio Web.
        Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies
        permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación
        de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo,
        pueden utilizarse para reconocer al usuario.
      </p>
      <p>
        Los tipos de cookies que VAMOS utiliza en su Sitio Web son las siguientes:
      </p>
      <v-simple-table class="mb-16">
        <template #default>
          <tbody>
            <tr>
              <td>
                Cookies propias
              </td>
              <td>
                Son aquellas que se recaban por el propio editor para prestar el servicio solicitado por el usuario.
              </td>
            </tr>
            <tr>
              <td>
                Cookies de tercero
              </td>
              <td>
                Son aquellas que son recabadas y gestionadas por un tercero, estas no se pueden considerar propias
              </td>
            </tr>
            <tr>
              <td>
                Cookies de sesión
              </td>
              <td>
                Recaban datos mientras el usuario navega por la red con la finalidad de prestar el servicio solicitado.
              </td>
            </tr>
            <tr>
              <td>
                Cookies persistentes
              </td>
              <td>
                Se almacenan en el terminal y la infornación obtenida, será utilizada por el responsable de la cookie con la finalidad de prestar el servicio solicitado.
              </td>
            </tr>
            <tr>
              <td>
                Cookies técnicas
              </td>
              <td>
                Son las necesarias para la correcta navegación por la web.
              </td>
            </tr>
            <tr>
              <td>
                Cookies de personalización
              </td>
              <td>
                Permiten al usuario las características (idioma) para la navegación a website.
              </td>
            </tr>
            <tr>
              <td>
                Cookies de análisis
              </td>
              <td>
                Permiten al prestador el análisis vinculado a la navegación realizada por el usuario, con la finalidad de llevar un seguimiento de uso de la página web, así como realizar estadísticas de los contenidos más visitados, número de visitantes, etc.
              </td>
            </tr>
            <tr>
              <td>
                Cookies publicitarias
              </td>
              <td>
                Permiten al editor incluir en la web, espacios publicitarios, según el contenido de la propia web.
              </td>
            </tr>
            <tr>
              <td>
                Cookies de publicidad comportamental
              </td>
              <td>
                Permiten al editor incluir en página web espacios publicitarios segúb la información obtenida a través de los hábitos de navegación del usuario.
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <p>
        En concreto, VAMOS utilizará las siguientes cookies de terceros en su Sitio Web:
      </p>
      <ul class="mb-3">
        <li>
          Google Analytics: es un servicio de análisis web prestado por Google Inc. Generando un ID de usuario, nos ayuda a medir cómo interactúan los usuarios con el contenido del Sitio Web, cómo han llegado a él, la duración de sus visitas, etc. De esta manera, permite “recordar” lo que ha hecho un usuario en páginas o interacciones con el Sitio Web anteriores.
        </li>
      </ul>
      <p>
        Puede obtener más información acerca de Google Analytics <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es" target="_blank">aquí</a>.
      </p>
      <ul class="mb-3">
        <li>
          Google Ads: es un servicio prestado igualmente por Google Inc. que permite ofrecer, en distintas páginas web, publicidad patrocinada a potenciales anunciantes, en forma de banners compuestos de imágenes, vídeos o texto.
        </li>
      </ul>
      <p>
        Puede encontrar más detalles sobre Google Ads <a href="https://ads.google.com/intl/es_es/home/" target="_blank">aquí</a>..
      </p>
      <ul class="mb-3">
        <li>
          Facebook Ads: es un servicio prestado por Facebook Inc. que permite realizar, en dicha red social y en Instagram, campañas de publicidad detalladas, segmentadas y basadas en visitas anteriores al Sitio Web, interactuar con los usuarios y medir los resultados obtenidos con el fin de optimizar las campañas.
        </li>
      </ul>
      <p>
        Si lo desea, puede acceder a más información sobre Facebook Ads <a href="https://www.facebook.com/business/ads" target="_blank">aquí</a>.
      </p>
      <p>
        Revocación y eliminación de cookies:
      </p>
      <p>
        El usuario podrá permitir, bloquear o eliminar las cookies instaladas en su equipo en cualquier momento, mediante la configuración de los parámetros de privacidad del navegador que tenga instalado en su dispositivo. Estos procedimientos están sometidos a actualización o modificación por parte de los desarrolladores de los navegadores, por lo que no podemos garantizar que se ajusten completamente a la última versión disponible en cada momento.
      </p>
      <p>
        Asimismo el usuario puede activar:
      </p>
      <ul class="mb-3">
        <li>
          La navegación privada, mediante la cual su navegador deja de guardar el historial de navegación, contraseñas de sitios web, cookies y otra información de las páginas que visita, o
        </li>
        <li>
          La función de no rastrear, por la que el navegador pide a los sitios web que visita que no rastreen sus hábitos de navegación, para por ejemplo, servirle publicidad de su interés en los sitios que visita.
        </li>
      </ul>
      <p>
        A continuación ofrecemos al usuario enlaces en los que encontrará información sobre cómo puede configurar sus preferencias de cookies en los principales navegadores:
      </p>
      <ul class="mb-3">
        <li>
          <a href="https://support.microsoft.com/es-es/windows/eliminar-y-administrar-cookies-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank">
            Internet Explorer
          </a>
        </li>
        <li>
          <a href="https://support.apple.com/es-es/HT201265" target="_blank">
            Safari
          </a>
        </li>
        <li>
          <a href="https://support.google.com/chrome/answer/95647?hl=es&hlrm=en" target="_blank">
            Chrome
          </a>
        </li>
        <li>
          <a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&redirectslug=Cookies%22%20%5Ct%20%22_blank" target="_blank">
            Firefox
          </a>
        </li>
        <li>
          <a href="https://help.opera.com/en/latest/web-preferences/" target="_blank">
            Opera
          </a>
        </li>
        <li>
          <a href="https://support.google.com/android/?hl=es#topic=7313011" target="_blank">
            Android
          </a>
        </li>
        <li>
          <a href="https://support.microsoft.com/es-es/windows/windows-phone-7-3ebc303c-59c0-d367-3995-f258b184fabb" target="_blank">
            Windows Phone
          </a>
        </li>
      </ul>
      <p>
        En caso de que el usuario decida desactivar todas las cookies, la calidad y rapidez del servicio podría
        disminuir e, incluso, podría perder  el acceso a algunos de los servicios o secciones ofrecidos en el
        Sitio Web. Puede encontrar más información sobre cookies en:
        <a href="https://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a> o <a href="https://www.youronlinechoices.eu" target="_blank">www.youronlinechoices.eu</a>.
      </p>
      <p>
        Si tiene dudas sobre esta política de cookies, puede contactar con VAMOS en <a href="mailto:hola@vamos.es">hola@vamos.es</a>
      </p>
    </v-container>
  </section>
</template>

<script>
export default {
  head () {
    return {
      title: 'Uso de Cookies',
      meta: [
        {
          hid: 'robots',
          name: 'robots',
          content: 'noindex, follow'
        }
      ]
    }
  }
}
</script>

<style scoped>
a {
  color: var(--v-secondary-base);
}
</style>
