<template>
  <section class="wrapper py-16">
    <v-container class="py-16">
      <v-row class="mb-6">
        <v-col cols="12" align="center">
          <h2 class="text-h4 text-md-h3 font-weight-black white--text">
            El impacto ambiental, en el<br />
            centro de nuestras decisiones
          </h2>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<style scoped>
.wrapper {
  background: url('~assets/images/environmental/cover/background.png?webp') no-repeat;
  background-size: cover;
}
</style>
