<template>
  <section class="wrapper py-8">
    <v-container>
      <v-row>
        <v-col cols="12" md="7">
          <p class="text-body-1 mt-16">
            El transporte es responsable del 20% de las emisiones que se producen en una ciudad, por lo que es vital proponer medidas para reducir la contaminación atmosférica.
          </p>
          <p class="text-body-1 mt-6">
            Luchamos contra el calentamiento global apoyando proyectos medioambientales para compensar el 100% de todas las emisiones de CO2 que generan nuestros coches. Además, estamos impulsando la electrificación de las flotas y el uso de la tecnología, para reducir cada vez más nuestro impacto ambiental.
          </p>
        </v-col>
        <v-col cols="12" md="5">
          <v-img :src="require('~/assets/images/environmental/description/image.png?webp')" aspect-ratio="1" contain/>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<style scoped>
.wrapper {
  background-color: #F6F6F6;
}
</style>
