<template>
  <section class="wrapper py-8">
    <v-container>
      <v-row class="justify-center align-center">
        <v-col cols="12" md="6" align="center">
          <v-img
            :src="require('~/assets/images/environmental/fundation/image.png?webp')"
            max-height="200"
            aspect-ratio="1"
            alt="#UnCocheUnArbol"
            title="#UnCocheUnArbol"
            contain
          />
        </v-col>
        <v-col cols="12" md="6">
          <h2 class="text-h5 text-md-h3 font-weight-bold">
            #UnCocheUnArbol
          </h2>
          <p class="text-body-1 mt-8">
            Estamos comprometidos con nuestro entorno. Por ello, colaboramos con la
            «<a href="https://www.fundacionapadrinaunarbol.org/" target="_blank" class="secondary--text">Fundación Apadrina un Árbol</a>»
            en la reforestación de 13.000 hectáreas, que fueron arrasadas durante un incendio en la provincia de Guadalajara en 2005.
          </p>
          <p class="text-body-1 mt-6">
            Creemos que podemos cuidar de ti, a la vez que cuidamos del planeta y que juntos podemos construir un futuro más sostenible.
            Es por ello que cada vez que uno de nuestros clientes recibe su nuevo coche en casa, plantamos un nuevo árbol en el
            <a href="https://www.google.com/maps/d/edit?mid=1P27w_4dT1ntZqRONV1dAwtxj3UJj8r74&usp=sharing" target="_blank" class="secondary--text">Bosque Vamos</a>.
          </p>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
