<template>
  <div>
    <section :class="landing.type === 'v2_type' ? 'mt-2 background' : 'mt-2'">
      <v-container class="mb-6">
        <v-row>
          <v-col cols="12" md="8">
            <v-row>
              <v-col cols="12">
                <h1 :class="$vuetify.breakpoint.smAndDown ? 'text-h2 font-weight-bold my-6 mt-10' : 'text-h2 font-weight-bold my-6 mt-0 mb-0'">
                  {{ landing.title }}
                </h1>
              </v-col>
              <v-col v-if="landing.type === 'customer_type' || landing.type === 'v2_type'" cols="12" md="6" class="d-none d-lg-block d-md-block pa-6">
                <v-row>
                  <v-row>
                    <v-col cols="12" md="6">
                      <p class="text-h5 font-weight-black mb-0" v-text="landing.features[0].title" />
                      <small class="text-h6 text--disabled" v-text="landing.features[0].description" />
                    </v-col>
                    <v-col cols="12" md="6">
                      <p class="text-h5 font-weight-black mb-0" v-text="landing.features[1].title" />
                      <small class="text-h6 text--disabled" v-text="landing.features[1].description" />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" md="6">
                      <p class="text-h5 font-weight-black mb-0" v-text="landing.features[2].title" />
                      <small class="text-h6 text--disabled" v-text="landing.features[2].description" />
                    </v-col>
                    <v-col cols="12" md="6">
                      <p class="text-h5 font-weight-black mb-0" v-text="landing.features[3].title" />
                      <small class="text-h6 text--disabled" v-text="landing.features[3].description" />
                    </v-col>
                  </v-row>
                </v-row>
              </v-col>
              <v-col v-if="landing.type === 'customer_type' " cols="12" md="6">
                <v-img
                  v-if="landing.car && landing.car.image"
                  :src="landing.car.image.thumbnails.medium"
                  :alt="landing.car.image.webAlt ? landing.car.image.webAlt : landing.car.model.model"
                  :title="landing.car.image.webTitle ? landing.car.image.webTitle : landing.car.model.model"
                  aspect-ratio="1.4"
                  :width="landing.type === 'customer_type' ? '100%' : '95%'"
                  :max-height="landing.type === 'customer_type' ? 240 : 270"
                />
              </v-col>
            </v-row>
            <v-row v-if="landing.type === 'customer_type'" class="mt-0" >
              <v-col cols="12" md="8">
                <h1 :class="$vuetify.breakpoint.mdAndUp ? 'text-h3 font-weight-black' : 'text-h4 font-weight-black'">
                  {{ landing.car ? landing.car.model.brand.name : '' }} {{ landing.car ? landing.car.model.model : '' }}
                </h1>
                <h2 :class="$vuetify.breakpoint.mdAndUp ? 'text-h4 text--disabled' : 'text-h5 text--disabled'">
                  {{ landing.car ? landing.car.version : '' }} -  {{ landing.car ? landing.car.power : '' }}CV
                </h2>
              </v-col>
            </v-row>
            <v-row class="mt-0">
              <v-col cols="12" md="4">
                <h2 class="subtitle font-weight-black" style="color:#FF9300; ">
                  {{ landing.callToActionText }}
                </h2>
                <h2 class="display-3 font-weight-black">
                  <v-row>
                    <v-col cols="5">
                      {{ landing.car ? landing.car.defaultPaymentType.totalMonthlyFee : '' }}
                    </v-col>
                    <v-col cols="7">
                      <h2 class="headline font-weight-black mt-1">
                        €/mes
                      </h2>
                      <h2 class="body-1 font-weight-black">
                        IVA INCLUIDO
                      </h2>
                    </v-col>
                  </v-row>
                </h2>
              </v-col>
              <v-col cols="12" md="8" align-self="center">
                <v-row>
                  <v-col cols="4" md="4" class="text-center">
                    <h2 class="body-1 font-weight-black">
                      KM anuales
                    </h2>
                    <h2 class="headline font-weight-black">
                      {{ landing.car ? landing.car.defaultPaymentType.annualKm : '' }}Km
                    </h2>
                  </v-col>
                  <v-divider vertical />
                  <v-col cols="4" md="4" class="text-center">
                    <h2 class="body-1 font-weight-black">
                      Duración
                    </h2>
                    <h2 class="headline font-weight-black">
                      {{ landing.car ? landing.car.defaultPaymentType.deadlines : '' }} meses
                    </h2>
                  </v-col>
                  <v-divider vertical />
                  <v-col cols="4" md="4" class="text-center">
                    <h2 class="body-1 font-weight-black">
                      Combustible
                    </h2>
                    <h2 class="headline font-weight-black">
                      {{ landing.car ? landing.car.fuelType.name : '' }}
                    </h2>
                  </v-col>
                </v-row>
              </v-col>
              <v-container>
                <p class="caption" v-text="'* Otros plazos y kilometrajes disponibles'" />
              </v-container>
            </v-row>
            <v-divider class="my-1" />
            <v-row>
              <v-col v-if="landing.car" cols="12" md="4">
                <p class="headline font-weight-black mb-0">
                  Equipamiento
                </p>
              </v-col>
            </v-row>
            <v-row v-if="landing.car" class="mt-0">
              <v-col v-if="landing.car.mainAccessories[0]" cols="12" md="4" lg="4">
                <ul>
                  <li>
                    {{ landing.car.mainAccessories ? landing.car.mainAccessories[0].name : '' }}
                  </li>
                </ul>
              </v-col>
              <v-col v-if="landing.car.mainAccessories[1]" cols="12" md="4" lg="4">
                <ul>
                  <li>
                    {{ landing.car.mainAccessories ? landing.car.mainAccessories[1].name : '' }}
                  </li>
                </ul>
              </v-col>
              <v-col v-if="landing.car.mainAccessories[2]" cols="12" md="4" lg="4">
                <ul>
                  <li>
                    {{ landing.car.mainAccessories ? landing.car.mainAccessories[2].name : '' }}
                  </li>
                </ul>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" md="4">
            <landing-call-form v-if="landing" v-show="$vuetify.breakpoint.mdAndUp" :landing="landing" />
            <landing-call-form-mobile v-show="$vuetify.breakpoint.smAndDown" :landing="landing" />
          </v-col>
        </v-row>
      </v-container>
      <v-row>
        <v-col cols="12" align="center" class="pa-0" @click="$vuetify.goTo(target, options)">
          Ver más
        </v-col>
        <v-col cols="12" align="center" class="pa-0">
          <v-icon size="46" @click="$vuetify.goTo(target, options)">
            mdi-chevron-down
          </v-icon>
        </v-col>
      </v-row>
    </section>
    <landing-vehicle-section :landing="landing" />
    <landing-feature-section />
    <home-trustpilot-section />
  </div>
</template>

<script>
export default {
  layout: 'landing',

  async asyncData ({ $axios, error, params }) {
    const response = await $axios.get('landings', {
      params: {
        webSlug: params.slug,
        itemsPerPage: 1
      }
    })

    if (response.data['hydra:member'].length === 0) {
      error({ statusCode: 404, message: 'Car does not exist' })
    }

    const landing = response.data['hydra:member'][0]

    return { landing }
  },

  data: () => ({
    landing: {
      name: null,
      webSlug: null,
      car: null,
      title: null,
      callToActionText: null,
      features: []
    },
    loading: false,
    type: 'selector',
    selector: '#link-more',
    duration: 1000,
    offset: 0,
    easing: 'easeInOutCubic'
  }),

  head () {
    if (!this.landing) {
      return {}
    }

    const data = {
      title: this.landing.metaTitle ? this.landing.metaTitle : this.landing.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.landing.metaDescription ? this.landing.metaDescription : this.landing.title
        }
      ],
      link: []
    }

    if (this.landing.metaRobots) {
      data.meta.push({
        hid: 'robots',
        name: 'robots',
        content: this.landing.metaRobots
      })
    }

    if (this.landing.urlCanonical) {
      data.link.push({
        hid: 'canonical',
        rel: 'canonical',
        content: this.landing.urlCanonical
      })
    }

    return data
  },

  computed: {
    target () {
      const value = this[this.type]
      if (!isNaN(value)) {
        return Number(value)
      } else {
        return value
      }
    },

    options () {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    }
  }
}
</script>

<style scoped>
.wrapper {
  background-color: #F6F6F6;
}
.background {
  background: url('~assets/images/landing/background.png') no-repeat;
  background-size: cover;
}
</style>
