<template>
  <div>
    <section class="mt-2">
      <v-container class="mb-6">
        <v-row>
          <v-col cols="12" md="8">
            <v-row>
              <v-col cols="12" order="1" order-sm="1">
                <h1 :class="$vuetify.breakpoint.smAndDown ? 'text-h4 font-weight-bold my-6 mt-10' : 'text-h4 font-weight-bold my-6 mt-0 mb-0'">
                  Ofertas de renting
                </h1>
              </v-col>
              <v-col cols="12" md="5" class="pa-6" order="3" order-md="2">
                <v-row>
                  <p class="text-subtitle-1 font-weight-light">
                    Elige tu coche perfecto entre nuestra selección de Ofertas de renting.<br>
                    Toma una decisión inteligente y contrata un renting en la mejor época del año.
                  </p>
                  <v-row>
                    <v-col cols="12" md="12">
                      <p class="text-h5 font-weight-black mb-0" v-text="'Características:'" />
                    </v-col>
                    <v-col cols="12" md="12" style="display: flex;">
                      <p class="text-h6 font-weight-black mb-0 mr-3" style="color: #FF9300;">| </p><p class="text-h6 font-weight-black mb-0" v-text="' Sin entrada'" />
                    </v-col>
                    <v-col cols="12" md="12" style="display: flex;">
                      <p class="text-h6 font-weight-black mb-0 mr-3" style="color: #FF9300;">| </p><p class="text-h6 font-weight-black mb-0" v-text="' Todo incluido'" />
                    </v-col>
                    <v-col cols="12" md="12" style="display: flex;">
                      <p class="text-h6 font-weight-black mb-0 mr-3" style="color: #FF9300;">| </p><p class="text-h6 font-weight-black mb-0" v-text="' Entrega Gratuita a Domicilio'" />
                    </v-col>
                    <v-col cols="12" md="12" style="display: flex;">
                      <p class="text-h6 font-weight-black mb-0 mr-3" style="color: #FF9300;">| </p><p class="text-h6 font-weight-black mb-0" v-text="' 100% Online'" />
                    </v-col>
                  </v-row>
                  <client-only>
                    <v-row>
                      <v-col cols="12">
                        <landing-new-version-contact-form :car="{ brand: 'Jeep', name: 'Compass', version: '1.6 Mjet Limited FWD', fueltype: 'Diesel', color: 'Negro Carbón', km: '10000', deadlines: '60' }" />
                        <trustbox template-id="5419b732fbfb950b10de65e5" style-height="24px" style-width="100%"/>
                      </v-col>
                    </v-row>
                  </client-only>
                </v-row>
              </v-col>
              <v-col cols="12" md="7" order="2" order-md="3">
                <v-row class="mt-0">
                  <v-col cols="12" md="8">
                    <h1 :class="$vuetify.breakpoint.mdAndUp ? 'text-h6 font-weight-black' : 'text-h6 font-weight-black'">
                      Jeep Compass
                    </h1>
                    <h2 :class="$vuetify.breakpoint.mdAndUp ? 'text-h6 text--disabled' : 'text-h6 text--disabled'">
                      1.6 Mjet Limited FWD
                    </h2>
                  </v-col>
                </v-row>
                <v-img
                  src="https://d248twfhogyk70.cloudfront.net/cache/product_image_medium_2/d23183df4c218346b94ad18577e1be746011d54ae57a9c2872e688207c8e8e48.webp"
                  alt="ofertas de renting"
                  title="ofertas de renting"
                  max-height="300"
                />
                <h2 class="headline font-weight-black">
                  <v-row justify="center" align="center">
                    <v-col cols="2" align="center">
                      <h2 class="text-h6 font-weight-light text-decoration-line-through" style="color: #D6300C;">
                        467 €
                      </h2>
                    </v-col>
                    <v-col cols="10">
                      <h2 class="text-h3 font-weight-black" style="color: #FF9300;">
                        454 €/mes
                      </h2>
                    </v-col>
                    <h2 class="body-2 font-weight-black text--disabled mt-0">
                      IVA INCLUIDO
                    </h2>
                  </v-row>
                </h2>
                <v-row class="mt-4">
                  <v-col cols="4" md="4" class="text-center" >
                    <v-icon class="mt-1" small style="float: left;">
                      mdi-speedometer
                    </v-icon>
                    <h2 class="body-1 font-weight-black">
                      10.000 Km/año
                    </h2>
                  </v-col>
                  <v-divider vertical />
                  <v-col cols="4" md="4" class="text-center">
                    <v-icon class="mt-1" small style="float: left;">
                      mdi-clock-time-three-outline
                    </v-icon>
                    <h2 class="body-1 font-weight-black">
                      60 meses
                    </h2>
                  </v-col>
                  <v-divider vertical />
                  <v-col cols="4" md="4" class="text-center">
                    <v-icon class="mt-1" small style="float: left;">
                      mdi-engine
                    </v-icon>
                    <h2 class="body-1 font-weight-black">
                      Diesel
                    </h2>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" md="4">
            <landing-call-form v-if="landing" v-show="$vuetify.breakpoint.mdAndUp" :landing="landing">
              <template v-slot:landing-main-form-text>
                <p class="text-center font-weight-bold text-h6">
                  Introduce tus datos y encuentra tu renting al mejor precio.
                </p>
              </template>
              <template v-slot:landing-main-form-button>
                Conseguir oferta
              </template>
            </landing-call-form>
            <landing-call-form-mobile v-show="$vuetify.breakpoint.smAndDown" :landing="landing" />
          </v-col>
        </v-row>
      </v-container>
    </section>
    <section id="link-more" class="wrapper mt-4 pt-4">
      <v-container>
        <v-row class="mb-6">
          <v-col cols="12" align="center">
            <h2 class="text-h4 font-weight-bold">
              Otras ofertas de renting
            </h2>
          </v-col>
        </v-row>
        <v-row v-show="$vuetify.breakpoint.lgAndUp">
          <v-col v-if="loading" class="text-center" cols="12">
            <v-progress-circular indeterminate />
          </v-col>
          <template v-else>
            <v-col v-for="(car, i) in cars" :key="i" cols="12" md="4" class="grow">
              <landing-new-version-contact-form :car="car">
                <template v-slot:landing-button="{ on }">
                  <v-card
                    flat
                    tile
                    :class="$vuetify.breakpoint.mdAndDown ? 'ma-2' : ''"
                    :width="$vuetify.breakpoint.lgAndUp ? 360 : 'auto'"
                    :dark="car.dark"
                    v-on="on"
                  >
                    <v-card-text>
                      <div style="height: 20px">
                        <v-chip v-if="car.webOfferDescription" class="rounded-0 rounded-r-xl ml-n4 px-6 font-weight-bold text-caption" :color="car.webDescriptionColor" :outlined="car.outlined">
                          {{ car.webOfferDescription }}
                        </v-chip>
                      </div>
                      <v-img
                        :src="car.image"
                        alt="Ofertas de renting"
                        title="Ofertas de renting"
                        aspect-ratio="1"
                        max-height="215"
                        class="mb-4"
                      />
                      <p :class="!car.dark ? 'text-h5 black--text font-weight-black text-truncate' : 'text-h5 white--text font-weight-black text-truncate'">
                        {{ car.brand }} {{ car.name }}
                      </p>
                      <p :class="car.dark ? 'text-body-1 mt-n4 text-truncate white--text' : 'text-body-1 mt-n4 text--disabled text-truncate'">
                        {{ car.version }}
                      </p>
                      <p class="text-body-2 black--text mt-n3 mb-6">
                        <span :class="car.dark ? 'white--text' : ''">
                          <v-icon small>
                            mdi-speedometer
                          </v-icon>
                          {{ car.km }} Km |
                        </span>
                        <span :class="car.dark ? 'white--text' : ''">
                          <v-icon small>
                            mdi-clock-time-three-outline
                          </v-icon>
                          {{ car.deadlines }} meses |
                        </span>
                        <span :class="car.dark ? 'white--text' : ''">
                          <v-icon small>
                            mdi-engine
                          </v-icon>
                          {{ car.fueltype }}
                        </span>
                      </p>
                      <span v-if="car.oldPrice" :class="car.dark ? 'text-h6 white--text text-center text-decoration-line-through' : 'text-h6 text--disabled text-center text-decoration-line-through'" style="position: absolute; bottom: 133px; left: 55px;">
                        {{ car.oldPrice }} €
                      </span>
                      <p class="text-h5 secondary--text text-center font-weight-bold">
                        {{ car.price }} €/mes
                      </p>
                      <p :class="car.dark ? 'text-h6 white--text text-center mt-n4' : 'text-h6 text--disabled text-center mt-n4'">
                        IVA incluido
                      </p>
                      <p class="text-caption text-center mt-4 mb-1" :style="color(i)">
                        {{ (finalArray[i] !== undefined && finalArray[i] !== 0) ? `${finalArray[i]} personas estan viendo este coche actualmente` : '&nbsp;' }}
                      </p>
                    </v-card-text>
                    <v-btn
                      class="text-none mt-2"
                      :width="$vuetify.breakpoint.lgAndUp ? 360 : 'auto'"
                      color="black"
                      dark
                      depressed
                      tile
                    >
                      Conseguir oferta
                    </v-btn>
                  </v-card>
                </template>
              </landing-new-version-contact-form>
            </v-col>
          </template>
        </v-row>
        <v-slide-group v-show="$vuetify.breakpoint.mdAndDown">
          <v-slide-item
            v-for="(car, i) in cars"
            :key="i"
            class="mx-4"
          >
            <landing-new-version-contact-form :car="car">
              <template v-slot:landing-button="{ on }">
                <v-card flat tile :dark="car.dark" v-on="on">
                  <v-card-text>
                    <div style="height: 20px">
                      <v-chip v-if="car.webOfferDescription" :class="'rounded-0 rounded-r-xl ml-n4 px-6 font-weight-bold text-caption'" :color="car.webDescriptionColor" :outlined="car.outlined">
                        {{ car.webOfferDescription }}
                      </v-chip>
                    </div>
                    <v-img
                      :src="car.image"
                      :alt="`Renting ${car.name}`"
                      :title="`Renting ${car.name}`"
                      aspect-ratio="1"
                      max-height="215"
                      class="mb-4"
                    />
                    <p :class="car.dark ? 'text-h5 white--text font-weight-black text-truncate' : 'text-h5 black--text font-weight-black text-truncate'">
                      {{ car.brand }} {{ car.name }}
                    </p>
                    <p :class="car.dark ? 'text-body-1 mt-n4 white--text text-truncate' : 'text-body-1 mt-n4 text--disabled text-truncate'">
                      {{ car.version }}
                    </p>
                    <p class="text-body-2 black--text mt-n3 mb-6">
                      <span :class="car.dark ? 'white--text' : ''">
                        <v-icon small>
                          mdi-speedometer
                        </v-icon>
                        {{ car.km }} Km |
                      </span>
                      <span :class="car.dark ? 'white--text' : ''">
                        <v-icon small>
                          mdi-clock-time-three-outline
                        </v-icon>
                        {{ car.deadlines }} meses |
                      </span>
                      <span :class="car.dark ? 'white--text' : ''">
                        {{ car.fueltype }}
                      </span>
                    </p>
                    <span v-if="car.oldPrice" :class="car.dark ? 'text-h5 white--text text-center text-decoration-line-through' : 'text-h5 text--disabled text-center text-decoration-line-through'" style="position: absolute; bottom: 100px; left: 35px;">
                      {{ car.oldPrice }}
                    </span>
                    <p class="text-h5 secondary--text text-center font-weight-bold">
                      {{ car.price }} €/mes
                    </p>
                    <p :class="car.dark ? 'text-h6 white--text text-center mt-n4' : 'text-h6 text--disabled text-center mt-n4'">
                      IVA incluido
                    </p>
                    <p class="text-caption text-center mt-4 mb-1" :style="color(i)">
                      {{ finalArray[i] !== undefined ? finalArray[i] : '0' }} personas estan viendo este coche actualmente
                    </p>
                    <v-btn
                      id="landing-btn-form"
                      class="text-none mt-0"
                      :width="$vuetify.breakpoint.lgAndUp ? 360 : 'auto'"
                      color="black"
                      dark
                      block
                      depressed
                      tile
                    >
                      Pedir información
                    </v-btn>
                  </v-card-text>
                </v-card>
              </template>
            </landing-new-version-contact-form>
          </v-slide-item>
        </v-slide-group>
      </v-container>
    </section>
    <home-trustpilot-section />
  </div>
</template>

<script>

export default {
  layout: 'landing-new-version',

  data: () => ({
    landing: {
      name: null,
      webSlug: null,
      car: null,
      title: null,
      callToActionText: null,
      features: []
    },
    loading: false,
    cars: [
      {
        image: 'https://debbqcgfxnbh6.cloudfront.net/cache/product_image_medium_2/afdb338ca0021b39aeb986ebeb94d5a2cc1061159f093b8818d12449c2e264fa.webp',
        alt: 'Fiat 500',
        title: 'Fiat 500',
        brand: 'Fiat',
        name: '500',
        color: 'Blanco Gelato',
        km: '10.000',
        deadlines: 36,
        fueltype: 'Híbrido',
        version: '1.0 Cult',
        price: 255,
        oldPrice: null,
        webOfferDescription: '¡Entrega rápida!',
        webDescriptionColor: '#45D3C6',
        outlined: false,
        dark: true
      }, {
        image: 'https://d248twfhogyk70.cloudfront.net/cache/product_image_medium_2/bf6ca3b181d3bc908856e476f6ce76770ecd0763d8ba954781e6c886809511d4.webp',
        alt: 'Hyundai Kona',
        title: 'Hyundai Kona',
        brand: 'Hyundai',
        name: 'Kona',
        color: 'Negro Carbon',
        km: '10.000',
        deadlines: 60,
        fueltype: 'Diesel',
        version: '1.0 TGDI Klass 4x2',
        price: 339,
        oldPrice: 358,
        webOfferDescription: null,
        webDescriptionColor: null,
        outlined: false,
        dark: false
      }, {
        image: 'https://d248twfhogyk70.cloudfront.net/cache/product_image_medium_2/5474dc8a4017734757a913770b231ff5669ef19cd46fd47bf9971de5c3ecf3a0.webp',
        alt: 'Nissan Micra',
        title: 'Nissan Micra',
        brand: 'Nissan',
        name: 'Micra',
        color: 'Solid White',
        km: '10.000',
        deadlines: 60,
        fueltype: 'Gasolina',
        version: 'IG-T E6D-F Acenta',
        price: 253,
        oldPrice: 268,
        webOfferDescription: '¡Super oferta!',
        webDescriptionColor: '#45D3C6',
        outlined: false,
        dark: false
      }, {
        image: 'https://d248twfhogyk70.cloudfront.net/cache/product_image_medium_2/5d5e46e9050f2e156748e3d10677a88b3465b109639b7ecdee82b61cf39bd8c6.png',
        alt: 'Fiat Ducato',
        title: 'Fiat Ducato',
        brand: 'Fiat',
        name: 'Ducato',
        color: 'Blanco Sólido',
        km: '10.000',
        deadlines: 60,
        fueltype: 'Diesel',
        version: 'L2H2 2.3 Multijet 140CV',
        price: 459,
        oldPrice: 474,
        webOfferDescription: 'Sólo para autónomos y empresas',
        webDescriptionColor: null,
        outlined: false,
        dark: false
      }, {
        image: 'https://d248twfhogyk70.cloudfront.net/cache/product_image_medium_2/4a6d394d24773040e69419459ff4b004d6a8a3e15312056c4bc402fcb68f6e24.webp',
        alt: 'Volvo XC40',
        title: 'Volvo XC40',
        brand: 'Volvo',
        name: 'XC40',
        km: '10.000',
        color: 'Negro Sonte',
        deadlines: 60,
        fueltype: 'Gasolina',
        version: '1.5 T2 Momentum Core',
        price: 452,
        oldPrice: 478,
        webOfferDescription: '¡Novedad!',
        webDescriptionColor: '#45D3C6',
        outlined: false,
        dark: false
      }, {
        image: 'https://d248twfhogyk70.cloudfront.net/cache/product_image_medium_2/724f195aa3dabfbdeb5f82db89d79bc487f74ec605359a2a51cbdb96b53a07cc.webp',
        alt: 'Toyota Corolla Sedan',
        title: 'Toyota Corolla Sedan',
        brand: 'Toyota',
        name: 'Corolla Sedan',
        color: 'Gris Manhattan Metalizado',
        km: '10.000',
        deadlines: 60,
        fueltype: 'Gasolina',
        version: '1.8 125h Active Tech E-CVT Sedan',
        price: 360,
        oldPrice: 369,
        webOfferDescription: null,
        webDescriptionColor: null,
        outlined: false,
        dark: false
      }
    ],
    numbers: [20, 23, 31, 48, 0, 0],
    finalArray: []
  }),

  async asyncData ({ $axios, error }) {
    const response = await $axios.get('landings', {
      params: {
        webSlug: 'no-validate-ofertas-renting',
        itemsPerPage: 1
      }
    })

    if (response.data['hydra:member'].length === 0) {
      error({ statusCode: 404, message: 'Car does not exist' })
    }

    const landing = response.data['hydra:member'][0]

    return { landing }
  },

  head () {
    if (!this.landing) {
      return {}
    }

    return {
      title: 'Ofertas de Renting de coches',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: ' La mejor época del año para comprar un coche de renting. ¡Entra y descubre las mejores ofertas de renting!'
        }
      ],
      link: [
        {
          hid: 'canonical',
          rel: 'canonical',
          content: 'https://www.vamos.es/landing/ofertas-de-renting'
        }
      ]
    }
  },

  created () {
    this.randomNumber()
  },

  methods: {
    randomNumber () {
      for (let i = 0; i < this.numbers.length + this.finalArray.length; i++) {
        const index = Math.floor(Math.random() * (this.numbers.length))
        this.finalArray.push(this.numbers[index])
        this.numbers.splice(index, 1)
      }
    },

    color (i) {
      if (this.finalArray[i] !== 0 && i === 0) {
        return 'color: #D6300C;'
      } else if (this.finalArray[i] !== 0 && i !== 0) {
        return 'color: #1E1E1E;'
      } else {
        return 'color: white;'
      }
    }
  }
}
</script>

<style scoped>
.wrapper {
  background-color: #F6F6F6;
}

.v-card.theme--dark {
  background: url('~assets/images/car/card-bg-decoration.png') no-repeat;
  background-size: cover;
}
</style>
