<template>
  <section>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <img
          :src="require('~/assets/images/layout/logo.svg')"
          width="200"
          alt="Vamos | Renting de coches"
          contain
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <h2> ¡Felicidades!</h2>
        <h2 class="text-h5 font-weight-light">
          Estamos preparando tu coche
        </h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <v-card width="600" style="background-color: #e6e6e6;">
          <v-card-text>
            <v-img
              width="100%"
              height="auto"
              :src="quotation.paymentType.image.thumbnails.medium"
            />
            <v-row>
              <v-col cols="12" md="6" float-left>
                <p class="text-h5 font-weight-bold mt-2">
                  {{ quotation.paymentType.carBrand }} {{ quotation.paymentType.carModel }}
                </p>
                <p class="text-h5 font-weight-regular mt-0">
                  999cc · 91CV
                </p>
              </v-col>
              <v-col cols="12" md="6">
                <p class="text-h5 font-weight-bold mt-2">
                  {{ quotation.paymentType.totalMonthlyFee }}€/Mes
                </p>
                <p class="text-h5 font-weight-regular" style="color: #FF9300;">
                  IVA incluido
                </p>
              </v-col>
            </v-row>
            <p class="text-h6 font-weight-regular mt-2 mx-6">
              Encontrarás adjunto en tu email una copia de tu contrato
            </p>
            <v-divider />
            <p class="text-h5 font-weight-bold mt-6 mx-6" align="start">
              Te mantendremos informado en todo momento. Datos de la entrega:
            </p>
            <p class="body-2 font-weight-bold mt-6 mx-6" align="start">
              Dirección dónde se entregará el coche:
            </p>
            <p class="body-2 font-weight-regular mt-6 mx-6" align="start">
              {{ quotation.address }}
            </p>
            <p class="body-2 font-weight-bold mt-6 mx-6" align="start">
              ¿En cuánto tiempo y cómo recibirás la entrega?:
            </p>
            <p class="body-2 font-weight-regular mt-6 mx-6" align="start">
              {{ quotation.paymentType.deadlines }} meses
            </p>
            <p class="text-h6 font-weight-regular mt-6 mx-6" align="start">
              Cualquier duda o inconveniente con los datos de entrega, llámanos al: <strong>910 781 751</strong>
            </p>
          </v-card-text>
        </v-card>
        <v-row>
          <v-col cols="12" align="center" align-self="center">
            <p class="text-h5 font-weight-bold mt-8">
              ¿Te gustó la experiencia?
            </p>
            <p class="text-h5 font-weight-regular">
              Click aqui para dejar tu opinión en Truspilot
            </p>
          </v-col>
        </v-row>
        <a href="https://es.trustpilot.com/evaluate/vamos.es"><v-btn class="primary white--text mt-8 mb-8">Deja tu opinion</v-btn></a>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <a href="https://www.facebook.com/Vamos-439307093532348/" class="white--text mr-6" target="_blank">
          <v-icon size="45">
            mdi-facebook
          </v-icon>
        </a>
        <a href="https://www.instagram.com/vamos.es/" class="white--text mr-6" target="_blank">
          <v-icon size="45">
            mdi-instagram
          </v-icon>
        </a>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <a href="https://es.trustpilot.com/evaluate/vamos.es" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
          <trustbox template-id="5419b732fbfb950b10de65e5" style-height="24px" style-width="100%" />
        </a>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <p>
          Si tienes dudas sobre el documento contacta con <a href="mailto:support@vamos.es">support@Vamos.es</a>
        </p>
      </v-col>
    </v-row>
  </section>
</template>

<script>

export default {
  layout: 'ibercaja',

  async asyncData ({ $axios, error, params }) {
    const response = await $axios.get('/ibercaja-quotations/' + params.uuid)
    const quotation = response.data

    return { quotation }
  },

  data: () => ({
    quotation: null,
    loading: false
  })
}
</script>
