<template>
  <section>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <img
          :src="require('~/assets/images/layout/logo.svg')"
          width="126"
          height="25"
          aspect-ratio="1"
          alt="Vamos | Renting de coches"
          contain
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <h2> Documento firmado con éxito</h2>
        <h4>Encontrarás adjunto en este email el documento firmado  </h4>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <img
          :src="require('~/assets/images/ibercaja/contract_signed.png')"
          aspect-ratio="1"
          alt="Vamos | Renting de coches"
          contain
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <v-card width="500" style="background-color: #bfbfbf;">
          <v-card-text>
            <p class="text-h5 font-weight-regular mt-8">
              ¿Te gustó la experiencia?
            </p>
            <p class="caption font-weight-regular">
              Click aqui para dejar tu opinión en Truspilot
            </p>
            <a href="https://es.trustpilot.com/evaluate/vamos.es"><v-btn class="primary white--text mt-8 mb-8">Deja tu opinion</v-btn></a>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <a href="https://www.facebook.com/Vamos-439307093532348/" class="white--text mr-6" target="_blank">
          <v-icon size="45">
            mdi-facebook
          </v-icon>
        </a>
        <a href="https://www.instagram.com/vamos.es/" class="white--text mr-6" target="_blank">
          <v-icon size="45">
            mdi-instagram
          </v-icon>
        </a>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <a href="https://es.trustpilot.com/evaluate/vamos.es" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
          <trustbox template-id="5419b732fbfb950b10de65e5" style-height="24px" style-width="100%" />
        </a>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" align-self="center">
        <p> Si tienes dudas sobre el documento contacta con <a href="mailto:support@vamos.es">support@Vamos.es</a>
        </p>
      </v-col>
    </v-row>
  </section>
</template>

<script>

export default {
  layout: 'ibercaja'
}
</script>
