<template>
  <section class="py-8">
    <v-row class="mb-6 text-center">
      <v-col cols="12">
        <h2 class="text-h4 font-weight-bold">
          Seguro a todo riesgo, sin franquicia
        </h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-for="(item, i) in items" :key="i" cols="12" md="2" :offset-md="i % 5 === 0 ? 1 : 0">
        <v-card align="center" color="transparent" flat tile>
          <v-card-text>
            <v-icon class="mb-3" color="black" x-large>
              {{ item.icon }}
            </v-icon>
            <p class="black--text">
              {{ item.title }}
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        icon: 'mdi-road-variant',
        title: 'Asistencia en carretera'
      }, {
        icon: 'mdi-circle-slice-8',
        title: 'Cambio de neumáticos'
      }, {
        icon: 'mdi-tools',
        title: 'Revisiones y averías'
      }, {
        icon: 'mdi-credit-card-check-outline',
        title: 'Impuestos incluidos'
      }, {
        icon: 'mdi-shield-check',
        title: 'Seguro a todo riesgo sin franquicia'
      }
    ]
  })
}
</script>
