<template>
  <section class="py-3 py-md-6 background">
    <v-container>
      <v-row>
        <v-col v-show="$vuetify.breakpoint.mdAndUp" cols="12" md="3">
          <slot name="title">
            <h2 class="subtitle-1 font-weight-bold mb-3">
              {{ !facet ? 'Ofertas de renting de coches' + (facet ? ` de ${facet.name}` : '') : facet.facetTitle }}
            </h2>
          </slot>
          <search-facets-car-type :index="1" class="mb-3" />
          <search-facets-fuel-type :index="2" class="mb-3" />
          <search-facets-period-type :index="3" />
          <v-divider class="mt-6 mb-3" />
          <div class="grey--text text--darken-2 font-weight-bold mb-3">
            <v-icon class="mt-1 float-right" size="20" @click="showFilters = !showFilters">
              {{ `mdi-chevron-${showFilters ? 'up' : 'down'}` }}
            </v-icon>
            Filtros
          </div>
          <div v-show="showFilters">
            <template>
              <p class="text-caption">
                Presupuesto
              </p>
              <search-filters-price />
            </template>
            <template v-if="brands.length">
              <p class="text-caption">
                Marca
              </p>
              <search-filters-brand />
            </template>
            <template v-if="transmissions.length">
              <p class="text-caption">
                Transmisión
              </p>
              <search-filters-transmission />
            </template>
            <template v-if="colors.length">
              <p class="text-caption">
                Color
              </p>
              <search-filters-color class="mb-3" />
            </template>
          </div>
        </v-col>
        <v-col v-show="$vuetify.breakpoint.smAndDown" cols="6">
          <v-menu
            v-model="menuFacets"
            :nudge-width="300"
            :close-on-content-click="false"
            class="float-left"
            offset-y
          >
            <template #activator="{ attrs, on }">
              <v-btn
                v-bind="attrs"
                class="text-none"
                text
                v-on="on"
              >
                Tipos de coches
                <v-icon class="mt-1 float-right" size="20">
                  mdi-chevron-down
                </v-icon>
              </v-btn>
            </template>
            <v-card flat tile>
              <v-card-text>
                <search-facets-car-type :index="1" class="mb-3" />
                <search-facets-fuel-type :index="2" class="mb-3" />
                <search-facets-period-type :index="3" />
              </v-card-text>
            </v-card>
          </v-menu>
        </v-col>
        <v-col v-show="$vuetify.breakpoint.smAndDown" cols="6" align="right">
          <v-menu
            v-model="menuFilters"
            :nudge-width="300"
            :close-on-content-click="false"
            class="float-right"
            offset-y
          >
            <template #activator="{ attrs, on }">
              <v-btn
                v-bind="attrs"
                class="px-6"
                depressed
                outlined
                rounded
                v-on="on"
              >
                <v-icon class="mt-1 float-right" size="20">
                  mdi-tune-variant
                </v-icon>
              </v-btn>
            </template>
            <v-card flat tile>
              <v-card-text>
                <div v-show="showFilters">
                  <template>
                    <p class="text-caption">
                      Presupuesto
                    </p>
                    <search-filters-price />
                  </template>
                  <template v-if="brands.length">
                    <p class="text-caption">
                      Marca
                    </p>
                    <search-filters-brand />
                  </template>
                  <template v-if="transmissions.length">
                    <p class="text-caption">
                      Transmisión
                    </p>
                    <search-filters-transmission />
                  </template>
                  <template v-if="colors.length">
                    <p class="text-caption">
                      Color
                    </p>
                    <search-filters-color />
                  </template>
                </div>
              </v-card-text>
              <v-card-actions class="px-3 pb-6">
                <v-btn class="px-6 text-none" outlined depressed rounded @click="applyFilters">
                  Aplicar
                </v-btn>
                <v-spacer />
                <v-btn class="px-6 text-none" color="primary" depressed rounded @click="resetFilters">
                  Borrar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-menu>
        </v-col>
        <v-col cols="12" md="9" class="pt-0">
          <section v-show="$vuetify.breakpoint.mdAndUp" class="mb-3" style="min-height: 25px;">
            <v-chip v-if="priceFilter !== null" class="elevation-1 px-6" color="white" label>
              {{ priceFilter.text }}
              <v-icon right @click="setPriceFilter(null)">
                mdi-close
              </v-icon>
            </v-chip>
            <v-chip v-if="brandFilter !== null" class="elevation-1 px-6" color="white" label>
              {{ brandFilter.name }}
              <v-icon right @click="setBrandFilter(null)">
                mdi-close
              </v-icon>
            </v-chip>
            <v-chip v-if="transmissionFilter !== null" class="elevation-1 px-6" color="white" label>
              {{ transmissionFilter.text }}
              <v-icon right @click="setTransmissionFilter(null)">
                mdi-close
              </v-icon>
            </v-chip>
            <v-chip v-if="colorFilter !== null" class="elevation-1 px-6" color="white" label>
              {{ colorFilter.name }}
              <v-icon right @click="setColorFilter(null)">
                mdi-close
              </v-icon>
            </v-chip>
          </section>
          <v-row v-if="cars === null || loading" class="text-center">
            <v-col cols="12">
              <v-progress-circular indeterminate />
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col v-if="!filteredCars.length" cols="12">
              Ningún coche disponible con los criterios de la búsqueda
            </v-col>
            <template>
              <v-col
                v-for="(car, i) in filteredCars"
                :key="i"
                cols="12"
                md="4"
                lg="4"
              >
                <shared-ui-car-card :car="car" />
              </v-col>
            </template>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
import qs from 'qs'
import { mapActions, mapGetters } from 'vuex'

export default {
  props: {
    taxonomy: {
      required: false,
      default: null
    }
  },

  data: () => ({
    filters: {
      'paymentTypes.published': true
    },
    showFilters: true,
    menuFacets: false,
    menuFilters: false,
    loading: false
  }),

  computed: {
    ...mapGetters({
      cars: 'search/cars',
      filteredCars: 'search/filteredCars',
      priceFilter: 'search/priceFilter',
      brandFilter: 'search/brandFilter',
      transmissionFilter: 'search/transmissionFilter',
      colorFilter: 'search/colorFilter',
      brands: 'search/brands',
      transmissions: 'search/transmissions',
      colors: 'search/colors',
      facet: 'search/facet'
    })
  },

  async fetch () {
    await this.init()
    await this.load()
  },

  methods: {
    ...mapActions({
      setFacet: 'search/setFacet',
      setCars: 'search/setCars',
      setPriceFilter: 'search/setPriceFilter',
      setBrandFilter: 'search/setBrandFilter',
      setTransmissionFilter: 'search/setTransmissionFilter',
      setColorFilter: 'search/setColorFilter'
    }),

    async init () {
      this.filters.taxonomies = this.taxonomy
      if (!this.taxonomy) {
        this.filters.taxonomies = ['individual', 'freelance', 'company']
      }
      if (!this.$route.params.slug) {
        this.setFacet(null)
        return
      }

      const facet = await this.loadFacet()
      this.setFacet(facet)

      if (facet['@type'] === 'CarType') {
        this.filters['model.type'] = facet.id
      } else if (facet['@type'] === 'CarFuelType') {
        this.filters.fuelType = facet.id
      } else if (facet['@type'] === 'PaymentTypeDeadline') {
        this.filters['paymentTypes.deadlines'] = facet.id
      }
    },

    async loadFacet () {
      const urls = ['car-types', 'car-fuel-types', 'payment-type-deadlines']

      for (let i = 0; i < urls.length; i++) {
        const url = urls[i]

        try {
          const response = await this.$axios.get(url, {
            params: {
              slug: this.$route.params.slug
            }
          })

          if (response.data['hydra:member'].length) {
            return response.data['hydra:member'][0]
          }
        } catch (e) {}
      }

      return null
    },

    async load () {
      this.loading = true
      try {
        const params = this.getParameters()

        const response = await this.$axios.get('cars', {
          params,
          paramsSerializer: (params) => {
            return qs.stringify(params)
          }
        })

        const cars = response.data['hydra:member']
        cars.sort((a, b) => (a.defaultPaymentType.totalMonthlyFee > b.defaultPaymentType.totalMonthlyFee ? 1 : -1))

        this.setCars(cars)
      } catch (e) {
      } finally {
        this.loading = false
      }
    },

    getParameters () {
      const params = {
        'order[paymentTypes.totalMonthlyFee]': 'asc'
      }

      for (const [key, value] of Object.entries(this.filters)) {
        if (value === null || (Array.isArray(value) && value.length === 0)) {
          continue
        }

        let data = null
        if (Array.isArray(value)) {
          if (typeof value[0] === 'object') {
            data = value.map(value => value.id)
          } else {
            data = value
          }
        } else if (typeof value === 'object') {
          data = value.id
        } else {
          data = value
        }

        params[key] = data
      }

      return params
    },

    applyFilters () {
      this.menuFilters = false
    },

    resetFilters () {
      this.menuFilters = false
      this.setBrandFilter(null)
      this.setTransmissionFilter(null)
    }
  }
}
</script>

<style scoped>
.background {
  background-color: #FCFCFC;
}
</style>
