<template>
  <section>
    <quotation-documentation-form
      v-if="loading === false && quotation && (quotation.processStatus === 'processed' || quotation.processStatus === 'guarantee_paid') && quotation.requestStatus === 'authorized'"
      :item-id="paymentType"
      :quotation="quotation"
    />
    <quotation-redsys-form
      v-if="loading === false && quotation && quotation.processStatus === 'guaranteed' && quotation.requestStatus === 'authorized'"
      :item-id="paymentType"
      :quotation="quotation"
    />
    <quotation-address-form
      v-if="loading === false && quotation && quotation.processStatus === 'processed' && quotation.requestStatus === 'denied'"
      :rejected="true"
    />
    <quotation-contract-form
      v-if="loading === false && quotation && quotation.processStatus === 'contract_printed'"
      :item-id="paymentType"
      :signaturit="signaturit"
    />
    <quotation-signaturit-event
      v-if="loading === false && quotation && quotation.processStatus === 'contract_signed'"
      :uuid="uuid"
    />
    <shared-ui-loading :visible="loading" />
  </section>
</template>

<script>

import { mapActions } from 'vuex'

export default {
  layout: 'quoting',

  data: () => ({
    quotation: null,
    paymentType: '',
    signaturit: '',
    loading: false
  }),

  mounted () {
    this.load()
  },

  computed: {
    uuid () {
      const string = this.$route.params.id
      return string.replace('/quotations/', '')
    }
  },

  methods: {
    ...mapActions({
      setSelectedCar: 'quotation/setSelectedCar'
    }),
    async load () {
      this.loading = true
      try {
        const response = await this.$axios.get(this.$route.params.id)
        this.quotation = response.data
        this.paymentType = this.quotation.paymentType['@id']
        this.setSelectedCar(this.paymentType)
      } catch (e) {
        this.$toast.error(e.response.data['hydra:description'])
      } finally {
        if (this.quotation.processStatus === 'contract_printed') {
          await this.loadSignaturit()
        }
        this.loading = false
      }
    },

    async loadSignaturit () {
      this.loading = true
      try {
        const { data } = await this.$axios.get(`signaturits/quotations/${this.quotation.id}`)
        this.signaturit = data.url
        this.loading = false
      } catch (e) {
        this.$toast.error(e)
      }
    }
  }
}
</script>
