<template>
  <v-footer
    color="white"
    fixed
    :max-height="$vuetify.breakpoint.smAndDown ? 250: 'auto'"
  >
    <v-card
      flat
      min-width="100%"
      color="blue-grey lighten-5"
      class="text-center"
    >
      <v-card-text>
        <v-row
          no-gutters
          align="center"
        >
          <v-col cols="6">
            <v-btn
              color="secondary"
              class="ma-2 white--text"
              :x-large="$vuetify.breakpoint.lgAndUp"
              @click="handler()"
            >
              <v-icon
                left
                dark
              >
                mdi-chevron-left
              </v-icon>
              Atrás
            </v-btn>
            <v-btn
              color="secondary"
              class="ma-2 white--text"
              :x-large="$vuetify.breakpoint.lgAndUp"
              :disabled="!valid"
              @click="submit()"
            >
              Realizar estudio
              <v-icon
                right
                dark
              >
                mdi-chevron-right
              </v-icon>
            </v-btn>
          </v-col>
          <v-col cols="6">
            <v-row
              align="center"
              no-gutters
            >
              <v-col cols="12" md="9">
                <p v-if="item" :class="$vuetify.breakpoint.lgAndUp ? 'headline font-weight-bold text-center' : 'font-weight-bold text-center'">
                  {{ item.carBrand }} {{ item.carModel }}
                </p>
                <p v-if="item" class="font-weight-bold text-center">
                  {{ item.carVersion }}
                </p>
                <p v-if="item" class="font-weight-bold text-center">
                  {{ item.deadlines.name }} meses - {{ item.annualKm }} / año
                </p>
              </v-col>
              <v-col cols="12" md="3">
                <p v-if="item" :class="$vuetify.breakpoint.lgAndUp ? 'display-2 font-weight-bold text-center' : 'headline font-weight-bold text-center'" style="color: orange;">
                  {{ item.totalMonthlyFee }} €
                </p>
                <p v-if="item" class="font-weight-bold text-center">
                  /Mes IVA Incluido
                </p>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <template>
      <v-card>
        <v-snackbar
          v-model="snackbar"
          :timeout="-1"
          multi-line
          :value="true"
          bottom
          color="error"
          outlined
          right
        >
          Este valor ya está registrado en el sistema. Intente de nuevo con otro datos.
          <template v-slot:action="{ attrs }">
            <v-btn
              color="grey"
              text
              v-bind="attrs"
              @click="handlerSnackbar"
            >
              Volver a lanzar
            </v-btn>
          </template>
        </v-snackbar>
      </v-card>
    </template>
    <quotation-customer-searched-customer v-model="dialog"/>
  </v-footer>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  props: {
    form: {
      required: true
    },
    valid: {
      type: Boolean,
      required: false,
      default: true,
      loading: false
    }
  },

  data: () => ({
    item: null,
    dialog: false,
    snackbar: false
  }),

  created () {
    if (this.selectedCar !== null) {
      this.loadResource()
    }
  },

  computed: {
    ...mapGetters({
      selectedCar: 'quotation/selectedCar',
      firstForm: 'quotation/firstForm'
    })
  },

  methods: {
    ...mapActions({
      setSecondForm: 'quotation/setSecondForm',
      setFirstForm: 'quotation/setFirstForm',
      setSearched: 'customer/setSearched'
    }),

    async loadResource () {
      try {
        const { data } = await this.$axios.get(this.selectedCar)
        this.item = data
        this.item.carBrand = data.carBrand
        this.item.carModel = data.carModel
        this.item.carVersion = data.carVersion
      } catch (e) {
      } finally {
        this.$emit('update:loading', false)
      }
    },

    async submit () {
      this.$emit('update:loading', true)
      try {
        const addressData = {
          ...this.form.address,
          city: this.form.address.city.name ? this.form.address.city.name : this.form.address.city,
          province: this.form.address.province['@id']
        }

        const data = {
          ...this.form,
          ...this.firstForm,
          employment: this.form.employment['@id'],
          birthProvince: this.firstForm.birthProvince['@id'],
          maritalStatus: this.form.maritalStatus,
          cnae: this.form.cnae ? this.form.cnae['@id'] : null,
          address: addressData
        }

        const response = await this.$axios.post('customers', data)
        const quotationData = {
          customer: response.data['@id'],
          paymentType: this.selectedCar
        }
        const quotationSubmitted = await this.$axios.post('quotations', quotationData)
        this.$emit('update:quotation', quotationSubmitted.data)
      } catch (e) {
        this.snackbar = true
        this.setSecondForm(null)
        this.setFirstForm(null)
      } finally {
        this.setSearched(null)
        this.$emit('update:loading', false)
      }
    },

    handler () {
      this.setSecondForm(this.form)
      this.$router.push({
        name: 'quotings-customer-id',
        params: { id: this.selectedCar }
      })
    },

    handlerSnackbar () {
      this.$router.push({ name: 'quotings-customer-id', params: { id: this.selectedCar } })
    }
  }
}
</script>
