<template>
  <section class="mt-12">
    <v-row>
      <v-col cols="12" lg="4">
        <p class="display-1 font-weight-bold text-center">
          Dirección y ocupación
        </p>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="2" class="d-none d-lg-block d-md-block">
        <v-timeline>
          <v-timeline-item
            v-for="(item, i) in items"
            :key="i"
            :color="item.color"
            :large="item.large"
            :right="item.right"
          >
            <template #icon>
              <span class="white--text">{{ item.number }}</span>
            </template>
            {{ item.text }}
          </v-timeline-item>
        </v-timeline>
      </v-col>
      <v-col col="12" lg="10">
        <v-container :style="$vuetify.breakpoint.mobileBreakpoint ? 'margin-bottom: 200px;': 'auto'">
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12" lg="6">
                  <v-text-field
                    v-model="$v.form.address.street.$model"
                    :error-messages="handleErrors($v.form.address.street)"
                    label="Dirección"
                    prepend-inner-icon="mdi-map-marker"
                    outlined
                    dense
                  />
                </v-col>
                <v-col cols="12" lg="3">
                  <v-text-field
                    v-model="$v.form.address.postalCode.$model"
                    :error-messages="handleErrors($v.form.address.postalCode)"
                    label="Código postal"
                    outlined
                    dense
                    @change="loadCity"
                  />
                </v-col>
                <v-col cols="12" lg="3">
                  <v-select
                    v-model="$v.form.address.city.$model"
                    :error-messages="handleErrors($v.form.address.city)"
                    :items="cities"
                    item-value="name"
                    item-text="name"
                    label="Ciudad"
                    outlined
                    dense
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <shared-autocompletes-province-autocomplete
                    v-model="$v.form.address.province.$model"
                    :error-messages="handleErrors($v.form.address.province)"
                    label="Provincia"
                    outlined
                    dense
                  />
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="$v.form.address.country.$model"
                    :error-messages="handleErrors($v.form.address.country)"
                    label="Pais"
                    disabled
                    outlined
                    dense
                  />
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-select
                    v-model="$v.form.maritalStatus.$model"
                    :error-messages="handleErrors($v.form.maritalStatus)"
                    label="Estado civil"
                    :items="[ { value: 'married', text: 'Casado' }, { value: 'divorced', text: 'Divorciado' }, { value: 'single', text: 'Soltero' }
                              , { value: 'widowed', text: 'Viudo' }, { value: 'separated', text: 'Separado' }]"
                    item-value="value"
                    item-text="text"
                    outlined
                    dense
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <shared-autocompletes-employment-autocomplete
                    v-model="$v.form.employment.$model"
                    :error-messages="handleErrors($v.form.employment)"
                    label="Ocupación"
                    outlined
                    dense
                    @change="employmentValue"
                  />
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="$v.form.companySeniorityDate.$model"
                    :error-messages="handleErrors($v.form.companySeniorityDate)"
                    label="Antigüedad laboral"
                    type="date"
                    outlined
                    dense
                  />
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-if="form.employment && form.employment.name !== 'Empresario Autónomo'"
                    v-model.number="$v.form.monthlyIncomeAmount.$model"
                    :error-messages="handleErrors($v.form.monthlyIncomeAmount)"
                    label="Ingresos mensuales"
                    outlined
                    dense
                    @input="$v.form.monthlyIncomeAmount.$touch()"
                    @blur="$v.form.monthlyIncomeAmount.$touch()"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <shared-autocompletes-CNAE-autocomplete
                    v-if="form.employment && form.employment.name === 'Empresario Autónomo'"
                    v-model="$v.form.cnae.$model"
                    :error-messages="handleErrors($v.form.cnae)"
                    item-value="value"
                    item-text="text"
                    label="CNAE"
                    outlined
                    dense
                    @input="$v.form.cnae.$touch()"
                    @blur="$v.form.cnae.$touch()"
                  />
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-if="form.employment && form.employment.name === 'Empresario Autónomo'"
                    v-model.number="$v.form.billingAmount.$model"
                    :error-messages="handleErrors($v.form.billingAmount)"
                    label="Facturación"
                    suffix="€"
                    outlined
                    dense
                    @input="$v.form.billingAmount.$touch()"
                    @blur="$v.form.billingAmount.$touch()"
                  />
                </v-col>
                <v-col cols="12" sm="6" md="3">
                  <v-text-field
                    v-if="form.employment && form.employment.name === 'Empresario Autónomo'"
                    v-model.number="$v.form.networkYield.$model"
                    :error-messages="handleErrors($v.form.networkYield)"
                    label="Rendimiento Neto"
                    suffix="€"
                    outlined
                    dense
                    @input="$v.form.networkYield.$touch()"
                    @blur="$v.form.networkYield.$touch()"
                  />
                </v-col>
              </v-row>
            </v-container>
            <quotation-address-footer-info :form="form" :valid="!$v.$invalid" :loading.sync="loading" :quotation.sync="quotation" />
          </v-form>
          <v-col v-show="$vuetify.breakpoint.lgAndUp" cols="12" class="mt-6">
            <v-alert
              border="bottom"
              colored-border
              type="warning"
              elevation="2"
            >
              <strong>Recuerda tener a mano: </strong>
              <v-row>
                <v-col cols="4">
                  <p class="body-2 font-weight-regular">
                    - DNI o NIE <br>
                    - IBAN español de la cuenta bancaria
                  </p>
                </v-col>
                <v-col cols="4">
                  <p class="body-2 font-weight-regular">
                    - Tener banca on-line. Acceso al banco a través del móvil <br>
                    - Un recibo reciente donde aparezca el número de cuenta
                  </p>
                </v-col>
                <v-col cols="4">
                  <p class="body-2 font-weight-regular">
                    - Copia de la última nómina (Particulares) <br>
                    - Copia del IRPF (Autónomos)
                  </p>
                </v-col>
              </v-row>
            </v-alert>
          </v-col>
        </v-container>
      </v-col>
    </v-row>
    <quotation-authorized-response-dialog v-if="dialogAuthorized === true" :quotation="quotation" />
    <quotation-denied-response-dialog v-if="dialogRejected === true" />
    <shared-ui-loading :visible="loading" />
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { required, requiredIf } from 'vuelidate/lib/validators'
import vuelidate from '~/mixins/vuelidate'
import city from '~/mixins/city'

export default {
  mixins: [city, vuelidate],

  props: {
    rejected: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  computed: {
    ...mapGetters({
      secondForm: 'quotation/secondForm',
      selectedCar: 'quotation/selectedCar'
    }),
    employmentName () {
      return this.form.employment && this.form.employment.name === 'Empresario Autónomo'
    }
  },

  watch: {
    quotation (value) {
      if (value) {
        this.submit()
      }
    }
  },

  created () {
    if (this.selectedCar === null) {
      this.setSelectedCar(this.$route.params.id)
    }

    if (this.secondForm) {
      this.form = this.secondForm
    }

    if (this.rejected === true) {
      this.dialogRejected = true
    }
  },

  methods: {
    ...mapActions({
      setSelectedCar: 'quotation/setSelectedCar'
    }),
    async submit () {
      this.loading = true
      try {
        const data = {
          quotation: this.quotation['@id']
        }

        const response = await this.$axios.post('equifaxes', data)
        if (response.data.result === 'A') {
          this.dialogAuthorized = true
        } else if (response.data.result === 'R') {
          this.dialogRejected = true
        } else if (response.data.result === 'F') {
          this.dialogRejected = true
        } else if (response.data.errors) {
          this.dialogRejected = true
        }
      } catch (e) {
      } finally {
        this.loading = false
      }
    },

    employmentValue (value) {
      if (value && value.name === 'Empresario Autónomo') {
        this.form.monthlyIncomeAmount = null
      } else {
        this.form.cnae = null
        this.form.billingAmount = null
        this.form.networkYield = null
      }
    }
  },

  data: () => ({
    loading: false,
    dialogAuthorized: false,
    dialogRejected: false,
    form: {
      employment: null,
      monthlyIncomeAmount: null,
      cnae: null,
      billingAmount: null,
      networkYield: null,
      companySeniorityDate: null,
      address: {
        street: '',
        postalCode: '',
        city: '',
        province: null,
        country: 'ES'
      },
      maritalStatus: null
    },
    item: null,
    quotation: null,
    items: [
      {
        text: 'Información Personal',
        right: true,
        color: 'secondary',
        number: 1,
        large: true
      },
      {
        text: 'Dirección y ocupación',
        right: true,
        color: 'secondary',
        number: 2,
        large: true
      },
      {
        text: 'Datos de pago',
        right: true,
        color: 'grey',
        number: 3,
        large: false
      },
      {
        text: 'Firma',
        right: true,
        color: 'grey',
        number: 4,
        large: false
      }
    ]
  }),

  validations () {
    return {
      form: {
        address: {
          street: {
            required
          },
          postalCode: {
            required,
            valid: (value, vm) => /^(?:0[1-9]|[1-4]\d|5[0-2])\d{3}$/.test(value)
          },
          city: {
            required
          },
          province: {
            required,
            valid: (value, vm) => value instanceof Object
          },
          country: {
            required
          }
        },
        employment: {
          required,
          valid: (value, vm) => value instanceof Object
        },
        maritalStatus: {
          required
        },
        monthlyIncomeAmount: {
          required: requiredIf(() => { return !this.employmentName })
        },
        cnae: {
          required: requiredIf(() => { return this.employmentName })
        },
        billingAmount: {
          required: requiredIf(() => { return this.employmentName })
        },
        networkYield: {
          required: requiredIf(() => { return this.employmentName })
        },
        companySeniorityDate: {
          required
        }
      }
    }
  }
}
</script>
