<template>
  <div>
    <section class="py-2">
      <v-container class="pb-0">
        <v-breadcrumbs :items="breadcrumbsItems" class="pa-0 mb-3 justify-end" />
        <v-row>
          <v-col cols="12">
            <h1 class="mb-3 mt-6">
              {{ !facet ? 'Ofertas de renting' + (facet ? ` de ${facet.name}` : '') : facet.title }}
            </h1>
            <p>
              {{ !facet ? ' Busca y elige el renting qué mejor se adapte a tus necesidades y empieza a disfrutar de todo lo bueno de tener coche sin todo lo malo.' : facet.shortDescription }}
            </p>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <search-main-section />
    <section v-if="facet" class="py-8" style="background-color: #F6F6F6;">
      <v-container>
        <v-row>
          <v-col cols="12">
            <div v-html="facet.footerDescription" />
          </v-col>
        </v-row>
      </v-container>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  head () {
    if (!this.facet) {
      return {
        title: '▷ Ofertas de Renting《Ofertas Diciembre》| Sin entrada',
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: 'Descubre todas nuestras ofertas de renting de coches. ✅ Todo incluido, sin entrada ni fianza y con ✅ cuota fija.'
          }
        ],
        link: [
          {
            hid: 'canonical',
            name: 'canonical',
            content: 'https://www.vamos.es/todos-los-coches'
          }
        ]
      }
    }

    const data = {
      title: this.facet.metaTitle ? this.facet.metaTitle : this.facet.name,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.facet.metaDescription ? this.facet.metaDescription : this.facet.name
        }
      ],
      link: []
    }

    if (this.facet.metaRobots) {
      data.meta.push({
        hid: 'robots',
        name: 'robots',
        content: this.facet.metaRobots
      })
    }

    if (this.facet.urlCanonical) {
      data.link.push({
        hid: 'canonical',
        rel: 'canonical',
        content: this.facet.urlCanonical
      })
    }

    return data
  },

  computed: {
    ...mapGetters({
      facet: 'search/facet'
    }),
    breadcrumbsItems () {
      const items = [
        {
          text: 'Vamos',
          disabled: false,
          href: '/'
        }, {
          text: 'Todos los coches',
          disabled: !this.facet,
          href: '/todos-los-coches'
        }
      ]

      if (this.facet) {
        items.push({
          text: this.facet ? this.facet.name : null,
          disabled: true,
          href: `/todos-los-coches/${this.facet ? this.facet.slug : null}`
        })
      }
      return items
    }
  }
}
</script>
